<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @fashion_bag.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @fashion_bag.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @fashion_bag.quantity %>
</p>

<p>
  <strong>Made by country:</strong>
  <%= @fashion_bag.made_by_country %>
</p>

<p>
  <strong>Made with:</strong>
  <%= @fashion_bag.made_with %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fashion_bag.description %>
</p>

<p>
  <strong>Bag type:</strong>
  <%= @fashion_bag.bag_type %>
</p>

<p>
  <strong>Size:</strong>
  <%= @fashion_bag.size %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @fashion_bag.brand %>
</p>

<%= link_to 'Edit', edit_fashion_bag_path(@fashion_bag) %> |
<%= link_to 'Back', fashion_bags_path %>
