<%= form_for(@buyer_report) do |f| %>
  <% if @buyer_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buyer_report.errors.count, "error") %> prohibited this buyer_report from being saved:</h2>

      <ul>
      <% @buyer_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :purchase_date %><br>
    <%= f.date_field :purchase_date, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>

  <div class="field" style="display:none;">
      <%= f.text_field :user_id, :class=>"form-control", :value => current_user.id %>
  </div>





  <div class="actions"><br/>
    <%= f.submit "submit", :class=>"btn btn-default" %>
  </div>
<% end %>
