<%= form_for(@medicine) do |f| %>
  <% if @medicine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medicine.errors.count, "error") %> prohibited this medicine from being saved:</h2>

      <ul>
      <% @medicine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :certification %><br>
    <%= f.text_field :certification %>
  </div>
  <div class="field">
    <%= f.label :ingredient %><br>
    <%= f.text_field :ingredient %>
  </div>
  <div class="field">
    <%= f.label :usage %><br>
    <%= f.text_area :usage %>
  </div>
  <div class="field">
    <%= f.label :made_by_country %><br>
    <%= f.text_field :made_by_country %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :caution %><br>
    <%= f.text_area :caution %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
