  <div class="col-md-6"> 

    <div class="panel panel-default">
        <div class="panel-body">
            <h4>New Makeup and Skincare</h4>
            <hr/>


            <%= form_for(@makeup_and_skincare, html: { multipart: true }) do |f| %>
              <% if @makeup_and_skincare.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@makeup_and_skincare.errors.count, "error") %> prohibited this product from being saved:</h2>

                  <ul>
                  <% @makeup_and_skincare.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>


            <div class="form-group" >
              <%= f.label :delivery_category %>
              <%= f.select(:delivery_category, MakeupAndSkincare::DELIVERY) %>
            </div>

              
 <div class="form-group" style="display:none;">
              <%= f.label :user_id %>
              <%= f.number_field :user_id, :value => current_user.id %>
            </div>
            

            <div class="form-group">
              <%= f.label :title %><br/>
              <%= f.text_field :title, :class=>"form-control"  %>
            </div>

            <div class="form-group">
              <%= f.label :category %><br/>
              <%= f.text_field :category, :class=>"form-control"  %>
            </div>
                  <div class="form-group">
               <%= f.label :price %><br/>
             <%= f.text_field :price , :class=>"form-control"  %>
            </div>

            <div class="form-group">
              <%= f.label :certification %><br/>
              <%= f.text_field :certification, :class=>"form-control"  %>
            </div>

            <div class="form-group">
              <%= f.label :ingredient %><br/>
              <%= f.text_field :ingredient, :class=>"form-control"  %>
            </div>
            

            <div class="form-group">
              <%= f.label :made_by_country %><br/>
              <%= f.text_field :made_by_country, :class=>"form-control"  %>
            </div>
            
            <div class="form-group">
              <%= f.label :brand %><br/>
              <%= f.text_field :brand, :class=>"form-control"  %>
            </div>



            <div class="form-group">
              <%= f.label :color %><br/>
              <%= f.text_field :color, :class=>"form-control"  %>
            </div>


            <div class="form-group">
              <%= f.label :effect %><br/>
              <%= f.text_field :effect, :class=>"form-control"  %>
            </div>
          
        </div>
    </div> 
  
  </div>
  <div class="col-md-6">

    <div class="panel panel-default">
        <div class="panel-body">
         <h4>Product Images (Width:250px High:200px for best view)</h4>
            <hr/>
         
               <!-- crop mage -->
               <div class="col-md-6">
                      <div class="image-editor1">

                          <%= f.file_field :avatar1, :class=>"cropit-image-input" %>
                          <div class="cropit-preview"></div>
                          <div class="image-size-label">
                            Resize image
                          </div>

                           <%= f.text_field :avatar1_edit, :class=>"form-control", :style=>"display:none"  %>


                            <input type="range" class="cropit-image-zoom-input" >

                          <div>
                              <span style="float:left;"><img src="/assets/leftclock.png" class="rotate-ccw"></span>
                              <span><img src="/assets/rightclock.png" class="rotate-cw"></span>
                              <span style="float:right;"><button class="exportav1">Confirm</button></span>
                          </div>
                  
                          

                        </div>
              </div>
               <div class="col-md-6">
                      <div class="image-editor2">

                          <%= f.file_field :avatar2, :class=>"cropit-image-input" %>
                          <div class="cropit-preview"></div>
                          <div class="image-size-label">
                            Resize image
                          </div>

                           <%= f.text_field :avatar2_edit, :class=>"form-control", :style=>"display:none"  %>


                            <input type="range" class="cropit-image-zoom-input" >

                          <div>
                              <span style="float:left;"><img src="/assets/leftclock.png" class="rotate-ccw"></span>
                              <span><img src="/assets/rightclock.png" class="rotate-cw"></span>
                              <span style="float:right;"><button class="exportav2">Confirm</button></span>
                          </div>
                  
                       

                        </div>
              </div>


                  <div class="col-md-6">
                      <div class="image-editor3">

                          <%= f.file_field :avatar3, :class=>"cropit-image-input" %>
                          <div class="cropit-preview"></div>
                          <div class="image-size-label">
                            Resize image
                          </div>

                           <%= f.text_field :avatar3_edit, :class=>"form-control", :style=>"display:none"  %>


                            <input type="range" class="cropit-image-zoom-input" >

                          <div>
                              <span style="float:left;"><img src="/assets/leftclock.png" class="rotate-ccw"></span>
                              <span><img src="/assets/rightclock.png" class="rotate-cw"></span>
                              <span style="float:right;"><button class="exportav3">Confirm</button></span>
                          </div>
                  
                       

                        </div>
              </div>



    <div class="col-md-6">
                      <div class="image-editor4">

                          <%= f.file_field :avatar4, :class=>"cropit-image-input" %>
                          <div class="cropit-preview"></div>
                          <div class="image-size-label">
                            Resize image
                          </div>

                           <%= f.text_field :avatar4_edit, :class=>"form-control", :style=>"display:none"  %>


                            <input type="range" class="cropit-image-zoom-input" >

                          <div>
                              <span style="float:left;"><img src="/assets/leftclock.png" class="rotate-ccw"></span>
                              <span><img src="/assets/rightclock.png" class="rotate-cw"></span>
                              <span style="float:right;"><button class="exportav4">Confirm</button></span>
                          </div>
                  
                       

                        </div>
              </div>
            <div class="form-group">
              <%= f.label :usage %><br/>
              <%= f.text_area :usage, :class=>"form-control", :rows => 4  %>
            </div>

                   <div class="form-group">
              <%= f.label :description %><br/>
              <%= f.text_area :description, :class=>"form-control", :rows => 4    %>
            </div>
           

            
        </div>
    </div>


  </div>

  <div class="col-md-12">

    <div class="panel panel-default">
        <div class="panel-body">

           <div class="actions">
            Please enter "Create" button to upload your
            make up and skincares product in your store.
            <span style="float:right;"><%= f.submit %></span>
          </div>

        </div>
    </div>
  </div>


<% end %>



    <script>
      $(function() {
        $('.image-editor1').cropit({

     minZoom: 'fit',
    imageState: {
            src: 'http://localhost:3000/',
          },
        });

        $('.image-editor2').cropit({

     minZoom: 'fit',
    imageState: {
            src: 'http://localhost:3000/',
          },
        });


        $('.image-editor3').cropit({

     minZoom: 'fit',
    imageState: {
            src: 'http://localhost:3000/',
          },
        });

        $('.image-editor4').cropit({

     minZoom: 'fit',
    imageState: {
            src: 'http://localhost:3000/',
          },
        });




        $('.rotate-cw').click(function() {
          $('.image-editor1').cropit('rotateCW');
        });
        $('.rotate-ccw').click(function() {
          $('.image-editor1').cropit('rotateCCW');
        });



        $('.rotate-cw').click(function() {
          $('.image-editor2').cropit('rotateCW');
        });
        $('.rotate-ccw').click(function() {
          $('.image-editor2').cropit('rotateCCW');
        });



        $('.rotate-cw').click(function() {
          $('.image-editor3').cropit('rotateCW');
        });
        $('.rotate-ccw').click(function() {
          $('.image-editor3').cropit('rotateCCW');
        });



        $('.rotate-cw').click(function() {
          $('.image-editor4').cropit('rotateCW');
        });
        $('.rotate-ccw').click(function() {
          $('.image-editor4').cropit('rotateCCW');
        });









        $('.exportav1').click(function() {
          var imageData1 = $('.image-editor1').cropit('export');
       
          document.getElementById("makeup_and_skincare_avatar1_edit").value = imageData1;
          // window.open(imageData);

        });




          $('.exportav2').click(function() {
          var imageData2 = $('.image-editor2').cropit('export');
       
          document.getElementById("makeup_and_skincare_avatar2_edit").value = imageData2;
          // window.open(imageData);

        });


           $('.exportav3').click(function() {
          var imageData3 = $('.image-editor3').cropit('export');
       
          document.getElementById("makeup_and_skincare_avatar3_edit").value = imageData3;
          // window.open(imageData);

        });


              $('.exportav4').click(function() {
          var imageData4 = $('.image-editor4').cropit('export');
       
          document.getElementById("makeup_and_skincare_avatar4_edit").value = imageData4;
          // window.open(imageData);

        });




      });
    </script>


