<div class="main-header">
			<div class="container">
				<div class="row">
				<!-- Search Starts -->
					<div class="col-md-3">
						<div id="search">
							<div class="input-group">
							  <input type="text" class="form-control input-lg" placeholder="Search">
							  <span class="input-group-btn">
								<button class="btn btn-lg" type="button">
									<i class="fa fa-search"></i>
								</button>
							  </span>
							</div>
						</div>	
					</div>
				<!-- Search Ends -->
				<!-- Logo Starts -->
					<div class="col-md-6">
						<div id="logo">
							<a href="#"><img src="/assets/logo.png" title="Spice Shoppe" alt="Spice Shoppe" class="img-responsive" /></a>
						</div>
					</div>
				<!-- Logo Starts -->				
				<!-- Shopping Cart Starts -->
					<div class="col-md-3">
						<div id="cart" class="btn-group btn-block">
							<button type="button" data-toggle="dropdown" class="btn btn-block btn-lg dropdown-toggle">
								<i class="fa fa-shopping-cart"></i>
								<span class="hidden-md">Cart:</span> 
								<span id="cart-total"> <%= (@cart.total_quantity) %> item(s) -   <%= (@cart.total_price) %> MMK</span>
								<i class="fa fa-caret-down"></i>
							</button>
							<ul class="dropdown-menu pull-right">
							    <li>
									<%= render (@cart.line_items) %>
								</li>
							
								<li>
									<p class="text-right btn-block1">
										<a href="/check_out">
											View Cart
										</a>
										<a href="/check_out">
											Checkout
										</a>
									</p>
								</li>

							</ul>
						</div>
					</div>
				<!-- Shopping Cart Ends -->
				</div>
			</div>
		</div>
	<!-- Main Header Ends -->
	<!-- Main Menu Starts -->
		<nav id="main-menu" class="navbar" role="navigation">
			<div class="container">
			<!-- Nav Header Starts -->
				<div class="navbar-header">
					<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
						<span class="sr-only">Toggle Navigation</span>
						<i class="fa fa-bars"></i>
					</button>
				</div>
			<!-- Nav Header Ends -->
			<!-- Navbar Cat collapse Starts -->
				<div class="collapse navbar-collapse navbar-cat-collapse">
					<ul class="nav navbar-nav">
										<li>
							<a href="/product_by_category?category=Apparel-Textiles-Accessories" class="btn btn-1">
				 					Accessories
				 			</a>

						</li>
						<li>
							<a href="/product_by_category?category=Electronics" class="btn btn-1">
				 					Electronics
				 			</a>
						</li>
						<li>
							<a href="/product_by_category?category=Health-Beauty" class="btn btn-1">
				 					Health & Beauty
				 			</a>
						</li>
						<li>
							<a href="/product_by_category?category=Bags-Shoes-Accessories" class="btn btn-1">
				 					Fashions
				 			</a>
						</li>

						<!--  -->
						<li>
							<a href="/product_by_category?category=Agriculture-Food" class="btn btn-1">
				 					Agricultures 
				 			</a>
						</li>
							<li>
							<a href="/product_by_category?category=Packaging-Advertising-Office" class="btn btn-1">
				 					Office
				 			</a>
						</li>
						
							<li>
							<a href="/product_by_category?category=Gifts-Sports-Toys" class="btn btn-1">
				 					Sports
				 			</a>
						</li>
							<li>
							<a href="/product_by_category?category=Auto-Transportation" class="btn btn-1">
				 					Auto Transportation
				 			</a>
						</li>
					</ul>
				</div>
			<!-- Navbar Cat collapse Ends -->
			</div>
		</nav>
	<!-- Main Menu Ends -->
	</header>
	<div class="container">
		<section class="products-list">			
						<!-- Heading Starts -->
							<h2 class="product-head">Specials Products</h2>
						<!-- Heading Ends -->
						<!-- Products Row Starts -->
							<div class="row">
							<!-- Product #1 Starts -->
							<% @bath_supplies.each do |bath_supply| %>
								<div class="col-md-3 col-sm-6">
									<div class="product-col">
										<div class="image">
											<% if !bath_supply.avatar1_file_name.nil?  %>
								                <%= image_tag bath_supply.avatar1.url, :id => "product_image" %>
								            <% else  %>      
												<img src="/assets/no_image.jpg" alt="product" class="img-responsive" />
								            <% end %>
										</div>
										<div class="caption">
											<h4>
												<a href="#"><%= bath_supply.title %></a>
											</h4>
											<div class="description">
											
											
											</div>
											<div class="price">
												<span class="price-new"><%= bath_supply.price %> MMK</span> 
												<span class="price-old"><%= bath_supply.price + 15 %> MMK</span>
											</div>
											<div class="cart-button">
											
											<%= button_to line_items_path(:product_id => bath_supply, :seller_id => bath_supply.seller_id), :class =>"btn btn-cart" do %>
											   Add to cart
											  <i class="fa fa-shopping-cart"></i> 
											<% end %>


																			
											</div>
										</div>
									</div>
								</div>
							<% end %>
							<!-- Product #1 Ends -->
							<!-- Product #2 Starts -->
								
							<!-- Product #3 Ends -->
							</div>
						<!-- Products Row Ends -->
		</section>
	</div>
		</div>
	</div>
</div>
