<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @makeup_and_skincare.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @makeup_and_skincare.category %>
</p>

<p>
  <strong>Certification:</strong>
  <%= @makeup_and_skincare.certification %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @makeup_and_skincare.ingredient %>
</p>

<p>
  <strong>Usage:</strong>
  <%= @makeup_and_skincare.usage %>
</p>

<p>
  <strong>Made by country:</strong>
  <%= @makeup_and_skincare.made_by_country %>
</p>

<p>
  <strong>Description:</strong>
  <%= @makeup_and_skincare.description %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @makeup_and_skincare.brand %>
</p>

<p>
  <strong>Color:</strong>
  <%= @makeup_and_skincare.color %>
</p>

<p>
  <strong>Effect:</strong>
  <%= @makeup_and_skincare.effect %>
</p>

<%= link_to 'Edit', edit_makeup_and_skincare_path(@makeup_and_skincare) %> |
<%= link_to 'Back', makeup_and_skincares_path %>
