<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @toy.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @toy.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @toy.quantity %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @toy.weight %>
</p>

<p>
  <strong>Made by country:</strong>
  <%= @toy.made_by_country %>
</p>

<p>
  <strong>Made with:</strong>
  <%= @toy.made_with %>
</p>

<p>
  <strong>Description:</strong>
  <%= @toy.description %>
</p>

<p>
  <strong>Color:</strong>
  <%= @toy.color %>
</p>

<p>
  <strong>Age group:</strong>
  <%= @toy.age_group %>
</p>

<%= link_to 'Edit', edit_toy_path(@toy) %> |
<%= link_to 'Back', toys_path %>
