<%= render 'layouts/defaultnav' %>

 
<div class="rows" style="padding:10px;">


<ul class="nav nav-tabs">
  <li role="presentation" ><a href="/admin_manage_shop">Manage Shop</a></li>
  <li role="presentation"><a href="/admin_manage_product">View Products</a></li>
  <li role="presentation" class="active"><a href="/admin_manage_seller">Manage Seller</a></li>
  <li role="presentation"><a href="/admin_manage_buyer">Manage Buyer</a></li>
  <li role="presentation"><a href="/set_today_deal">Set today deal</a></li>

  <li role="presentation"><a href="/admin_view_order_report">Order Report</a></li>
  <li role="presentation"><a href="/admin_view_product_report ">Product Report</a></li>
  <li role="presentation"><a href="/admin_view_user_report ">User Report</a></li>
    <li role="presentation"><a href="/hot_items ">Hot Items</a></li>

</ul>
	<br/>
   
    <div class="well well-sm"> <h4>Sellers</h4></div>

    <ul class="nav nav-pills">
      <li role="presentation"><a href="/admin_manage_seller">All</a></li>
      <li role="presentation"><a href="/admin_manage_personal_user">Personal user</a></li>
      <li role="presentation"><a href="/admin_manage_retail_user">Retail user</a></li>
      <li role="presentation" class="active"><a href="/admin_manage_company_user">Companies</a></li>
    </ul><br/>

    <table class="table table-bordered">
      <thead>
        <tr>
            
            <th>status</th>
          	<th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Has store</th>
            <th>Company</th>
            <th>Action</th>

        </tr>
      </thead>

      <tbody>
         <% @sellers.each do |seller| %>
          <tr>
            <td>
               <% if seller.admin_approved == "f" %>
                  <img src="/assets/unapprove.png" title="myanmar_dealer" alt="myanmar_dealer" />
               <% elsif seller.admin_approved == "t" %>
                  <img src="/assets/approve.png" title="myanmar_dealer" alt="myanmar_dealer" />
               <% else %>
                  <img src="/assets/caution.png" title="myanmar_dealer" alt="myanmar_dealer" />
               <% end %>



            </td>
            <td><%= seller.name %></td>
            <td><%= seller.email %></td>
            <td><%= seller.phone %></td>
            <td><%= seller.address %></td>
            <td><%= seller.has_store %></td>
            <td><%= seller.company_name %></td>
            <td><%= link_to 'Remove', seller, :class=>"btn btn-danger btn-xs", :remote => true, method: :delete, data: { confirm: 'Are you sure?' } %>

              <%= link_to 'Approve', approve_seller_path(seller), :class=>"btn btn-default btn-xs", method: :put, data: { confirm: 'Are you sure you want to approve?' } %>

             <%= link_to 'Close', unapprove_seller_path(seller), :class=>"btn btn-default btn-xs", method: :put, data: { confirm: 'Are you sure you want to approve?' } %>



            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

</div>