<%= render 'layouts/defaultnav' %>

 
<div class="rows" style="padding:10px;">

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/admin_manage_shop">Manage Shop</a></li>
  <li role="presentation"><a href="/admin_manage_product">View Products</a></li>
  <li role="presentation"><a href="/admin_manage_seller">Manage Seller</a></li>
  <li role="presentation" class="active"><a href="/admin_manage_buyer">Manage Buyer</a></li>
  <li role="presentation"><a href="/set_today_deal">Set today deal</a></li>
</ul>
	<br/>
   

    <div class="well well-sm"> <h4>Buyers</h4></div>

    <table class="table table-bordered">
      <thead>
        <tr>

          	<th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Has store</th>
            <th>Company</th>
            <th>Action</th>

        </tr>
      </thead>

      <tbody>
         <% @buyers.each do |buyer| %>
          <tr>
            <td><%= buyer.name %></td>
            <td><%= buyer.email %></td>
            <td><%= buyer.phone %></td>
            <td><%= buyer.address %></td>
            <td>No</td>
            <td>No</td>
            <td><%= link_to 'Remove', buyer, :class=>"btn btn-danger btn-xs", :remote => true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

</div>