	<%= render 'layouts/defaultnav' %>	

	<br/><div class="row" style="margin:10px;">
		<section class="products-list">		
	
						<!-- Heading Starts -->
							<h2 class="product-head">Car and its Accessories</h2>
						<!-- Heading Ends -->
						<!-- Products Row Starts -->
							<div class="row">
							<!-- Product #1 Starts -->
							<% @car_accessories.each do |car_accessory| %>
								<div class="col-md-3 col-sm-6">
									<div class="product-col">
										<div class="image">
											<% if !car_accessory.avatar1_file_name.nil?  %>
								                <%= image_tag car_accessory.avatar1.url, :id => "product_image" %>
								            <% else  %>      
												<img src="/assets/no_image.jpg" alt="product" class="img-responsive" />
								            <% end %>
										</div>
										<div class="caption">
											<h4>
											<%= link_to car_accessory.title, full_productinfo_car_accessories_path(:id => car_accessory) %>
											</h4>
											<div class="description">
											
											
											</div>
											<div class="price">
												<span class="price-new"><%= car_accessory.price.to_i %> MMK</span> 
												<span class="price-old"><%= car_accessory.price.to_i + 15 %> MMK</span>
											</div>
											<div class="cart-button">
											
											<%= button_to line_items_path(:mmdealer_code => "car_accessories"+car_accessory.id.to_s, :user_id => car_accessory.user_id), :class =>"btn btn-cart" do %>
											   <%=t :add_to_cart %>
											  <i class="fa fa-shopping-cart"></i> 
											<% end %>


																			
											</div>
										</div>
									</div>
								</div>
							<% end %>
							<!-- Product #1 Ends -->
							<!-- Product #2 Starts -->
								
							<!-- Product #3 Ends -->
							</div>
						<!-- Products Row Ends -->
		</section>
	</div>
		</div>
	</div>
</div>
