<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @car_accessory.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car_accessory.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @car_accessory.quantity %>
</p>

<p>
  <strong>Size:</strong>
  <%= @car_accessory.size %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @car_accessory.weight %>
</p>

<p>
  <strong>Made by country:</strong>
  <%= @car_accessory.made_by_country %>
</p>

<p>
  <strong>Made with:</strong>
  <%= @car_accessory.made_with %>
</p>

<p>
  <strong>Description:</strong>
  <%= @car_accessory.description %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @car_accessory.brand %>
</p>

<p>
  <strong>Specification:</strong>
  <%= @car_accessory.specification %>
</p>

<p>
  <strong>Modal number:</strong>
  <%= @car_accessory.modal_number %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car_accessory.color %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @car_accessory.feature %>
</p>

<%= link_to 'Edit', edit_car_accessory_path(@car_accessory) %> |
<%= link_to 'Back', car_accessories_path %>
