

            <%= form_for(@training_and_school, html: { multipart: true }) do |f| %>
              <% if @training_and_school.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@training_and_school.errors.count, "error") %> prohibited this product from being saved:</h2>

                  <ul>
                  <% @training_and_school.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

             <div class="form-group" style="display:none;">
              <%= f.label :seller_id %>
              <%= f.number_field :seller_id, :value => current_seller.id %>
            </div>

            <div class="form-group">
              <%= f.label :title %><br/>
              <%= f.text_field :title, :class=>"form-control"  %>
            </div>

            <div class="form-group">
              <%= f.label :fees %><br/>
              <%= f.text_field :fees, :class=>"form-control"  %>
            </div>

             <div class="form-group">
              <%= f.label :period %><br/>
              <%= f.text_field :period, :class=>"form-control"  %>
            </div>

              <div class="form-group">
              <%= f.label :school %><br/>
              <%= f.text_field :school, :class=>"form-control"  %>
            </div>



              <div class="form-group">
              <%= f.label :description %><br/>
              <%= f.text_area :description, :class=>"form-control"  %>
            </div>
            


        </div>
    </div> 
  
  </div>
  <div class="col-md-6">

    <div class="panel panel-default">
        <div class="panel-body">
         <h4>Product Images</h4>
            <hr/>
          <div class="form-group">
              <label>Image1</label>
              <%= f.file_field :avatar1 %>
          </div>
          <div class="form-group">
              <label>Image2</label>
              <%= f.file_field :avatar2 %>
          </div>
          <div class="form-group">
              <label>Image3</label>
              <%= f.file_field :avatar3 %>
          </div>
          <div class="form-group">
              <label>Image4</label>
              <%= f.file_field :avatar4 %>
          </div>
          <div class="form-group">
              <label>Image5</label>
              <%= f.file_field :avatar5 %>
          </div>
           

            
        </div>
    </div>


  </div>

  <div class="col-md-12">

    <div class="panel panel-default">
        <div class="panel-body">

           <div class="actions">
            Please enter "Create" button to upload your
            training and school in your store.
            <span style="float:right;"><%= f.submit %></span>
          </div>

        </div>
    </div>
  </div>


<% end %>