<%= render 'layouts/defaultnav' %>  

  
<div id="main-container" class="container">
  <!-- Breadcrumb Starts -->
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active">Open store</li>
    </ol>
  <!-- Breadcrumb Ends -->
  <!-- Main Heading Starts -->
    <h2 class="main-heading text-center">
      New Store
    </h2>
  <!-- Main Heading Ends -->
  <!-- Login Form Section Starts -->
    <section class="login-area">
      <div class="row">
       <%= form_for(@store, html: { multipart: true }) do |f| %>
       	  <% if @store.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

				      <ul>
				      <% @store.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				      </ul>
				    </div>
		<% end %>
      	<div class="col-sm-6">
        <!-- Account Panel Starts -->
          <div class="panel panel-smart">
            <div class="panel-heading">
              <h3 class="panel-title">
                  Store logo
                 
              </h3>
            </div>
            <div class="panel-body">
              <p>
                 <%= f.file_field :avatar %>
              </p>

 
            </div>
          </div>

           <div class="panel panel-smart">
            <div class="panel-heading">
              <h3 class="panel-title">
                About your store
              </h3>
            </div>
            <div class="panel-body">
              	  <%= f.text_area :description, :class=>"form-control",  :cols=>"10", :rows=>"2" %>
            </div>

             <div class="panel-heading">
              <h3 class="panel-title">
                Terms and conditions
              </h3>
            </div>
            <div class="panel-body">
                  <%= f.text_area :term, :class=>"form-control",  :cols=>"10", :rows=>"2" %>
            </div>

          </div>
        <!-- Account Panel Ends -->
        </div>
        <div class="col-sm-6">
        <!-- Login Panel Starts -->
          <div class="panel panel-smart">
            <div class="panel-heading">
              <h3 class="panel-title">Store information</h3>
            </div>
            <div class="panel-body">
              <p>
                Edit your store informations
              </p>

				  <div class="form-group">
				    <%= f.label :store_name %><br>
				    <%= f.text_field :store_name, :class=>"form-control" %>
				  </div>
				  <div class="form-group">
				    <%= f.label :store_address %><br>
				    <%= f.text_field :store_address, :class=>"form-control" %>
				  </div>
				  <div class="form-group">
				    <%= f.label :store_contact %><br>
				    <%= f.text_field :store_contact, :class=>"form-control" %>
				  </div>
				  <div class="form-group" style="display:none;">
				    <%= f.label :user_id %><br>
				    <%= f.number_field :user_id,  :value => current_user.id ,:class=>"form-control" %>
				  </div>
				  <div class="form-group">
				    <%= f.label :seller_name %><br>
				    <%= f.text_field :seller_name,:class=>"form-control" %>
				  </div>
				  <div class="actions">
				    <%= f.submit :id => "create_store" %>
				  </div>
  
            </div>
          </div>
        <!-- Login Panel Ends -->
        </div>
         <div class="col-sm-12">
            <div class="panel panel-smart">
                <div class="panel-heading">
                  <h3 class="panel-title">Store ads</h3>
                </div>
                <div class="panel-body">

                      <p>
                         <%= f.file_field :ads_one %>
                         width 700px height 300px for best view
                      </p>

                      <p>
                         <%= f.file_field :ads_two %>
                          width 700px height 300px for best view
                      </p>
                </div>
            </div>


         </div>
    <% end %>
   </div>
  </section>
  <!-- Login Form Section Ends -->
  </div>

