

<div class="row">
  <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
            <img src="/assets/product-images/8.jpg" alt="product" class="img-responsive" />
        </div>
      </div>
  </div>
  <div class="col-md-9">
    
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Your store information</h3>
        </div>
        <div class="panel-body">
              <p id="notice"><%= notice %></p>

            
				<p>
				  <strong>Store name:</strong>
				  <%= @store.store_name %>
				</p>

				<p>
				  <strong>Contact number:</strong>
				  <%= @store.contact_number %>
				</p>

				<p>
				  <strong>Contact address:</strong>
				  <%= @store.contact_address %>
				</p>

				<p>
				  <strong>Owner:</strong>
				  <%= @store.owner %>
				</p>
        </div>
      </div>


  </div>
</div>









<%= link_to 'Edit', edit_store_path(@store), :class =>"btn btn-default" %> |
<%= link_to 'Back', stores_path, :class =>"btn btn-default" %>
