<p id="notice"><%= notice %></p>

<p>
  <strong>Store name:</strong>
  <%= @store.store_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @store.contact_number %>
</p>

<p>
  <strong>Contact address:</strong>
  <%= @store.contact_address %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @store.owner %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
