<div class="col-md-12">
  <div class="col-md-3">


        <div class="panel panel-default">
          <div class="panel-body">
          <center>
             <%= image_tag @store.avatar.url(:thumb), :id => "store_avatar" %>
             
          </center> 
          <br/>
           
          </div>
        </div>


  </div>

  <div class="col-md-5">


        <div class="panel panel-default">
          <div class="panel-body">

           
            About store
            <hr/>
            <%= @store.description %>
          </div>
        </div>


  </div>
  <div class="col-md-4">
    
            <ul class="list-group">
                <li class="list-group-item">Store: 
                <span style="color:grey;"><%= @store.store_name %></span></li>
               
                <li class="list-group-item">Address: 
                 <span style="color:grey;"><%= @store.store_address %></span></li>
          
                <li class="list-group-item">Contact: 
                 <span style="color:grey;"><%= @store.store_contact %>
                 </span></li>

          
               
                <li class="list-group-item">Seller:
                 <span style="color:grey;"> <%= @store.seller_name %>
                 </span></li>

                 <li class="list-group-item">
                 <%= link_to 'edit store profile here', edit_store_path(@store) %>
                 </li>
            </ul>
        
  </div>




<div class="col-md-12">

<div class="page-header">
  <h3>Products <small> list of available products</small></h3>
  <table class="table table-hover" border="0">
     
        <tr>
          <td><h4><b>Fashions related</b></h4>
           
                <br/> Clothings
                <br/> Hats
                <br/> Footwears
                <br/> Bags
                <br/> Accessories
          </td>
          <td><h4><b>Electronics</b></h4>

                <br/>Electrical Equipments
                <br/>Telephone and Accessories
                <br/>Computers and Laptops
                <br/>Home Appliance 

          </td>
          <td><h4><b>Health & Beauty</b></h4>

                  <br/>Medicine
                  <br/>Beauty Equipments
                  <br/>Makeup and Skincare
                  <br/>Bath supply

          </td>
          <td><h4><b>Industrial Parts Tools</b></h4>

                   <br/>Industrial Equipments
                   <br/>Instruments
                   <br/>Machines

          </td>

          <td><h4><b>Auto Transportation</b></h4>

                  <br/>Motorcycle Accessories
                  <br/>Motorcar Accessories
          </td>

          <td><h4><b>Gifts Sports Toys</b></h4>

                  <br/> Special Gifts 
                  <br/> Sports Accessories
                  <br/> Toys

          </td>
          <td><h4><b>Services</b></h4>

                <br/>Training and School
                <br/>Other Services

          </td>
        </tr>
     
    </table>
</div>

<h5>Listing Products
<%= link_to 'New Product', new_product_path %>
</h5>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Color</th>
      <th>Size</th>
      <th>Weight</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.color %></td>
        <td><%= product.size %></td>
        <td><%= product.weight %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div>

</div>





 

