<p id="notice"><%= notice %></p>

<p>
  <strong>Store name:</strong>
  <%= @store.store_name %>
</p>

<p>
  <strong>Store address:</strong>
  <%= @store.store_address %>
</p>

<p>
  <strong>Store contact:</strong>
  <%= @store.store_contact %>
</p>

<p>
  <strong>Description:</strong>
  <%= @store.description %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @store.seller_id %>
</p>

<p>
  <strong>Seller name:</strong>
  <%= @store.seller_name %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
