<div class="col-md-12">
  <div class="col-md-3">


        <div class="panel panel-default">
          <div class="panel-body">
          <center>
             <%= image_tag @store.avatar.url(:thumb), :id => "store_avatar" %>
             
          </center> 
          <br/>
           
          </div>
        </div>


  </div>

  <div class="col-md-5">


        <div class="panel panel-default">
          <div class="panel-body">

           
            About store
            <hr/>
            <%= @store.description %>
          </div>
        </div>


  </div>
  <div class="col-md-4">
    
            <ul class="list-group">
                <li class="list-group-item">Store: 
                <span style="color:grey;"><%= @store.store_name %></span></li>
               
                <li class="list-group-item">Address: 
                 <span style="color:grey;"><%= @store.store_address %></span></li>
          
                <li class="list-group-item">Contact: 
                 <span style="color:grey;"><%= @store.store_contact %>
                 </span></li>

          
               
                <li class="list-group-item">Seller:
                 <span style="color:grey;"> <%= @store.seller_name %>
                 </span></li>

                 <li class="list-group-item">
                 <%= link_to 'edit store profile here', edit_store_path(@store) %>
                 </li>
            </ul>
        
  </div>




<div class="col-md-12">

<div class="page-header">
  <h3>Products <small> list of available products</small></h3>
  <table class="table table-hover" border="0">
     
        <tr>
          <td><h4><b>Fashions related</b></h4>
           
                <br/> <a href="/fashion_clothings/new">Clothings</a>
                <br/> <a href="/fashion_hats/new">Hats</a>
                <br/> <a href="/fashion_footwears/new">Footwears</a>
                <br/> <a href="/fashion_bags/new">Bags</a>
                <br/> <a href="/fashion_accessories/new">Accessories</a>
          </td>
          <td><h4><b>Electronics</b></h4>

                <br/> <a href="/electrical_equipments/new">Electrical Equipments</a>
                <br/> <a href="/telephone_accessories/new">Telephone and Accessories</a>
                <br/> <a href="/computers/new">Computers and Laptops</a>
                <br/> <a href="/home_appliances/new">Home Appliance </a>

          </td>
          <td><h4><b>Health & Beauty</b></h4>

                  <br/> <a href="/medicines/new">Medicine </a>
                  <br/> <a href="/beauty_equipments/new">Beauty Equipments </a>
                  <br/> <a href="/makeup_and_skincares/new">Makeup and Skincare </a>
                  <br/> <a href="/bath_supplies/new">Bath supply </a>

          </td>
          <td><h4><b>Industrial Parts Tools</b></h4>

                   <br/>  <a href="/equipment/new">Industrial Equipments </a>
                   <br/>   <a href="/instruments/new">Instruments </a>
                   <br/>   <a href="/machines/new">Machines </a>

          </td>

          <td><h4><b>Auto Transportation</b></h4>

                  <br/>  <a href="/motorcycle_accessories/new">Motorcycle Accessories </a>
                  <br/>  <a href="/car_accessories/new">Motorcar Accessories </a>
          </td>

          <td><h4><b>Gifts Sports Toys</b></h4>

                  <br/>  <a href="/gifts/new">Special Gifts </a>
                  <br/>  <a href="/sports/new">Sports Accessories </a>
                  <br/>  <a href="/toys/new">Toys </a>

          </td>
          <td><h4><b>Services</b></h4>

                <br/>  <a href="/training_and_schools/new">Training and School </a>
                <br/>   <a href="/services/new">Other Services </a>

          </td>
        </tr>
     
    </table>
</div>


<br>


</div>

</div>





 

