<div class="col-md-12">
  <div class="col-md-3">


        <div class="panel panel-default">
          <div class="panel-body">
          <center>
             <%= image_tag @store.avatar.url(:thumb), :id => "store_avatar" %>
          </center> 
          <br/>
           
          </div>
        </div>


  </div>

  <div class="col-md-5">


        <div class="panel panel-default">
          <div class="panel-body">

           
            About store
            <hr/>
            <%= @store.description %>
          </div>
        </div>


  </div>
  <div class="col-md-4">
    
            <ul class="list-group">
                <li class="list-group-item">Store: 
                <span style="color:grey;"><%= @store.store_name %></span></li>
               
                <li class="list-group-item">Address: 
                 <span style="color:grey;"><%= @store.store_address %></span></li>
          
                <li class="list-group-item">Contact: 
                 <span style="color:grey;"><%= @store.store_contact %>
                 </span></li>

          
               
                <li class="list-group-item">Seller:
                 <span style="color:grey;"> <%= @store.seller_name %>
                 </span></li>

                 <li class="list-group-item">
                 <%= link_to 'exdit store profile here', edit_store_path(@store) %>
                 </li>
            </ul>
        
  </div>
</div>



 

