<%= form_for(@fashion_footwear) do |f| %>
  <% if @fashion_footwear.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fashion_footwear.errors.count, "error") %> prohibited this fashion_footwear from being saved:</h2>

      <ul>
      <% @fashion_footwear.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :made_by_country %><br>
    <%= f.text_field :made_by_country %>
  </div>
  <div class="field">
    <%= f.label :made_with %><br>
    <%= f.text_field :made_with %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :footwear_type %><br>
    <%= f.text_field :footwear_type %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
