<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @fashion_footwear.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @fashion_footwear.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @fashion_footwear.quantity %>
</p>

<p>
  <strong>Made by country:</strong>
  <%= @fashion_footwear.made_by_country %>
</p>

<p>
  <strong>Made with:</strong>
  <%= @fashion_footwear.made_with %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fashion_footwear.description %>
</p>

<p>
  <strong>Footwear type:</strong>
  <%= @fashion_footwear.footwear_type %>
</p>

<p>
  <strong>Size:</strong>
  <%= @fashion_footwear.size %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @fashion_footwear.brand %>
</p>

<%= link_to 'Edit', edit_fashion_footwear_path(@fashion_footwear) %> |
<%= link_to 'Back', fashion_footwears_path %>
