	<%= render 'layouts/defaultnav' %>	
	<br/><div class="row" style="margin:10px;">
		<section class="products-list">		
	
						<!-- Heading Starts -->
							<h2 class="product-head">Beauty & its Equipments</h2>
						<!-- Heading Ends -->
						<!-- Products Row Starts -->
							<div class="row">
							<!-- Product #1 Starts -->
							<% @beauty_equipments.each do |beauty_equipment| %>
								<div class="col-md-2 col-sm-6">
									<div class="product-col">
										<div class="image">
											<% if !beauty_equipment.avatar1_file_name.nil?  %>
								                <%= image_tag beauty_equipment.avatar1.url, :id => "product_crop_image" %>
								            <% else  %>      
												<img src="/assets/no_image.jpg" alt="product" class="img-responsive" />
								            <% end %>
										</div>
										<div class="caption">
											<h6>
												
												<%= link_to beauty_equipment.title, product_full_path(:id => beauty_equipment) %>
											</h6>
											
											<div class="price">
												<span class="price-new"><%= beauty_equipment.price.to_i %> MMK</span> 
												
											</div>
											<div class="cart-button">
											
											<%= button_to line_items_path(:mmdealer_code => "beauty_equipments"+beauty_equipment.id.to_s, :user_id => beauty_equipment.user_id), :class =>"btn btn-cart" do %>
											    Add to cart &nbsp;&nbsp;
											  
											<% end %>


																			
											</div>
										</div>
									</div>
								</div>
							<% end %>
							<!-- Product #1 Ends -->
							<!-- Product #2 Starts -->
								
							<!-- Product #3 Ends -->
							</div>
						<!-- Products Row Ends -->
		</section>
	</div>
		</div>
	</div>
</div>
