<div class="container">
     <div class="row">

     <!-- side menu -->
     	 <div class="col-md-3">
     	 	<p class="mytitle"> <%=t :category %> </p>



     	 	

     	 	<div class="list-group categories">


     	 	<nav id="mysidebarmenu" class="amazonmenu">
				<ul>
					<li><a href="#" id="side_menu", class= "list-group-item">Fashions Men / Women</a>
						<div>
						  <ul>
							  <li><a href="/product_fashion_clothings">Clothing</a></li>
							  <li><a href="/product_fashion_hats">Hats</a></li>
							  <li><a href="/product_fashion_accessories">Accessories</a></li>
						  </ul>
						</div>
					</li>

					<li><a href="/product_fashion_footwears" id="side_menu", class= "list-group-item">Shoes</a>
					</li>

					<li><a href="/product_fashion_bags" id="side_menu", class= "list-group-item">Bags</a>
					</li>

				
					<li><a href="#" id="side_menu", class= "list-group-item"> Cosmetic </a>
						<div>
						  <ul>
							  <li><a href="/product_bath_supplies">Bath Supplies</a></li>
							  <li><a href="/product_beauty_equipments">Beauty Equipment</a></li>
                               <li><a href="/product_makeup_and_skincares">Makeup and Skincares</a></li>
							  
						  </ul>
						</div>
					</li>


					<li><a href="#" id="side_menu", class= "list-group-item"> Books & Accessories </a>
					</li>


					<li><a href="#" id="side_menu", class= "list-group-item"> Computer & Accessories </a>
						<div>
						  <ul>
							  <li><a href="/product_computers">Computers</a></li>
						  </ul>
						</div>
					</li>

				    <li><a href="/product_telephone_accessories" id="side_menu", class= "list-group-item"> Phone & Accessories </a>
					</li>

					<li><a href="/product_home_appliances" id="side_menu", class= "list-group-item"> Home Appliance </a>
					</li>

					<li><a href="#" id="side_menu", class= "list-group-item"> Furniture </a>
					</li>

				


					<li><a href="#" id="side_menu", class= "list-group-item"> Tools and Hardware </a>
						<div>
						  <ul>
							  <li><a href="/product_machines">Machines</a></li>
							  <li><a href="/product_equipments">Equipments</a></li>
							  <li><a href="/product_instruments">Instruments</a></li>
						  </ul>
						</div>
					</li>

					<li><a href="#" id="side_menu", class= "list-group-item"> Car Accessories </a>
						<div>
						  <ul>
							  <li><a href="/product_car_accessories">Motor Car</a></li>
							  <li><a href="/product_motorcycle_accessories">Motor Cycle</a></li>
						  </ul>
						</div>
					</li>

					<li><a href="/product_sports" id="side_menu", class= "list-group-item"> Sports </a>
					</li>

					
					 <li><a href="/product_medicines" id="side_menu", class= "list-group-item"> Medicines </a>
					</li>


					 <li><a href="/product_gifts" id="side_menu", class= "list-group-item"> Gifts </a>
					</li>






				
					</ul>
				</nav>

							
							
			</div>
     	 	


     	 </div>
     	 <div class="col-md-6">
     	  	<p class="mytitle"> Hot sale</p>

		     	  	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							 

							  <!-- Wrapper for slides -->
							  <div class="carousel-inner" role="listbox">
							    <div class="item active">
							       <%= image_tag 'slide1.png' %>
							   
							    </div>
							    <div class="item">
							       <%= image_tag 'slide1.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'slide1.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'slide1.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'slide1.png' %>
							    </div>
							  </div>

							 
					</div>
					<br/>
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner" role="listbox">
							    <div class="item active">
							       <%= image_tag 'slide2.png' %>
							   
							    </div>
							    <div class="item">
							       <%= image_tag 'slide2.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'slide2.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'slide2.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'slide2.png' %>
							    </div>
							  </div>

							
					</div>


		</div>
     	  <div class="col-md-3">
     	  	

     	  			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							 
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner" role="listbox">
							    <div class="item active">
							       <%= image_tag 'leftslide1.png' %>
							   
							    </div>
							    <div class="item">
							       <%= image_tag 'leftslide1.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'leftslide1.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'leftslide1.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'leftslide1.png' %>
							    </div>
							  </div>

							  <!-- Controls -->
							 
					</div>
					<br/>

					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							 
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner" role="listbox">
							    <div class="item active">
							       <%= image_tag 'mleftslide1.png' %>
							   
							    </div>
							    <div class="item">
							       <%= image_tag 'mleftslide1.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'mleftslide1.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'mleftslide1.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'mleftslide1.png' %>
							    </div>
							  </div>

							  <!-- Controls -->
							 
					</div>

	
     	  </div>

    

     </div>
</div>

<br/>

<div class="container">
     <div class="row">

			 <div class="col-md-12" >
			     	 	<p class="mytitle"> Big Deals </p>

			     	 	<% @products.each do |product| %>
						<div class="col-md-3">
							<div class="product-col">
								<div class="image">
								<% if !product.avatar1_file_name.nil?  %>
					                <%= image_tag product.avatar1.url, :id => "product_image" %>
					            <% else  %>      
									<img src="/assets/no_image.jpg" alt="product" class="img-responsive" />
					            <% end %>
								</div>
								<div class="caption">
									<h4>
										<%= link_to product.title, product_full_path(:id => product) %>
									</h4>
								
									<div class="price">
										<span class="price-new"><%= product.price.to_i %> <%=t :MMK %></span> 
										
									</div>
									<div class="cart-button">
									
									<%= button_to line_items_path(:mmdealer_code => product.category.to_s+product.id.to_s, :user_id => product.user_id), remote: true, :onclick =>"cartFunction#{product.id}()", :data => product.price.to_i , :id => "btn_to_cart", :class =>"btn btn-cart" do %>
									   <%=t :add_to_cart %>



									  <i class="fa fa-shopping-cart"></i> 
									<% end %>


																	
									</div>
								</div>
							</div>
						</div>
					<% end %>


			 </div>
	</div>
</div>


