
  <!-- for mobile big deals -->
  <div id="desktop_hide">


               <div id="logo_img">
                        <img src="/assets/slide2.png" title="myanmar_dealer" alt="myanmar_dealer" class="img-responsive"  />
                    </div>

       <% if user_signed_in? %>
           <p class="mytitle"> Hello,   <%= current_user.name %> </p>
           <p> &nbsp; Welcome from Myanmar Dealer.com</p> 
       <% end %>


       <p class="mytitle"> Big Deals</p>
       <div class="container">      
              <% @big_deals.each do |big_deal| %>
                <div class="col-xs-4 col-md-4">
                     <%= link_to image_tag(big_deal.avatar1_edit, :style=>"height:100px;width:100px;"), mobile_product_detail_path(:id => big_deal), :id => "product_image" %>
                      
                      <span style="font-size:11px;"><%= big_deal.price.to_i %> <%=t :MMK %> </span>
                      <p style="font-size:9px;"><%= big_deal.title %> </p>
                </div>
              <% end %>
      </div> 


       <p class="mytitle"> Women Fashons</p>
       <div class="container">      
              <% @women_fashions.each do |women_fashion| %>
                <div class="col-xs-4 col-md-4">
                     <%= link_to image_tag(women_fashion.avatar1_edit, :style=>"height:100px;width:100px;"), mobile_product_detail_path(:id => women_fashion), :id => "product_image" %>
                      
                      <span style="font-size:11px;"><%= women_fashion.price.to_i %> <%=t :MMK %> </span>
                      <p style="font-size:9px;"><%= women_fashion.title %> </p>
                </div>
              <% end %>
      </div> 



       <p class="mytitle"> Men Fashions</p>
       <div class="container">      
              <% @men_fashions.each do |men_fashion| %>
                <div class="col-xs-4 col-md-4">
                     <%= link_to image_tag(men_fashion.avatar1_edit, :style=>"height:100px;width:100px;"), mobile_product_detail_path(:id => men_fashion), :id => "product_image" %>
                      
                      <span style="font-size:11px;"><%= men_fashion.price.to_i %> <%=t :MMK %> </span>
                      <p style="font-size:9px;"><%= men_fashion.title %> </p>
                </div>
              <% end %>
      </div> 


      <p class="mytitle"> Fashion Accessories</p>
       <div class="container">      
              <% @fashion_accessories.each do |fashion_accessory| %>
                <div class="col-xs-4 col-md-4">
                     <%= link_to image_tag(fashion_accessory.avatar1_edit, :style=>"height:100px;width:100px;"), mobile_product_detail_path(:id => fashion_accessory), :id => "product_image" %>
                      
                      <span style="font-size:11px;"><%= fashion_accessory.price.to_i %> <%=t :MMK %> </span>
                      <p style="font-size:9px;"><%= fashion_accessory.title %> </p>
                </div>
              <% end %>
      </div> 


        <p class="mytitle"> Bags</p>
       <div class="container">      
              <% @bags.each do |bag| %>
                <div class="col-xs-4 col-md-4">
                     <%= link_to image_tag(bag.avatar1_edit, :style=>"height:100px;width:100px;"), mobile_product_detail_path(:id => bag), :id => "product_image" %>
                      
                      <span style="font-size:11px;"><%= bag.price.to_i %> <%=t :MMK %> </span>
                      <p style="font-size:9px;"><%= bag.title %> </p>
                </div>
              <% end %>
      </div> 


      <p class="mytitle"> Shoes</p>
       <div class="container">      
              <% @shoes.each do |shoe| %>
                <div class="col-xs-4 col-md-4">
                     <%= link_to image_tag(shoe.avatar1_edit, :style=>"height:100px;width:100px;"), mobile_product_detail_path(:id => shoe), :id => "product_image" %>
                      
                      <span style="font-size:11px;"><%= shoe.price.to_i %> <%=t :MMK %> </span>
                      <p style="font-size:9px;"><%= shoe.title %> </p>
                </div>
              <% end %>
      </div> 


      <p class="mytitle"> Beauty & Health</p>
       <div class="container">      
              <% @beauty_equipments.each do |beauty_equipment| %>
                <div class="col-xs-4 col-md-4">
                     <%= link_to image_tag(beauty_equipment.avatar1_edit, :style=>"height:100px;width:100px;"), mobile_product_detail_path(:id => beauty_equipment), :id => "product_image" %>
                      
                      <span style="font-size:11px;"><%= beauty_equipment.price.to_i %> <%=t :MMK %> </span>
                      <p style="font-size:9px;"><%= beauty_equipment.title %> </p>
                </div>
              <% end %>
      </div> 

      <p class="mytitle"> Kid Fashion & Toy</p>
       <div class="container">      
              <% @toys.each do |toy| %>
                <div class="col-xs-4 col-md-4">
                     <%= link_to image_tag(toy.avatar1_edit, :style=>"height:100px;width:100px;"), mobile_product_detail_path(:id => toy), :id => "product_image" %>
                      
                      <span style="font-size:11px;"><%= toy.price.to_i %> <%=t :MMK %> </span>
                      <p style="font-size:9px;"><%= toy.title %> </p>
                </div>
              <% end %>
      </div> 


      <p class="mytitle"> Mobile Phone & Accessories</p>
       <div class="container">      
              <% @mobile_phones.each do |mobile_phone| %>
                <div class="col-xs-4 col-md-4">
                     <%= link_to image_tag(mobile_phone.avatar1_edit, :style=>"height:100px;width:100px;"), mobile_product_detail_path(:id => mobile_phone), :id => "product_image" %>
                      
                      <span style="font-size:11px;"><%= mobile_phone.price.to_i %> <%=t :MMK %> </span>
                      <p style="font-size:9px;"><%= mobile_phone.title %> </p>
                </div>
              <% end %>
      </div> 

        <p class="mytitle"> Computer & Laptops</p>
       <div class="container">      
              <% @computers.each do |computer| %>
                <div class="col-xs-4 col-md-4">
                     <%= link_to image_tag(computer.avatar1_edit, :style=>"height:100px;width:100px;"), mobile_product_detail_path(:id => computer), :id => "product_image" %>
                      
                      <span style="font-size:11px;"><%= computer.price.to_i %> <%=t :MMK %> </span>
                      <p style="font-size:9px;"><%= computer.title %> </p>
                </div>
              <% end %>
      </div> 


       <p class="mytitle"> Electronics</p>
       <div class="container">      
              <% @electrical_equipments.each do |electrical_equipment| %>
                <div class="col-xs-4 col-md-4">
                     <%= link_to image_tag(electrical_equipment.avatar1_edit, :style=>"height:100px;width:100px;"), mobile_product_detail_path(:id => electrical_equipment), :id => "product_image" %>
                      
                      <span style="font-size:11px;"><%= electrical_equipment.price.to_i %> <%=t :MMK %> </span>
                      <p style="font-size:9px;"><%= electrical_equipment.title %> </p>
                </div>
              <% end %>
      </div> 



</div>


        <!--  -->





<nav class="navbar navbar-inverse navbar-fixed-top" style="background:white;border:red;" id="hide_mobile">



  <header id="header-area" >
  <!-- Header Top Starts -->
    <div class="header-top" >
      <div class="container">
        <div class="row" >
        <!-- Header Links Starts -->
          <div class="col-sm-12 col-xs-12" >
              <ul class="nav navbar-nav pull-left" id="showatscroll">
                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" style="color:white;">
                              MD Home
                            </span>
                          </a>
                        </li>

                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" style="color:white;">
                              Big Deal
                            </span>
                          </a>
                        </li>


                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" style="color:white;">
                              MD Mobile
                            </span>
                          </a>
                        </li>
              </ul>

            

              <ul  class="nav navbar-nav pull-left" style="display:none;" id="myanothernav">
                
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MD <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                         <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" >
                              MD Home
                            </span>
                          </a>
                        </li>

                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" >
                              Big Deal
                            </span>
                          </a>
                        </li>


                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" >
                              MD Mobile
                            </span>
                          </a>
                        </li>
                    </ul>
                  </li>
            </ul>


                <%= form_tag(search_result_path, :style => "display:none;", :method => "get", :class =>"navbar-form navbar-left", id:"myanothernavone") do %> 
                                      <div class="form-group">
                                          <%= text_field_tag :title, params[:title], :class=>"form-control" %>
                                      </div>
                                      <button type="submit" class="btn btn-danger">search</button>
                <% end %>
      
            <div class="pull-right" >
              <!-- Currency Starts -->
              <ul class="nav navbar-nav pull-left" >

                <% if user_signed_in? %>
                   <% if current_user.user_type_id == 1 %>
                      <li>
                        <a href="/stores/<%= @store_id %>">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            My MD
                          </span>
                        </a>
                      </li>
                    <% else %>
                        <li>
                        <a href="/seller_sign_up">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            My MD
                          </span>
                        </a>
                      </li>
                   <% end %>
                <% else %>
                   <li>
                        <a href="/seller_sign_up">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            My MD
                          </span>
                        </a>
                      </li>

                <% end %>


                      <li>
                        <a href="/check_out">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Cart
                          </span>
                          <span class="badge" id="myqty"><%= (@cart.total_quantity) %></span>
                        </a>
                      </li>


                  <% if user_signed_in? %>

                     <li>
                        <a href="#">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Favourite
                          </span>
                          <span class="badge"><%= @fav_number %></span>
                        </a>
                      </li>

                      <li>
                        <a href="/my_order">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Ordered
                          </span>
                          <span class="badge"> <%=  @order_number  %></span>
                        </a>
                      </li>

                         <li>
                              <%= link_to "#{t :log_out}", destroy_user_session_path, :method => :delete %>
                          </li>
      
                  <% else %>


                   <li>
                        <a href="#">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Favourite
                          </span>
                          <span class="badge">0</span>
                        </a>
                      </li>

                      <li>
                        <a href="/my_order">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Ordered
                          </span>
                          <span class="badge">0</span>
                        </a>
                      </li>


                      <li>
                        <a href="/user_sign_in">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs">
                            <b>Login</b>
                          </span>
                        </a>
                      </li>

                      <li>
                        <a href="/buyer_sign_up">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs">
                            <b>Register</b>
                          </span>
                        </a>
                      </li>


                  <% end %>




                      <li>
                         <%= link_to image_tag("english_flag.png"), "?locale=en" %>
                      </li>

                      <li>
                          <%= link_to image_tag("mm_flag.png"), "?locale=mm" %>
                      </li>
              </ul>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="main-header" >
      
                           
                            
              <div class="row" id="hideatscroll" >
                  

                <div class="col-md-2">
                  <div id="logo">
                    <a href="#">
                    <img src="/assets/logo.jpg" title="Spice Shoppe" alt="Spice Shoppe" style="height:95px;" /></a>
                  </div>
                </div>

                <div class="col-md-5" >

                      <div><br/>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist" id="mynavtab">
                              <li role="presentation" class="active">
                              <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Item</a></li>
                              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Shop</a></li>
                              <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Big Deal</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                              <div role="tabpanel" class="tab-pane active" id="home">
                                  
                                <%= form_tag(search_result_path, :method => "get", class: "form-inline") do %> 
                                      <br/>
                                      <div class="form-group">
                                          <%= text_field_tag :title, params[:title], :style=>"width:350px;" %>
                                      </div>
                                      <button type="submit" class="btn btn-danger">search</button>
                                <% end %>

                              </div>
                              <div role="tabpanel" class="tab-pane" id="profile">

                                  <%= form_tag(search_result_path, :method => "get", class: "form-inline") do %> 
                                      <br/>
                                      <div class="form-group">
                                          <%= text_field_tag :store_name, params[:store_name], :style=>"width:350px;" %>
                                      </div>
                                      <button type="submit" class="btn btn-danger">search</button>
                                <% end %>

                              </div>
                              <div role="tabpanel" class="tab-pane" id="messages">
                                    
                                <%= form_tag(search_result_path, :method => "get", class: "form-inline") do %> 
                                      <br/>
                                      <div class="form-group">
                                          <%= text_field_tag :title2, params[:title2], :style=>"width:350px;" %>
                                      </div>
                                      <button type="submit" class="btn btn-danger">search</button>
                                <% end %>


                              </div>
                            </div>

                      </div>


                </div>

                <div class="col-md-3" style="background:black;margin-left:12px;width:22%;" id="account_setting" >
   

                  <% if user_signed_in? %>


                           <div style="float:left;">
                            <img src="/assets/avatar.png" class="img-responsive" />
                            <p class="avata_name">  <%= current_user.name %> </p>
                          </div>

                          <div style="float:right;">
                            <%= link_to "Log out", destroy_user_session_path, :method => :delete, :class=>"btn btn-default", :style => "margin-top:8px;", :id => "menu_mybtn"%>

                            <br/>
                            <%= link_to "Register", new_user_registration_path, :class=>"btn btn-default", :id => "menu_mybtn"%>


                            <br/>
                           

                            <% if current_user.has_store == "yes" %>
                                <a href="/stores/<%= @store_id %>"  class="btn btn-default", id="menu_mybtn">MyStore</a>
                            <% else %>
                               <%= link_to "Open Shop", new_store_path, :class=>"btn btn-default", :id => "menu_mybtn"%>
                              
                            <% end %>


                          </div>
      
                  <% else %>


                          <div style="float:left;">
                            <img src="/assets/avatar.png" class="img-responsive" />
                            <p class="avata_name"> Guest </p>
                          </div>

                          <div style="float:right;">
                            <a href="/user_sign_in" class="btn btn-default" type="submit" id="menu_mybtn" style="margin-top:8px;">Login</a><br/>


                            <%= link_to "Register(Seller)", seller_sign_up_path, :class=>"btn btn-default", :id => "menu_mybtn"%>

                            <br/>
                            <button class="btn btn-default" id="menu_mybtn" onclick="storeFunction()"> Open Shop</button>

                          </div>

                  <% end %>

                </div>
                <div class="col-md-2" style="margin-left:10px;">

                    <div class="panel panel-default">
                      
                      <div class="panel-heading" style="font-size:10px;background:#d9534f;font-weight:bold;text-align:center;">DOWNLOAD OUR FREE APP</div>
                        <div class="panel-body">
                            <center>
                            <%= link_to image_tag 'app.jpg' %>
                            </center>
                        </div>
                    </div>
                 






                </div>

              </div>
     


    </div>
    
  </header>

  </nav>
  <div style="height:210px;" id="hide_mobile">

  </div>



<div class="rows" id="hide_mobile" style="padding:13px;">
     <div class="row">

     <!-- side menu -->
     	 <div class="col-md-2">
     	 	<p class="mytitle"> <%=t :category %> </p>

     	 	<div class="list-group categories">


     	 	<nav id="mysidebarmenu" class="amazonmenu">
				<ul >
					<li><a href="#" id="side_menu", class= "list-group-item">Fashions Men / Women</a>
						<div>
						  <ul>
							  <li><a href="/product_fashion_clothings">Clothing</a></li>
							  <li><a href="/product_fashion_hats">Hats</a></li>
							  <li><a href="/product_fashion_accessories">Accessories</a></li>
						  </ul>
						</div>
					</li>

					<li><a href="/product_fashion_footwears" id="side_menu", class= "list-group-item">Shoes</a>
					</li>

					<li><a href="/product_fashion_bags" id="side_menu", class= "list-group-item">Bags</a>
					</li>

				
					<li><a href="#" id="side_menu", class= "list-group-item"> Cosmetic </a>
						<div>
						  <ul>
							  <li><a href="/product_bath_supplies">Bath Supplies</a></li>
							  <li><a href="/product_beauty_equipments">Beauty Equipment</a></li>
                              <li><a href="/product_makeup_and_skincares">Makeup and Skincares</a></li>
						  </ul>
						</div>
					</li>


					<li><a href="#" id="side_menu", class= "list-group-item"> Books & Accessories </a>
					</li>


					<li><a href="#" id="side_menu", class= "list-group-item"> Electronics </a>
						<div>
						  <ul>
							  <li><a href="/product_computers">Computers</a></li>
						  </ul>
						</div>
					</li>

				    <li><a href="/product_telephone_accessories" id="side_menu", class= "list-group-item"> Phone & Accessories </a>
					</li>

					<li><a href="/product_home_appliances" id="side_menu", class= "list-group-item"> Home Appliance </a>
					</li>

					<li><a href="#" id="side_menu", class= "list-group-item"> Furniture </a>
					</li>

				


					<li><a href="#" id="side_menu", class= "list-group-item"> Tools and Hardware </a>
						<div>
						  <ul>
							  <li><a href="/product_machines">Machines</a></li>
							  <li><a href="/product_equipments">Equipments</a></li>
							  <li><a href="/product_instruments">Instruments</a></li>
						  </ul>
						</div>
					</li>

					<li><a href="#" id="side_menu", class= "list-group-item"> Car Accessories </a>
						<div>
						  <ul>
							  <li><a href="/product_car_accessories">Motor Car</a></li>
							  <li><a href="/product_motorcycle_accessories">Motor Cycle</a></li>
						  </ul>
						</div>
					</li>

					<li><a href="/product_sports" id="side_menu", class= "list-group-item"> Sports </a>
					</li>

					
					 <li><a href="/product_medicines" id="side_menu", class= "list-group-item"> Medicines </a>
					</li>


					 <li><a href="/product_gifts" id="side_menu", class= "list-group-item"> Gifts </a>
					</li>


				
					</ul>
				</nav>

							
							
			</div>
     	 	


     	 </div> 
     	 <div class="col-md-5">
     	  	<p class="mytitle"> Hot sale</p>

		     	  	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							 

							  <!-- Wrapper for slides -->
							  <div class="carousel-inner" role="listbox">

                      <div class="item active">
                        <img src="<%= @hot_item.image_data %>" style="width:550px;height:470px;"/>
                      </div>

                     <% @hot_items.each do |hot_item| %>
                       <div class="item">
                         <img src="<%= hot_item.image_data %>" style="width:800px;height:470px;"/>
                       </div>
                    <% end %>

				
							  </div>

							 
					</div>
				
						
					


		</div>
     	  <div class="col-md-3">
     	  		
     	  		<p class="mytitle"> Big Deals</p>
     	  		<div class="panel panel-default">
				  <div class="panel-heading"><span style="color:#d9534f;">TODAY'S</span> DEALS</div>
				  <div class="panel-body">
             <br/>
				     <h6 style="text-align:center;"> Ends in <%= @admin.ends_in %></h6>
             <br/>

				   		<center>
                  <%= image_tag @admin.avatar, :class=>"img-responsive", :style => "height:260px;width:300px;" %>
				   		</center>
				   

				     <h6 style="text-align:center;"> <br/>
				     	<%= @admin.price %> Kyats 
				     	<span style="background:#d43f3a;color:white;padding:5px;"> <%= @admin.discount_percent %>%  OFF </span>
				     </h6>


				  </div>
				</div>
     	  		
	
     	  </div>

      


     	  <div class="col-md-2" style="margin-left:-15px;">



     	  			<br/><br/>

                    <div class="panel panel-default" >
                        <div class="panel-heading" style="font-size:14px;background:#d9534f;font-weight:bold;text-align:center;">
                          How to Buy
                        </div>
                        <ul class="list-group">
              						  <li class="list-group-item" id="menuside">
                              <a href="/buyer_sign_up">Register</a>
                            </li>
                              <li class="list-group-item" id="menuside">
                              <a href="/about_add_to_fav">Add to Favourite</a>
                            </li>
                              <li class="list-group-item" id="menuside">
                              <a href="/about_add_to_cart">Add to cart</a>
                            </li>
                              <li class="list-group-item" id="menuside">
                              <a href="/about_make_an_order">Make Order</a>
                            </li>
                              <li class="list-group-item" id="menuside">
                              <a href="/about_order_trekking">Order Trekking</a>
                            </li>
						            </ul>
                    </div>


                      <div class="panel panel-default" >
                        <div class="panel-heading" style="font-size:14px;background:#d9534f;font-weight:bold;text-align:center;">
                          How to Sell
                        </div>
                         <ul class="list-group">

                            <li class="list-group-item" id="menuside">
                              <a href="/about_seller_open_shop">Open Shop</a>
                            </li>

                            <li class="list-group-item" id="menuside">
                              <a href="/about_seller_sell_product">Sell Your Product</a>
                            </li>

                            <li class="list-group-item" id="menuside">
                              <a href="/about_seller_manage_shop">Manage Your Shop</a>
                            </li>

                                   <li class="list-group-item" id="menuside">
                              <a href="/about_seller_manage_product">Manage Your Item</a>
                            </li>

                            <li class="list-group-item" id="menuside">
                              <a href="/about_seller_view_report">View Your Report</a>
                            </li>

						</ul>
                    </div>

          </div>

    

     </div>
</div>


<div id="hide_mobile" style="padding:10px;">
     <div class="row" style="position:relative;top:-33px;">

			 <div class="col-md-12" >
			     	 	<p class="mytitle"> Hot Sale </p>

			     	 	<% @products.each do |product| %>
						<div class="col-md-2">
							<div class="product-col">
								<div class="image">
								<% if !product.avatar1_file_name.nil?  %>
					                   <%= link_to image_tag(product.avatar1_edit, :style=>"height:150px;width:150px;"), product_full_path(:id => product), :id => "product_image" %>   
					     <% elsif product.avatar1_file_name.nil?  %>      
									<img src="/assets/no_image.jpg" alt="product" class="img-responsive" style="height:150px;width:150px;" />
					    <% end %>
								</div>
								<div class="caption">

									<div>
										<span style="color:#bf1c23;">
											<%= product.price.to_i %> <%=t :MMK %>
										</span>  
										
									</div>

									<p style="font-size:14px;font-weight:bold;">
										<%= link_to product.title, product_full_path(:id => product), :style => "color:black;" %>
									</p>
								
								
									<div class="cart-button">
									
									   <%= button_to line_items_path(:mmdealer_code => product.category.to_s+product.id.to_s, :user_id => product.user_id),  :onclick =>"cartFunction#{product.id}()", :data => product.price.to_i , :id => "btn_to_cart", :class =>"btn btn-cart" do %>
									     <span style="font-size:12px;padding:30px;"><%=t :add_to_cart %> </span>

									<% end %>


																	
									</div>
								</div>
							</div>
						</div>
					<% end %>


			 </div>
	</div>
</div>




