<div class="container">
     <div class="row">

     <!-- side menu -->
     	 <div class="col-md-3">
     	 	<p class="mytitle"> <%=t :category %> </p>

     	 	<div class="list-group categories">


				<%= link_to "#{t :fashions_related}", fashion_related_path,id: "side_menu", class: "list-group-item" %>
					
				<%= link_to "#{t :electronics}", electronics_related_path,id: "side_menu", class: "list-group-item" %>
						
				<%= link_to "#{t :health_beauty}", health_beauty_related_path,id: "side_menu", class: "list-group-item" %>
						
				 <%= link_to  "#{t :industrial_parts}", industrial_part_path,id: "side_menu", class: "list-group-item" %>
					
				 <%= link_to "#{t :sports}", sports_related_path,id: "side_menu", class: "list-group-item" %>
						
				 <%= link_to "#{t :services}", service_related_path,id: "side_menu", class: "list-group-item" %>
						
				 <%= link_to "#{t :transportation_related}", auto_transportation_path,id: "side_menu", class: "list-group-item" %>






				<%= link_to "#{t :electronics}", electronics_related_path,id: "side_menu", class: "list-group-item" %>
						
				<%= link_to "#{t :health_beauty}", health_beauty_related_path,id: "side_menu", class: "list-group-item" %>
						
				 <%= link_to  "#{t :industrial_parts}", industrial_part_path,id: "side_menu", class: "list-group-item" %>
					
				 <%= link_to "#{t :sports}", sports_related_path,id: "side_menu", class: "list-group-item" %>
						
				 <%= link_to "#{t :services}", service_related_path,id: "side_menu", class: "list-group-item" %>
						
				 <%= link_to "#{t :transportation_related}", auto_transportation_path,id: "side_menu", class: "list-group-item" %>
							
							
			</div>
     	 	


     	 </div>
     	 <div class="col-md-6">
     	  	<p class="mytitle"> Hot sale</p>

		     	  	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							 

							  <!-- Wrapper for slides -->
							  <div class="carousel-inner" role="listbox">
							    <div class="item active">
							       <%= image_tag 'slide1.png' %>
							   
							    </div>
							    <div class="item">
							       <%= image_tag 'slide2.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'slide3.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'slide4.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'slide5.png' %>
							    </div>
							  </div>

							 
					</div>
					<br/>
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner" role="listbox">
							    <div class="item active">
							       <%= image_tag 'slide1.png' %>
							   
							    </div>
							    <div class="item">
							       <%= image_tag 'slide2.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'slide3.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'slide4.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'slide5.png' %>
							    </div>
							  </div>

							
					</div>


		</div>
     	  <div class="col-md-3">
     	  	

     	  			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							 
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner" role="listbox">
							    <div class="item active">
							       <%= image_tag 'leftslide1.png' %>
							   
							    </div>
							    <div class="item">
							       <%= image_tag 'leftslide2.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'leftslide3.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'leftslide4.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'leftslide5.png' %>
							    </div>
							  </div>

							  <!-- Controls -->
							 
					</div>
					<br/>

					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							 
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner" role="listbox">
							    <div class="item active">
							       <%= image_tag 'mleftslide1.png' %>
							   
							    </div>
							    <div class="item">
							       <%= image_tag 'mleftslide2.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'mleftslide3.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'mleftslide4.png' %>
							     
							    </div>
							    <div class="item">
							       <%= image_tag 'mleftslide5.png' %>
							    </div>
							  </div>

							  <!-- Controls -->
							 
					</div>

	
     	  </div>

    

     </div>
</div>



<div class="container">
     <div class="row">

			 <div class="col-md-12" >
			     	 	<p class="mytitle"> Big Deals </p>

			     	 	<% @products.each do |product| %>
						<div class="col-md-3">
							<div class="product-col">
								<div class="image">
								<% if !product.avatar1_file_name.nil?  %>
					                <%= image_tag product.avatar1.url, :id => "product_image" %>
					            <% else  %>      
									<img src="/assets/no_image.jpg" alt="product" class="img-responsive" />
					            <% end %>
								</div>
								<div class="caption">
									<h4>
										<%= link_to product.title, product_full_path(:id => product) %>
									</h4>
								
									<div class="price">
										<span class="price-new"><%= product.price.to_i %> <%=t :MMK %></span>  <br/>
										<span class="price-old"><%= product.price.to_i + 15 %> <%=t :MMK %></span>
									</div>
									<div class="cart-button">
									
									<%= button_to line_items_path(:mmdealer_code => product.category.to_s+product.id.to_s, :user_id => product.user_id), remote: true, :onclick =>"cartFunction#{product.id}()", :data => product.price.to_i , :id => "btn_to_cart", :class =>"btn btn-cart" do %>
									   <%=t :add_to_cart %>



									  <i class="fa fa-shopping-cart"></i> 
									<% end %>


																	
									</div>
								</div>
							</div>
						</div>
					<% end %>


			 </div>
	</div>
</div>


