<%= render 'layouts/defaultnav' %>
 <br/>
<div id="main-container" class="container">
  <div class="col-md-12">

  <% @users.each do |user, messages| %>  

      
      <br/>
      
   
      <ul class="list-group" >
          <% messages.each do |message| %>
                <li class="list-group-item" style="background:white;color:black;">
                    <span style="color:green;"><%= message.body %></span> 
                    
                    <span style="color:black;font-weight::bold;float:right;"> <%= message.user.name %></span>
                    <span style="color:gray;float:right;"> sent by </span>
                    

                    <span style="color:gray;font-weight::bold;"> 
                        <%= message.created_at.strftime("at %I:%M%p  on %m/%d/%Y") %> 
                    </span>
                    
                 
                </li>
           <% end %>
           
            <%= link_to "reply", chat_with_path(:user_id => user), :class=>"btn btn-danger"  %>  


      </ul>






   <% end %>
        


  </div>
</div>

