<div class="main-header">
			<div class="container">
				<div class="row">
						

					<div class="col-md-3">
						<div id="logo" style="float:left;">
							<a href="#"><img src="/assets/logo.jpg" title="Spice Shoppe" alt="Spice Shoppe" class="img-responsive" /></a>
						</div>
					</div>

					<div class="col-md-3">
								<img src="/assets/ads.png" alt="BannerAds" />
					</div>

					<div class="col-md-6">
						
						<div id="search" style="width:300px;float:right;">
							<div class="input-group" >
							  <input type="text" class="form-control input-lg" placeholder="Search" >
							  <span class="input-group-btn">
								<button class="btn btn-lg" type="button">
									<i class="fa fa-search"></i>
								</button>
							  </span>
							</div>
						</div>	

						<div id="cart" class="btn-group btn-block" style="width:300px;float:right;">
							<button type="button" data-toggle="dropdown" class="btn btn-block btn-lg dropdown-toggle" style="height:47px;">
								<i class="fa fa-shopping-cart" ></i>
								<span class="hidden-md"><%=t :cart %></span> 
								<span id="cart-total"> <%= (@cart.total_quantity) %> item(s) -   <%= (@cart.total_price) %> <%=t :MMK %></span>
								<i class="fa fa-caret-down"></i>
							</button>
							<ul class="dropdown-menu pull-right">
							    <li>
									<%= render (@cart.line_items) %>
								</li>
							
								<li>
									<p class="text-right btn-block1">
										<a href="/check_out">
											<%=t :view_cart %>
										</a>
										<a href="/check_out">
											<%=t :check_out %>
										</a>
									</p>
								</li>

							</ul>
						</div>


					</div>

				</div>
		
		</div>
	<!-- Main Header Ends -->
	<!-- Main Menu Starts -->
		<nav id="main-menu" class="navbar" role="navigation">
			<div class="container">
			<!-- Nav Header Starts -->
				<div class="navbar-header">
					<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
						<span class="sr-only">Toggle Navigation</span>
						<i class="fa fa-bars"></i>
					</button>
				</div>
			<!-- Nav Header Ends -->
			<!-- Navbar Cat collapse Starts -->
				<div class="collapse navbar-collapse navbar-cat-collapse">
					<ul class="nav navbar-nav">
	<li>
				 		 <%= link_to "#{t :fashions_related}", fashion_related_path, class: "btn btn-1" %>
						</li>
						<li>
						 <%= link_to "#{t :electronics}", electronics_related_path, class: "btn btn-1" %>
						</li>
						<li>
				 			<%= link_to "#{t :health_beauty}", health_beauty_related_path, class: "btn btn-1" %>
						</li>
						

						<!--  -->
						<li>
				 			<%= link_to  "#{t :industrial_parts}", industrial_part_path, class: "btn btn-1" %>
						</li>

						<li>
				 			<%= link_to "#{t :sports}", sports_related_path, class: "btn btn-1" %>
						</li>

						<li>
				 			<%= link_to "#{t :services}", service_related_path, class: "btn btn-1" %>
						</li>
						<li>
				 			<%= link_to "#{t :transportation_related}", auto_transportation_path, class: "btn btn-1" %>
						</li>
						
						
						
						
					</ul>
				</div>
			<!-- Navbar Cat collapse Ends -->
			</div>
		</nav>
	<!-- Main Menu Ends -->
	</header>
				<div class="container">
					
							<section class="products-list">			
									<!-- Heading Starts -->
										
									<!-- Heading Ends -->
									<!-- Products Row Starts -->
										<div class="row">

												<h2 class="product-head">Conversations</h2>
										

												<div style="height: 400px; overflow-y: auto;">
												      <% if @conversations.any? %>
												          <ul class="media-list">
												            <% @conversations.each do |conversation| %>
												                <li class="media">
												                   <%= image_tag("50.png", class: "media-object pull-left") %>
												                  <div class="media-body">
												                    <%= link_to "", conversation_path(conversation), class: "conversation", "data-cid" => conversation.id %>
												                        <h4 class="media-heading"><%= conversation_interlocutor(conversation).name %></h4>
												                        <p><%= conversation.messages.last.nil? ? "No messages" : truncate(conversation.messages.last.body, length: 45) %></p>
												                  </div>
												                </li><hr/>

												            <% end %>
												          </ul>
												      <% else %>
												          <p>You have no conversations. </p>
												      <% end %>
												    </div>



										</div>
									<!-- Products Row Ends -->
					       </section>
				</div>
		</div>
	</div>
</div>
