

<nav class="navbar navbar-inverse navbar-fixed-top" style="background:white;border:red;" id="hide_mobile">



  <header id="header-area" >
  <!-- Header Top Starts -->
    <div class="header-top" >
      <div class="container">
        <div class="row" >
        <!-- Header Links Starts -->
          <div class="col-sm-12 col-xs-12" >
              <ul class="nav navbar-nav pull-left" id="showatscroll">
                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" style="color:white;">
                              MD Home
                            </span>
                          </a>
                        </li>

                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" style="color:white;">
                              Big Deal
                            </span>
                          </a>
                        </li>


                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" style="color:white;">
                              MD Mobile
                            </span>
                          </a>
                        </li>
              </ul>

            

              <ul  class="nav navbar-nav pull-left" style="display:none;" id="myanothernav">
                
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MD <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                         <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" >
                              MD Home
                            </span>
                          </a>
                        </li>

                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" >
                              Big Deal
                            </span>
                          </a>
                        </li>


                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" >
                              MD Mobile
                            </span>
                          </a>
                        </li>
                    </ul>
                  </li>
            </ul>


                <%= form_tag(search_result_path, :style => "display:none;", :method => "get", :class =>"navbar-form navbar-left", id:"myanothernavone") do %> 
                                      <div class="form-group">
                                          <%= text_field_tag :title, params[:title], :class=>"form-control" %>
                                      </div>
                                      <button type="submit" class="btn btn-danger">search</button>
                <% end %>
      
            <div class="pull-right" >
              <!-- Currency Starts -->
              <ul class="nav navbar-nav pull-left" >

                <% if user_signed_in? %>
                   <% if current_user.user_type_id == 1 %>
                      <li>
                        <a href="/stores/<%= @store_id %>">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            My MD
                          </span>
                        </a>
                      </li>
                    <% else %>
                        <li>
                        <a href="/seller_sign_up">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            My MD
                          </span>
                        </a>
                      </li>
                   <% end %>
                <% else %>
                   <li>
                        <a href="/seller_sign_up">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            My MD
                          </span>
                        </a>
                      </li>

                <% end %>


                      <li>
                        <a href="/check_out">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Cart
                          </span>
                          <span class="badge" id="myqty"><%= (@cart.total_quantity) %></span>
                        </a>
                      </li>


                  <% if user_signed_in? %>

                     <li>
                        <a href="#">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Favourite
                          </span>
                          <span class="badge"><%= @fav_number %></span>
                        </a>
                      </li>

                      <li>
                        <a href="/my_order">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Ordered
                          </span>
                          <span class="badge"> <%=  @order_number  %></span>
                        </a>
                      </li>

                         <li>
                              <%= link_to "#{t :log_out}", destroy_user_session_path, :method => :delete %>
                          </li>
      
                  <% else %>


                   <li>
                        <a href="#">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Favourite
                          </span>
                          <span class="badge">0</span>
                        </a>
                      </li>

                      <li>
                        <a href="/my_order">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Ordered
                          </span>
                          <span class="badge">0</span>
                        </a>
                      </li>


                      <li>
                        <a href="/user_sign_in">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs">
                            <b>Login</b>
                          </span>
                        </a>
                      </li>

                      <li>
                        <a href="/buyer_sign_up">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs">
                            <b>Register</b>
                          </span>
                        </a>
                      </li>


                  <% end %>




                      <li>
                         <%= link_to image_tag("english_flag.png"), "?locale=en" %>
                      </li>

                      <li>
                          <%= link_to image_tag("mm_flag.png"), "?locale=mm" %>
                      </li>
              </ul>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="main-header" id="hideatscroll">
      
                <div class="col-md-2">
                  <div id="logo">
                    <a href="#"><img src="/assets/logo.jpg" title="Spice Shoppe" alt="Spice Shoppe" style="height:95px;" /></a>
                  </div>
                </div>


                <div class="col-md-5">
                		<div>
                		  <%= form_tag(search_result_path, :method => "get", class: "form-inline") do %> 
                                      <br/><br/>      
                                      <div class="form-group">
                                          <%= text_field_tag :title, params[:title], :style => "width:280px;height:50px;", :class => "form-control" %>
                                      </div>
                                      <button type="submit" class="btn btn-danger" style="height:50px;">Search Shop</button>
                                      <button type="submit" class="btn btn-danger" style="height:50px;">Search Site</button>
                           <% end %>
                        </div>


                </div>

                 <div class="col-md-5" >
                 		<h2 style="background:#d9534f;margin-top:30px;padding:20px;border-radius:5px;">Advertising Place</h2>
                 </div>
   
         
     


    </div>
    
  </header>

  </nav>
  <div style="height:210px;" id="hide_mobile">

  </div>


  <div style="height:20px;background:#d9534f;">

  </div>











<div id="main-container" class="rows">
	
	<!-- Product Info Starts -->
		<div class="row product-info full">
		<!-- Left Starts -->
			<div class="col-sm-4 images-block">
        

        <div style="background:gray;width:303px;">

          <img id="zoom_01" src="<%= @product.avatar1_edit %>" data-zoom-image="<%= @product.avatar1_edit %>" style="height:301px;" />

          <img id="zoom_02" src="<%= @product.avatar2_edit %>" data-zoom-image="<%= @product.avatar2_edit %>" style="height:301px;display:none;" />

          <img id="zoom_03" src="<%= @product.avatar3_edit %>" data-zoom-image="<%= @product.avatar3_edit %>" style="height:301px;display:none;"/>

          <img id="zoom_04" src="<%= @product.avatar4_edit %>" data-zoom-image="<%= @product.avatar4_edit %>" style="height:301px;display:none;"/>



        </div>


        <div>

            <img id="av2" src="<%= @product.avatar2_edit %>" style="width:100px;height:100px;"/>
            <img id="av3" src="<%= @product.avatar3_edit %>" style="width:100px;height:100px;"/>
            <img id="av4" src="<%= @product.avatar4_edit %>" style="width:100px;height:100px;"/>

        </div>

			</div>
			

		<!-- Left Ends -->
		<!-- Right Starts -->
			<div class="col-sm-5 product-details">
				<div >
				<!-- Product Name Starts -->
					<h2>
						<div>
							<span style="float:left;"><%= @product.title %></span>
	 					</div>

					</h2>
				<!-- Product Name Ends -->
				    <br/><br/>   <br/>
					<span class="product_ask">Price:</span>
					<span class="price-new">
						<%= @product.price.to_i %> Ks
					</span> 

					<br/><br/>
					
					<div style="width:100%;">

						<div style="width:20%;float:left;padding-right:10px;padding-top:5px;">
							<span class="product_ask">Delivery Charges:</span>
						</div>

						<div style="width:20%;float:left;padding-right:10px;">
							<select class="form-control">
							  <option>Region</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
						</div>

						<div style="width:20%;float:left;padding-right:10px;">
							<select class="form-control" >
							   <option>City</option>
							  <option>Yangon</option>
							  <option>Mandalay</option>
							  <option>Taunggyi</option>
							  <option>Larshio</option>
							  <option>Myeik</option>
							  <option>Mgway</option>
							</select>
						</div>

						<div style="width:20%;float:left;padding-right:10px;">

							<select class="form-control" >
							  	
							  			<option>Township</option>
										<option value="2000"> 
												Ahlone	
										</option>
										<option value="2000"> 
												Kyimyindaing
										</option>
										<option value="2000"> 
												Sanchaung
										</option>
										<option value="2000"> 	
												Latha	
												</option>
										<option value="2000"> 
												Lanmadaw
												</option>
										<option value="2000"> 
												Pabedan	
												</option>
										<option value="2000"> 
												Kyauktada
												</option>
										<option value="2000"> 
												Botahtaung
												</option>
										<option value="2000"> 
												Pazundaung
												</option>
										<option value="2000"> 
												Tamwe
												</option>
										<option value="2000"> 
												Mingalar taung nyunt
												</option>
										<option value="2000"> 
												Thingangyun
												</option>
										<option value="2000"> 
												Thuwunna
												</option>
										<option value="2000"> 
												Bahan 
												</option>
										<option value="2000"> 
												Hlaing
												</option>
										<option value="2000"> 
												Mayangon
												</option>
										<option value="2000"> 
												Yankin
												</option>
										<option value="2000"> 
												Tharkayta
										</option>
										<!--  -->

										<option value="2500"> 
										Dagon myothit(south)
										</option>
										<option value="2500"> 	
										Dagon myothit(north)	
										</option>
										<option value="2500"> 
										Dagon myothit(east)	
										</option>
										<option value="2500"> 
										Dagon myothit(west)	
										</option>
										<option value="2500"> 
										Okkalapa(south)	
										</option>
										<option value="2500"> 
										Okkalapa(north)	
										</option>
										<option value="2500"> 
										Bayintnaung	
										</option>
										<option value="2500"> 
										Insein	
										</option>
										<option value="2500"> 
										Sawbuagyigong	
										</option>
										<option value="2500"> 
										Mingalardon	
										</option>

										<option value="500"> 
											NAYPYITAW
										</option>

										<option value="500"> 
											MANDALAY	
										</option>

										<option value="500"> 
											TAUNGGYI	
										</option>
							</select>
						</div>

						<div style="width:20%;float:left;padding-right:10px;padding-top:6px;">

							= 2000 Kyats
						</div>

					</div><br/><br/><br/>

					<div>
						<span class="product_ask">Color:</span>
					  <%= @product.color rescue "-" %>
					</div><br/>

					<div>
						<span class="product_ask">Size:</span>
						<span class="product_ask"><%= @product.size rescue "-" %></span>
					</div><br/>

					<div style="width:100%;">
						<span class="product_ask" style="float:left;">
                 Quantity:    
            </span>
            <span style="float:left;padding-left:10px;">
             <input type="text">  
            </span>
            <span style="float:left;padding-left:10px;">
              989 packs in stock
            </span>
					</div><br/><br/><br/>


						
		
				
				<!-- Available Options Starts -->
					<div class="options">

						<br/>

						
					
					
						<div class="cart-button button-group">
							
							<div style="float:left;">

								<%= button_to line_items_path(:mmdealer_code => @product.category.to_s+@product.id.to_s, :user_id => @product.user_id), remote: true, :onclick =>"cartFunction#{@product.id}()", :data => @product.price.to_i , :id => "btn_to_cart", :class =>"btn btn-cart" do %>
									   Buy Now


								<% end %>


						   </div>

						   <div  style="float:right;">


							    <%= button_to line_items_path(:mmdealer_code => @product.category.to_s+@product.id.to_s, :user_id => @product.user_id), remote: true, :onclick =>"cartFunction#{@product.id}()", :data => @product.price.to_i , :id => "btn_to_cart", :class =>"btn btn-cart" do %>
									   Add to Cart


								<% end %>

						 </div>

 							

						</div>



	


					</div>
				<!-- Available Options Ends -->
				</div>
			</div>


			<div class="col-md-3">
				<div class="panel panel-default">
				  <div class="panel-body">

              <img src="/assets/logo_mimiberry.jpg" >
              <span style="font-weight:bold;color:#d9534f;text-align:center;"> 
                <%= @product.store_name %>
              </span>
              

                    <%  if user_signed_in?  %>
                            <img src="/assets/chat.png" style="float:right;" id="chat_user">
                   <%  else  %>
                          
                    <%  end  %>


				    	 
				    	<h6 class="shoptitle"><img src="/assets/shop-icon-23328.png"> <%= @product.store_name rescue "-" %>
</h6>

				    	<table>
					      

					      	<tr>
					          <td id="store_infos"><span>Level:</span></td>
					          <td id="store_infos">******</td>
					        </tr>
					      
					        <tr>
					          <td id="store_infos">Shopkeeper:</td>
					          <td id="store_infos"> <%= @product.user.name  rescue "-" %>
</td>
					        </tr>

					        <tr>
					          <td id="store_infos">Contact:</td>
					          <td id="store_infos"><%= @product.user.phone  rescue "-" %></td>
					        </tr>

					        <tr>
					          <td id="store_infos">Certificate:</td>
					          <td id="store_infos">2008/1234</td>
					        </tr>

					        <tr>
					          <td id="store_infos">Deposit:</td>
					          <td id="store_infos">200,000 Ks</td>
					        </tr>

					    </table>

          
					 	 <div class="col-md-4">
					 	 	<p style="text-align:center;font-weight:bold;">
								Depict<br/>
								4.3
							</p>
					 	 </div>
					 	 <div class="col-md-4">
					 	 	<p style="text-align:center;font-weight:bold;">
								Delivery<br/>
								4.3
							</p>
					 	 </div>
					 	 <div class="col-md-4">
					 	 	<p style="text-align:center;font-weight:bold;">
								Service<br/>
								4.3
							</p>
					 	 </div>


					 	 <div class="col-md-6" id="shopdetail_btn" >
					 	   <p >ShopView</p>
					 	 </div>

					 	 <div class="col-md-6" id="shopdetail_btn" style="margin-left: 7px;">
					 	   <p >LikeShop</p>
					 	 </div>

					 	 <div class="col-md-12" id="customerdetail_btn" >
					 	   <p >Customer Service</p>
					 	 </div>

					 	  <div class="col-md-12" ><br>

                <% @my_sellers.each do |my_seller| %>

    					 	   <p id="chatman">
                     <%= my_seller.name %>
                    <img src="/assets/chat_small.png" style="float:right;" id="chat_myseller">
                   </p>





                <% end %>






					 	 </div>


					          	    
					          
					          		
					        
					          		
					      
					    	
					    


				  </div>
				</div>


			</div>
		<!-- Right Ends -->
		</div>
	<!-- Product Info Ends -->	

    <div class="tabs-panel panel-smart"  style="height:1100px;">

           <div class="col-md-2" > 

            <div class="input-group" style="padding-top:5px;">
              <input type="text" class="form-control" placeholder="Search in shop" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2"></span>
            </div>

           </div>

           <div class="col-md-8" >

              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#spec" id="tablink" aria-controls="home" role="tab" data-toggle="tab">Product Detail</a></li>
                <li role="presentation"><a href="#feedback" id="tablink" aria-controls="profile" role="tab" data-toggle="tab">Feedback</a></li>
                <li role="presentation"><a href="#shipment" id="tablink" aria-controls="messages" role="tab" data-toggle="tab"> Shipment & Payment</a></li>
                <li role="presentation"><a href="#seller_grantee" id="tablink" aria-controls="messages" role="tab" data-toggle="tab"> Seller Grantee</a></li>
              </ul>

           </div>
            <div class="col-md-2" > 
              <center>
                
              <button type="button" class="btn btn-danger" >Add to cart</button>
              </center>
            </div>
        
         
            <hr/>
            <div class="col-md-2" >
                    <br/>
                    <div>
                    <a href="#" class="thumbnail">
                        <img src="/assets/no_image.jpg" alt="...">
                     </a>
                        <b>1800 Kyats </b>
                        <span style="float:right;color:gray;font-weight:bold;">125 sold</span>
                    
                    <span style="float:left;;color:black;font-weight:bold;">Summer dress for lady</span>
                    <p>ggergegegreg gegregregrreg gregregre gregrege </p>


                      <img src="/assets/shop-icon-23328.png">  MiMiBerry Tshirt
                      <img src="/assets/chat.png" style="float:right;">
                    </div>


                        <br/>
                    <div>
                    <a href="#" class="thumbnail">
                        <img src="/assets/no_image.jpg" alt="...">
                     </a>
                        <b>1800 Kyats </b>
                        <span style="float:right;color:gray;font-weight:bold;">125 sold</span>
                    
                    <span style="float:left;;color:black;font-weight:bold;">Summer dress for lady</span>
                    <p>ggergegegreg gegregregrreg gregregre gregrege </p>


                      <img src="/assets/shop-icon-23328.png">  MiMiBerry Tshirt
                      <img src="/assets/chat.png" style="float:right;">
                    </div>


                        <br/>
                    <div>
                    <a href="#" class="thumbnail">
                        <img src="/assets/no_image.jpg" alt="...">
                     </a>
                        <b>1800 Kyats </b>
                        <span style="float:right;color:gray;font-weight:bold;">125 sold</span>
                    
                    <span style="float:left;;color:black;font-weight:bold;">Summer dress for lady</span>
                    <p>ggergegegreg gegregregrreg gregregre gregrege </p>


                      <img src="/assets/shop-icon-23328.png">  MiMiBerry Tshirt
                      <img src="/assets/chat.png" style="float:right;">
                    </div>

            </div>

            <div class="col-md-8">

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="spec"> 

                  <center>
                        <table>

                                   <tr>
                                       <th style="width:300px;font-size:15px;"><%= @product.store_name rescue "-" %></th>
                                       <th style="width:300px;font-size:15px;"><%= @product.title rescue "-" %></th>
                                      </tr>
                                        <tr>
                                       <th style="width:300px;font-size:15px;"><%= @product.category rescue "-" %></th>
                                       <th style="width:300px;font-size:15px;"><%= @product.ingredient rescue "-" %></th>
                                      </tr>
                                        <tr>
                                       <th style="width:300px;font-size:15px;"><%= @product.usage rescue "-" %></th>
                                       <th style="width:300px;font-size:15px;"><%= @product.made_by_country rescue "-" %></th>
                                      </tr>
                                        <tr>
                                       <th style="width:300px;font-size:15px;"><%= @product.description rescue "-" %></th>
                                       <th style="width:300px;font-size:15px;"><%= @product.brand rescue "-" %></th>
                                      </tr>
                                        <tr>
                                       <th style="width:300px;font-size:15px;"><%= @product.effect rescue "-" %></th>
                                       <th style="width:300px;font-size:15px;"><%= @product.certification rescue "-" %></th>
                                      </tr>
                                        <tr>
                                       <th style="width:300px;font-size:15px;"><%= @product.age_group rescue "-" %></th>
                                       <th style="width:300px;font-size:15px;"><%= @product.price rescue "-" %></th>
                                      </tr>
                                        <tr>
                                       <th style="width:300px;font-size:15px;"><%= @product.feature rescue "-" %></th>
                                       <th style="width:300px;font-size:15px;"><%= @product.modal_number rescue "-" %></th>
                                      </tr>
                                        <tr>
                                       <th style="width:300px;font-size:15px;"><%= @product.color rescue "-" %></th>
                                       <th style="width:300px;font-size:15px;"><%= @product.quantity rescue "-" %></th>
                                      </tr>
                                        <tr>
                                       <th style="width:300px;font-size:15px;"><%= @product.size rescue "-" %></th>
                                       <th style="width:300px;font-size:15px;"><%= @product.weight rescue "-" %></th>
                                      </tr>
                                        <tr>
                                       <th style="width:300px;font-size:15px;"><%= @product.made_with rescue "-" %></th>
                                       <th style="width:300px;font-size:15px;"><%= @product.specification rescue "-" %></th>
                                      </tr>
                                        <tr>
                                       <th style="width:300px;font-size:15px;"><%= @product.thickness rescue "-" %></th>
                                       <th style="width:300px;font-size:15px;"><%= @product.operation_system rescue "-" %></th>
                                      </tr>
                                        <tr>
                                       <th style="width:300px;font-size:15px;"><%= @product.bag_type rescue "-" %></th>
                                       <th style="width:300px;font-size:15px;"><%= @product.gender rescue "-" %></th>
                                      </tr>
                                        <tr>
                                       <th style="width:300px;font-size:15px;"><%= @product.footwear_type rescue "-" %></th>
                                       <th style="width:300px;font-size:15px;"><%= @product.hat_type rescue "-" %></th>
                                      </tr>
                                        <tr>
                                       <th style="width:300px;font-size:15px;"><%= @product.power rescue "-" %></th>
                                       <th style="width:300px;font-size:15px;"><%= @product.voltage rescue "-" %></th>
                                      </tr>
                                        <tr>
                                       <th style="width:300px;font-size:15px;"><%= @product.dimension rescue "-" %></th>
                                       <th style="width:300px;font-size:15px;"><%= @product.caution rescue "-" %></th>
                                      </tr>
                                        


                         
                        </table>
                  </center>
                  <hr/>

              
                   <% @store_ads.each do |store_ad| %>
                    

                         <%= image_tag store_ad.ads_one.url, :id => "store_ads"  %>
                         <%= image_tag store_ad.ads_two.url, :id => "store_ads" %>


                          <span style="font-weight:bold;color:#d9534f;">Terms and Condition</span><br/>
                          <span style="font-weight:bold;colo:gray;">
                               <%= store_ad.description rescue "-"  %>
                          </span>


                          <br/><br/>
                          <span style="font-weight:bold;color:#d9534f;">Terms and Condition</span><br/>
                           <span style="font-weight:bold;color:#d9534f;">
                               <%= store_ad.term rescue "-" %>
                           </span>


              
                    <% end %>
                  <br/>
                
                


                  </div>
                  <div role="tabpanel" class="tab-pane" id="feedback">
                    
                      <div class="panel panel-default">
                          <div class="panel-body">
                                
                               <div class="radio" style="top:-10px;left:10px;">
                                <label>
                                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                   All
                                </label>
                                 <label>
                                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                   5 star
                                </label>
                                 <label>
                                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                   4 star
                                </label>
                                 <label>
                                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                   3 star
                                </label>
                                 <label>
                                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                   2 star
                                </label>
                                <label>
                                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                   1 star
                                </label>

                                  <div class="input-group" style="float:right;width:150px;right:20px;">
                                <input type="text" class="form-control" aria-label="..." placeholder="">
                                <div class="input-group-btn">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">arrange by <span class="caret"></span></button>
                                  <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                  </ul>
                                </div><!-- /btn-group -->
                              </div><!-- /input-group -->
                              </div>




                          </div>
                        </div>


                      <%= form_for(@comment, :remote => true) do |f| %>
                   

                         <% if user_signed_in? %>
                 

                               <% if @purchase_product.include? @product.id %> 

                                  <div class="field"  style="display:none;">
                                    <%= f.label :user_id %><br>
                                    <%= f.number_field :user_id, :value => current_user.id %>
                                  </div>
                                  <div class="field">
                                    <%= f.text_area :message, :class => "form-control", :rows => "5" %>
                                  </div><br/>
                                  <div class="field" style="display:none;">
                                    <%= f.label :product_id %><br>
                                    <%= f.number_field :product_id, :value => @product.id %>
                                  </div>
                                  <div class="actions">
                                    <%= f.submit "Give feedback", :id=> "btn_feedback" %>
                                  </div>

                            <% end %>
                          <% end %> 

                        <% end %><br/>


                    

                      <div style="height: 750px;overflow: scroll;">

                              <% @comments.each do |comment| %>
                                    <div class="col-md-2">
                                       <img src="/assets/avatar.jpg" alt="...">
                                    </div>

                                    <div class="col-md-9" style="left:30px;">
                                          <div class="panel panel-default">
                                            <div class="panel-body">
                                               <p style="top:30px;"> &nbsp;&nbsp;
                                                      <%= comment.message %>
                                               </p>
                                              <p style="top:30px;"> &nbsp;&nbsp; 
                                              <img src="/assets/star.png"><img src="/assets/star.png"><img src="/assets/star.png"><img src="/assets/star.png"><img src="/assets/star.png">
                                              .</p><bt/>
                                              <h4>  &nbsp;&nbsp; <%= comment.user.name rescue "-" %></h4>
                                            </div>
                                          </div>
                                    </div>
                              <% end %>

                            <div class="col-md-2">
                               <img src="/assets/avatar.jpg" alt="...">
                            </div>

                            <div class="col-md-9" style="left:30px;">
                                  <div class="panel panel-default">
                                    <div class="panel-body">
                                       <p style="top:30px;" id="the_feed"> &nbsp;&nbsp;.</p>
                                      <p style="top:30px;"> &nbsp;&nbsp; 
                                      <img src="/assets/star.png"><img src="/assets/star.png"><img src="/assets/star.png"><img src="/assets/star.png"><img src="/assets/star.png">
                                      .</p><bt/>
                                        <% if user_signed_in? %>
                                      <h4>  
                                      &nbsp;&nbsp; <%= current_user.name %>
                                      </h4>
                                        <% end %>
                                    </div>
                                  </div>
                            </div>

                    </div>




                 
                      
                  </div>
                  <div role="tabpanel" class="tab-pane" id="shipment"> Shipment & Payment</div>
                  <div role="tabpanel" class="tab-pane" id="seller_grantee"> Seller grantee</div>
                </div>



            </div>

            <div class="col-md-2" >
                    <br/>
                    <div>
                    <a href="#" class="thumbnail">
                        <img src="/assets/no_image.jpg" alt="...">
                     </a>
                        <b>1800 Kyats </b>
                        <span style="float:right;color:gray;font-weight:bold;">125 sold</span>
                    
                    <span style="float:left;;color:black;font-weight:bold;">Summer dress for lady</span>
                    <p>ggergegegreg gegregregrreg gregregre gregrege </p>


                      <img src="/assets/shop-icon-23328.png">  MiMiBerry Tshirt
                      <img src="/assets/chat.png" style="float:right;">
                    </div>


                        <br/>
                    <div>
                    <a href="#" class="thumbnail">
                        <img src="/assets/no_image.jpg" alt="...">
                     </a>
                        <b>1800 Kyats </b>
                        <span style="float:right;color:gray;font-weight:bold;">125 sold</span>
                    
                    <span style="float:left;;color:black;font-weight:bold;">Summer dress for lady</span>
                    <p>ggergegegreg gegregregrreg gregregre gregrege </p>


                      <img src="/assets/shop-icon-23328.png">  MiMiBerry Tshirt
                      <img src="/assets/chat.png" style="float:right;">
                    </div>


                        <br/>
                    <div>
                    <a href="#" class="thumbnail">
                        <img src="/assets/no_image.jpg" alt="...">
                     </a>
                        <b>1800 Kyats </b>
                        <span style="float:right;color:gray;font-weight:bold;">125 sold</span>
                    
                    <span style="float:left;;color:black;font-weight:bold;">Summer dress for lady</span>
                    <p>ggergegegreg gegregregrreg gregregre gregrege </p>


                      <img src="/assets/shop-icon-23328.png">  MiMiBerry Tshirt
                      <img src="/assets/chat.png" style="float:right;">
                    </div>

            </div>

        
        <!-- Tab Content Ends -->
    </div>


 
	</div>








<!--  chat box -->



  <div class="popup-box chat-popup" id="mychatbox"  style="display:none;">

    <div class="popup-head">
        <div class="popup-head-left"><%= @product.user.name %></div>
        <div class="popup-head-right">
          <a href="#" id="close_chat">✕</a>
        </div>
    </div>

   


    <div class="popup_foot">

     <div id="msg_box">
       <p id="text_msg"></p>
     </div>


      <input class="form-control" id="message" rows="1"></textarea>
      <input class="btn btn-default" type="button" value="Send" id="send" style="display:none;">
    </div>
    

  </div>



         <% @my_sellers.each do |my_seller| %>

                 

                    <div class="popup-box chat-popup" id="mysellerchatbox"  style="display:none;">

                      <div class="popup-head">
                          <div class="popup-head-left"> <%= my_seller.name %></div>
                          <div class="popup-head-right">
                            <a href="#" id="close_chatseller">✕</a>
                          </div>
                      </div>

                      <div class="popup_foot">

                           <div id="msg_box">
                             <p id="text_msg"></p>
                           </div>
                            <input class="form-control" id="message" rows="1"></textarea>
                            <input class="btn btn-default" type="button" value="Send" id="send" style="display:none;">
                      </div>
                      
                  </div>


                <% end %>








	<script type="text/javascript">

window.onload = function(){
   document.getElementById('select_city').onclick = function(e){

  



 var package_name = document.getElementById('select_city').options[document.getElementById('select_city').selectedIndex].value;


document.getElementById('delivery_fees').value = package_name;


   }};

	</script>




  <%  if user_signed_in?  %>

			<script type="text/javascript">
				  
				$(document).ready(function () {
				    //$('#dialog').dialog(); 
				    $('#chat_user').click(function () {
				        $('#mychatbox').show();
				        return false;
				    });

				    $('#close_chat').click(function () {
				        $('#mychatbox').hide();
				        return false;
				    });

				    $('#send').click(function () {
				        
				      var message = document.getElementById("message").value;
				      var mychannel = "<%= current_user.name.to_s + @product.user.name.to_s %>";
				      var sender_id = "<%= current_user.id %>";
				      var recipient_id = "<%= @product.user_id %>";



				      $.ajax({
				              type: 'get',
				              url: "send_to_pusher?message="+message+"&recipient_id="+recipient_id+"&sender_id="+sender_id+"&channels="+mychannel,
				              complete: function(r){


				                      $("#text_msg").append("<b> You: "+message+"</b><br/> ");
				                      $("#msg_box").scrollTop($("#msg_box")[0].scrollHeight);
				                   

				              }
				           });



				    });


            // chat user my seller

            $('#chat_myseller').click(function () {
                $('#mysellerchatbox').show();
                return false;
            });

            $('#close_chatseller').click(function () {
                $('#mysellerchatbox').hide();
                return false;
            });

            $('#send').click(function () {
                
              var message = document.getElementById("message").value;
              var mychannel = "<%= current_user.name.to_s + @product.user.name.to_s %>";
              var sender_id = "<%= current_user.id %>";
              var recipient_id = "<%= @product.user_id %>";



              $.ajax({
                      type: 'get',
                      url: "send_to_pusher?message="+message+"&recipient_id="+recipient_id+"&sender_id="+sender_id+"&channels="+mychannel,
                      complete: function(r){


                              $("#text_msg").append("<b> You: "+message+"</b><br/> ");
                              $("#msg_box").scrollTop($("#msg_box")[0].scrollHeight);
                           

                      }
                   });



            });





				});

				</script>


				<script type="text/javascript">
				  
				 // Enable pusher logging - don't include this in production
				    Pusher.log = function(message) {
				      if (window.console && window.console.log) {
				        window.console.log(message);
				      }
				    };

				    var pusher = new Pusher('b218d631b3532773d67f', {
				      encrypted: true
				    });


				     var my_channel = "<%= @product.user.name.to_s + current_user.name.to_s %>";
				  

				    var channel = pusher.subscribe(my_channel);
				    channel.bind('my_event', function(data) {

				          $("#text_msg").append("<b id='receiver'>"+"<%= @product.user.name.to_s %>: "+data.message+"</b><br/> ");
				                 
				    });

				</script>







				<script type="text/javascript">
				  

					$('#message').keypress(function (e) {
					  if (e.which == 13) {
					    $("#send").click()
					    $('#message').val('');
					  }
					});

				</script>


				 <script type="text/javascript">




				  $('#fav').click(function () {
				        
				      var item_code = "aok_code";
				      var item =  "aok_item";
				      var user_id = "<%= current_user.id %>";
				 



				      $.ajax({
				              type: 'get',
				              url: "add_to_favourite?item_code="+item_code+"&item="+item+"&user_id="+user_id,
				              complete: function(r){

				              		alert("added to your favourite");
				                   

				              }
				           });



				    });

				  $("#btn_feedback").click(function () {

				  		 message = document.getElementById("comment_message").value;
				  		 $("#the_feed").append("<p>"+message+"</p>");
					    
					}); 


 				</script>



 <% end %>





<script type="text/javascript">
  
$("#zoom_01").elevateZoom();
$("#zoom_02").elevateZoom();
$("#zoom_03").elevateZoom();
$("#zoom_04").elevateZoom();

$('#av2').click(function(){

  $('#zoom_01').hide();
  $('#zoom_02').show();
  $('#zoom_03').hide();
  $('#zoom_04').hide();

});


$('#av3').click(function(){

  $('#zoom_01').hide();
  $('#zoom_02').hide();
  $('#zoom_03').show();
  $('#zoom_04').hide();

});


$('#av4').click(function(){

  $('#zoom_01').hide();
  $('#zoom_02').hide();
  $('#zoom_03').hide();
  $('#zoom_04').show();

});



</script>


<style type="text/css">
  

#store_ads{

  width:700px;
  height: 300px;
}

</style>