<div class="main-header">
			<div class="container">
				<div class="row">
						

					<div class="col-md-3">
						<div id="logo" style="float:left;">
							<a href="#"><img src="/assets/logo.jpg" title="Spice Shoppe" alt="Spice Shoppe" class="img-responsive" /></a>
						</div>
					</div>

					<div class="col-md-3">
								<img src="/assets/ads.png" alt="BannerAds" />
					</div>

					<div class="col-md-6">
						
						<div id="search" style="width:300px;float:right;">
							<div class="input-group" >
							  <input type="text" class="form-control input-lg" placeholder="Search" >
							  <span class="input-group-btn">
								<button class="btn btn-lg" type="button">
									<i class="fa fa-search"></i>
								</button>
							  </span>
							</div>
						</div>	

						<div id="cart" class="btn-group btn-block" style="width:300px;float:right;">
							<button type="button" data-toggle="dropdown" class="btn btn-block btn-lg dropdown-toggle" style="height:47px;">
								<i class="fa fa-shopping-cart" ></i>
								<span class="hidden-md"><%=t :cart %></span> 
								<span id="cart-total"> <%= (@cart.total_quantity) %> item(s) -   <%= (@cart.total_price) %> <%=t :MMK %></span>
								<i class="fa fa-caret-down"></i>
							</button>
							<ul class="dropdown-menu pull-right">
							    <li>
									<%= render (@cart.line_items) %>
								</li>
							
								<li>
									<p class="text-right btn-block1">
										<a href="/check_out">
											<%=t :view_cart %>
										</a>
										<a href="/check_out">
											<%=t :check_out %>
										</a>
									</p>
								</li>

							</ul>
						</div>


					</div>

				</div>
		
		</div>
	<!-- Main Header Ends -->
	<!-- Main Menu Starts -->
		<nav id="main-menu" class="navbar" role="navigation">
			<div class="container">
			<!-- Nav Header Starts -->
				<div class="navbar-header">
					<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
						<span class="sr-only">Toggle Navigation</span>
						<i class="fa fa-bars"></i>
					</button>
				</div>
			<!-- Nav Header Ends -->
			<!-- Navbar Cat collapse Starts -->
				<div class="collapse navbar-collapse navbar-cat-collapse">
					<ul class="nav navbar-nav">
						<li><a href="#">Digital Cameras</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
								Sound Devices
							</a>
							<ul class="dropdown-menu" role="menu">
								<li><a tabindex="-1" href="#">Music System</a></li>
								<li><a tabindex="-1" href="#">DTS</a></li>
								<li><a tabindex="-1" href="#">Home Theater</a></li> 
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">Televisions </a>
							<div class="dropdown-menu">
								<div class="dropdown-inner">
									<ul class="list-unstyled">
										<li class="dropdown-header">Sub Category</li>
										<li><a tabindex="-1" href="#">item 1</a></li>
										<li><a tabindex="-1" href="#">item 2</a></li>
										<li><a tabindex="-1" href="#">item 3</a></li>
									</ul>										
									<ul class="list-unstyled">
										<li class="dropdown-header">Sub Category</li>
										<li><a tabindex="-1" href="#">item 1</a></li>
										<li><a tabindex="-1" href="#">item 2</a></li>
										<li><a tabindex="-1" href="#">item 3</a></li>
									</ul>
									<ul class="list-unstyled">
										<li class="dropdown-header">Sub Category</li>
										<li><a tabindex="-1" href="#">item 1</a></li>
										<li><a tabindex="-1" href="#">item 2</a></li>
										<li><a tabindex="-1" href="#">item 3</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li><a href="#">Computers </a></li>
						<li><a href="#">Washing Machines</a></li>
						<li><a href="#">Accessories </a></li>
                        <li><a href="#">Mobile Phones  </a></li>
						<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
						Pages
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a tabindex="-1" href="#">Home</a></li>
						<li><a tabindex="-1" href="#">About</a></li>
						<li><a tabindex="-1" href="#">Category List</a></li>
						<li><a tabindex="-1" href="#">Category Grid</a></li>
						<li><a tabindex="-1" href="#">Product</a></li>
						<li><a tabindex="-1" href="#">Product Full Width</a></li>
						<li><a tabindex="-1" href="#">Cart</a></li>
						<li><a tabindex="-1" href="#">Login</a></li>
						<li><a tabindex="-1" href="#">Compare Products</a></li>
						<li><a tabindex="-1" href="#">Typography</a></li>
						<li><a tabindex="-1" href="#">Register</a></li>
						<li><a tabindex="-1" href="#">Contact</a></li>
						<li><a tabindex="-1" href="#">404</a></li>
					</ul>
				</li>
					</ul>
				</div>
			<!-- Navbar Cat collapse Ends -->
			</div>
		</nav>
	<!-- Main Menu Ends -->
	</header>
<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Register</li>
		</ol>
	<!-- Breadcrumb Ends -->
	<!-- Main Heading Starts -->
		<h2 class="main-heading text-center">
			Register <br />
			<span>Create New Account</span>
		</h2>
	<!-- Main Heading Ends -->
	<!-- Registration Section Starts -->
		<section class="registration-area">
			<div class="row">
				<div class="col-sm-6">
				<!-- Registration Block Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">Personal Information</h3>
						</div>
						<div class="panel-body">
						<!-- Registration Form Starts -->
							<form class="form-horizontal" role="form">
							<!-- Personal Information Starts -->
								<div class="form-group">
									<label for="inputFname" class="col-sm-3 control-label">First Name :</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="inputFname" placeholder="First Name">
									</div>
								</div>
								<div class="form-group">
									<label for="inputLname" class="col-sm-3 control-label">Last Name :</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="inputLname" placeholder="Last Name">
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail" class="col-sm-3 control-label">Email :</label>
									<div class="col-sm-9">
										<input type="email" class="form-control" id="inputEmail" placeholder="Email">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPhone" class="col-sm-3 control-label">Phone :</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="inputPhone" placeholder="Phone">
									</div>
								</div>
								<div class="form-group">
									<label for="inputFax" class="col-sm-3 control-label">Fax :</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="inputFax" placeholder="Fax">
									</div>
								</div>
							<!-- Personal Information Ends -->
								<h3 class="panel-heading inner">
									Delivery Information
								</h3>
							<!-- Delivery Information Starts -->
								<div class="form-group">
									<label for="inputCompany" class="col-sm-3 control-label">Company :</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="inputCompany" placeholder="Company">
									</div>
								</div>
								<div class="form-group">
									<label for="inputCompanyId" class="col-sm-3 control-label">Company ID :</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="inputCompanyId" placeholder="Company ID">
									</div>
								</div>
								<div class="form-group">
									<label for="inputAddress1" class="col-sm-3 control-label">Address/1 :</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="inputAddress1" placeholder="Address/1">
									</div>
								</div>
								<div class="form-group">
									<label for="inputAddress2" class="col-sm-3 control-label">Address/2 :</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="inputAddress2" placeholder="Address/2">
									</div>
								</div>
								<div class="form-group">
									<label for="inputCity" class="col-sm-3 control-label">City :</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="inputCity" placeholder="City">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPostCode" class="col-sm-3 control-label">Postal Code :</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="inputPostCode" placeholder="Postal Code">
									</div>
								</div>
								<div class="form-group">
									<label for="inputCountry" class="col-sm-3 control-label">Country :</label>
									<div class="col-sm-9">
										<select class="form-control" id="inputCountry">
											<option>- All Countries -</option>
											<option>India</option>
											<option>USA</option>
											<option>UK</option>
											<option>China</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="inputRegion" class="col-sm-3 control-label">Region :</label>
									<div class="col-sm-9">
										<select class="form-control" id="inputRegion">
											<option>- All Regions -</option>
										</select>
									</div>
								</div>
							<!-- Delivery Information Ends -->
								<h3 class="panel-heading inner">
									Password
								</h3>
							<!-- Password Area Starts -->
								<div class="form-group">
									<label for="inputPassword" class="col-sm-3 control-label">Password :</label>
									<div class="col-sm-9">
										<input type="password" class="form-control" id="inputPassword" placeholder="Password">
									</div>
								</div>
								<div class="form-group">
									<label for="inputRePassword" class="col-sm-3 control-label">Re-Password :</label>
									<div class="col-sm-9">
										<input type="password" class="form-control" id="inputRePassword" placeholder="Re-Password">
									</div>
								</div>
								<div class="form-group">
									<span class="col-sm-3 control-label">Newsletter :</span>
									<div class="col-sm-9">
										<div class="radio">
											<label>
												<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
												Subscribe
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="optionsRadios" id="optionsRadios2" value="option1">
												Unsubscribe
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<div class="checkbox">
											<label>
												<input type="checkbox"> I'v read and agreed on Conditions
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<button type="submit" class="btn btn-black">
											Register
										</button>
									</div>
								</div>
							<!-- Password Area Ends -->
							</form>
						<!-- Registration Form Starts -->
						</div>							
					</div>
				<!-- Registration Block Ends -->
				</div>
				<div class="col-sm-6">
				<!-- Guest Checkout Panel Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">
								Checkout as Guest
							</h3>
						</div>
						<div class="panel-body">
							<p>
								Checkout as a guest instead!
							</p>
							<button class="btn btn-black">As Guest</button>
						</div>
					</div>
				<!-- Guest Checkout Panel Ends -->
				<!-- Conditions Panel Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">
								Conditions
							</h3>
						</div>
						<div class="panel-body">
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including  versions of Lorem Ipsum.
							</p>
							<ol>
							  <li>Lorem ipsum dolor sit amet</li>
							  <li>Consectetur adipiscing elit</li>
							  <li>Integer molestie lorem at massa</li>
							  <li>Facilisis in pretium nisl aliquet</li>
							  <li>Nulla volutpat aliquam velit</li>
							  <li>Faucibus porta lacus fringilla vel</li>
							  <li>Aenean sit amet erat nunc</li>
							  <li>Eget porttitor lorem</li>
							</ol>
							<p>
								HTML Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. 
							</p>
							<p>
								Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula. Donec lobortis risus a elit. Etiam tempor. Ut ullamcorper, ligula eu tempor congue, eros est euismod turpis, id tincidunt sapien risus a quam. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat quis, neque. 
							</p>
							<p>
								Aliquam faucibus, elit ut dictum aliquet, felis nisl adipiscing sapien, sed malesuada diam lacus eget erat. Cras mollis scelerisque nunc. Nullam arcu. Aliquam consequat. Curabitur augue lorem, dapibus quis, laoreet et, pretium ac, nisi. 
							</p>
							<p>
								Aenean magna nisl, mollis quis, molestie eu, feugiat in, orci. In hac habitasse platea dictumst. 
							</p>
						</div>
					</div>
				<!-- Conditions Panel Ends -->
				</div>
			</div>
		</section>
	<!-- Registration Section Ends -->
	</div>