<p id="notice"><%= notice %></p>

<h1>Listing Computers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Size</th>
      <th>Weight</th>
      <th>Thickness</th>
      <th>Made by country</th>
      <th>Description</th>
      <th>Brand</th>
      <th>Category</th>
      <th>Modal number</th>
      <th>Color</th>
      <th>Feature</th>
      <th>Operation system</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @computers.each do |computer| %>
      <tr>
        <td><%= computer.title %></td>
        <td><%= computer.price %></td>
        <td><%= computer.quantity %></td>
        <td><%= computer.size %></td>
        <td><%= computer.weight %></td>
        <td><%= computer.Thickness %></td>
        <td><%= computer.made_by_country %></td>
        <td><%= computer.description %></td>
        <td><%= computer.brand %></td>
        <td><%= computer.category %></td>
        <td><%= computer.modal_number %></td>
        <td><%= computer.color %></td>
        <td><%= computer.feature %></td>
        <td><%= computer.operation_system %></td>
        <td><%= link_to 'Show', computer %></td>
        <td><%= link_to 'Edit', edit_computer_path(computer) %></td>
        <td><%= link_to 'Destroy', computer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Computer', new_computer_path %>
