<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @computer.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @computer.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @computer.quantity %>
</p>

<p>
  <strong>Size:</strong>
  <%= @computer.size %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @computer.weight %>
</p>

<p>
  <strong>Thickness:</strong>
  <%= @computer.Thickness %>
</p>

<p>
  <strong>Made by country:</strong>
  <%= @computer.made_by_country %>
</p>

<p>
  <strong>Description:</strong>
  <%= @computer.description %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @computer.brand %>
</p>

<p>
  <strong>Category:</strong>
  <%= @computer.category %>
</p>

<p>
  <strong>Modal number:</strong>
  <%= @computer.modal_number %>
</p>

<p>
  <strong>Color:</strong>
  <%= @computer.color %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @computer.feature %>
</p>

<p>
  <strong>Operation system:</strong>
  <%= @computer.operation_system %>
</p>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
