
	<%= render 'layouts/defaultnav' %>	

	<br/><div class="row" style="margin:10px;">
		<section class="products-list">		
	
						<!-- Heading Starts -->
							<h2 class="product-head">Home Appliance</h2>
						<!-- Heading Ends -->
						<!-- Products Row Starts -->
							<div class="row">
							<!-- Product #1 Starts -->
							<% @home_appliances.each do |home_appliance| %>
								<div class="col-md-3 col-sm-6">
									<div class="product-col">
										<div class="image">
											<% if !home_appliance.avatar1_file_name.nil?  %>
								                <%= image_tag home_appliance.avatar1.url, :id => "product_image" %>
								            <% else  %>      
												<img src="/assets/no_image.jpg" alt="product" class="img-responsive" />
								            <% end %>
										</div>
										<div class="caption">
											<h4>
												<%= link_to home_appliance.title, full_productinfo_home_appliances_path(:id => home_appliance) %>
											</h4>
											<div class="description">
											
											
											</div>
											<div class="price">
												<span class="price-new"><%= home_appliance.price.to_i %> <%=t :MMK %></span> 
												<span class="price-old"><%= home_appliance.price.to_i + 15 %> <%=t :MMK %></span>
											</div>
											<div class="cart-button">
											
											<%= button_to line_items_path(:mmdealer_code => "home_appliance"+home_appliance.id.to_s, :user_id => home_appliance.user_id), :class =>"btn btn-cart" do %>
											   <%=t :add_to_cart %>
											  <i class="fa fa-shopping-cart"></i> 
											<% end %>


																			
											</div>
										</div>
									</div>
								</div>
							<% end %>
							<!-- Product #1 Ends -->
							<!-- Product #2 Starts -->
								
							<!-- Product #3 Ends -->
							</div>
						<!-- Products Row Ends -->
		</section>
	</div>
		</div>
	</div>
</div>
