<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @home_appliance.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @home_appliance.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @home_appliance.quantity %>
</p>

<p>
  <strong>Size:</strong>
  <%= @home_appliance.size %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @home_appliance.weight %>
</p>

<p>
  <strong>Made by country:</strong>
  <%= @home_appliance.made_by_country %>
</p>

<p>
  <strong>Description:</strong>
  <%= @home_appliance.description %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @home_appliance.brand %>
</p>

<p>
  <strong>Category:</strong>
  <%= @home_appliance.category %>
</p>

<p>
  <strong>Modal number:</strong>
  <%= @home_appliance.modal_number %>
</p>

<p>
  <strong>Color:</strong>
  <%= @home_appliance.color %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @home_appliance.feature %>
</p>

<p>
  <strong>Power:</strong>
  <%= @home_appliance.power %>
</p>

<p>
  <strong>Voltage:</strong>
  <%= @home_appliance.voltage %>
</p>

<%= link_to 'Edit', edit_home_appliance_path(@home_appliance) %> |
<%= link_to 'Back', home_appliances_path %>
