<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @electrical_equipment.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @electrical_equipment.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @electrical_equipment.quantity %>
</p>

<p>
  <strong>Size:</strong>
  <%= @electrical_equipment.size %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @electrical_equipment.weight %>
</p>

<p>
  <strong>Made by country:</strong>
  <%= @electrical_equipment.made_by_country %>
</p>

<p>
  <strong>Description:</strong>
  <%= @electrical_equipment.description %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @electrical_equipment.brand %>
</p>

<p>
  <strong>Category:</strong>
  <%= @electrical_equipment.category %>
</p>

<p>
  <strong>Modal number:</strong>
  <%= @electrical_equipment.modal_number %>
</p>

<p>
  <strong>Color:</strong>
  <%= @electrical_equipment.color %>
</p>

<%= link_to 'Edit', edit_electrical_equipment_path(@electrical_equipment) %> |
<%= link_to 'Back', electrical_equipments_path %>
