<div id="main-container" class="container">

<br/><br/>

<div class="col-md-12">
<div class="panel panel-default">
  <div class="panel-body">
     <p>MyOrder</p>
     <hr/>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Address</th>
              <th>City</th>
              <th>Township</th>
              <th>Order</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= order.customer_name %></td>
                <td><%= order.customer_email %></td>
                <td><%= order.customer_phone %></td>
                <td><%= order.customer_address %></td>
                <td><%= order.customer_city %></td>
                <td><%= order.customer_township %></td>
                <td><%= link_to "Order details",my_items_path(:cart_id => order.cart_id), :method => :get, :class => "btn btn-primary btn-xs" %></td>
                <td><%= link_to 'Show', order %></td>
                <td><%= link_to 'Edit', edit_order_path(order) %></td>
                <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
  </div>
</div>
</div>





</div>