<div class="main-header">
      <div class="container">
        <div class="row">
            

          <div class="col-md-3">
            <div id="logo" style="float:left;">
              <a href="#"><img src="/assets/logo.jpg" title="Spice Shoppe" alt="Spice Shoppe" class="img-responsive" /></a>
            </div>
          </div>

          <div class="col-md-3">
                <img src="/assets/ads.png" alt="BannerAds" />
          </div>

          <div class="col-md-6">
            
            <div id="search" style="width:300px;float:right;">
              <div class="input-group" >
                <input type="text" class="form-control input-lg" placeholder="Search" >
                <span class="input-group-btn">
                <button class="btn btn-lg" type="button">
                  <i class="fa fa-search"></i>
                </button>
                </span>
              </div>
            </div>  

            <div id="cart" class="btn-group btn-block" style="width:300px;float:right;">
              <button type="button" data-toggle="dropdown" class="btn btn-block btn-lg dropdown-toggle" style="height:47px;">
                <i class="fa fa-shopping-cart" ></i>
                <span class="hidden-md"><%=t :cart %></span> 
                <span id="cart-total"> <%= (@cart.total_quantity) %> item(s) -   <%= (@cart.total_price) %> <%=t :MMK %></span>
                <i class="fa fa-caret-down"></i>
              </button>
              <ul class="dropdown-menu pull-right">
                  <li>
                  <%= render (@cart.line_items) %>
                </li>
              
                <li>
                  <p class="text-right btn-block1">
                    <a href="/check_out">
                      <%=t :view_cart %>
                    </a>
                    <a href="/check_out">
                      <%=t :check_out %>
                    </a>
                  </p>
                </li>

              </ul>
            </div>


          </div>

        </div>
    
    </div>
  <!-- Main Header Ends -->
  <!-- Main Menu Starts -->
    <nav id="main-menu" class="navbar" role="navigation">
      <div class="container">
      <!-- Nav Header Starts -->
        <div class="navbar-header">
          <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <i class="fa fa-bars"></i>
          </button>
        </div>
      <!-- Nav Header Ends -->
      <!-- Navbar Cat collapse Starts -->
        <div class="collapse navbar-collapse navbar-cat-collapse">
          <ul class="nav navbar-nav">
                    <li>
              <a href="/product_by_category?category=Apparel-Textiles-Accessories" class="btn btn-1">
                  Accessories
              </a>

            </li>
            <li>
              <a href="/product_by_category?category=Electronics" class="btn btn-1">
                  Electronics
              </a>
            </li>
            <li>
              <a href="/product_by_category?category=Health-Beauty" class="btn btn-1">
                  Health & Beauty
              </a>
            </li>
            <li>
              <a href="/product_by_category?category=Bags-Shoes-Accessories" class="btn btn-1">
                  Fashions
              </a>
            </li>

            <!--  -->
            <li>
              <a href="/product_by_category?category=Agriculture-Food" class="btn btn-1">
                  Agricultures 
              </a>
            </li>
              <li>
              <a href="/product_by_category?category=Packaging-Advertising-Office" class="btn btn-1">
                  Office
              </a>
            </li>
            
              <li>
              <a href="/product_by_category?category=Gifts-Sports-Toys" class="btn btn-1">
                  Sports
              </a>
            </li>
              <li>
              <a href="/product_by_category?category=Auto-Transportation" class="btn btn-1">
                  Auto Transportation
              </a>
            </li>
          </ul>
        </div>
      <!-- Navbar Cat collapse Ends -->
      </div>
    </nav>
  <!-- Main Menu Ends -->
  </header>
<div id="main-container" class="container">



<div class="col-md-12">

<h1> My Orders</h1>

<div class="panel panel-default">
  <div class="panel-body">
     <p>Orders</p>
     <hr/>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Address</th>
              <th>City</th>
              <th>Township</th>
              <th>Order</th>
              <th>Status</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= order.customer_name %></td>
                <td><%= order.customer_email %></td>
                <td><%= order.customer_phone %></td>
                <td><%= order.customer_address %></td>
                <td><%= order.customer_city %></td>
                <td><%= order.customer_township %></td>


                
                <td><%= link_to "Order details",my_items_path(:cart_id => order.cart_id), :method => :get, :class => "btn btn-primary btn-xs" %></td>
                <td><%= link_to "Order details",my_order_status_path( order.id), :method => :get, :class => "btn btn-info btn-xs" %></td>
                <td><%= link_to 'Show', order %></td>
                <td><%= link_to 'Edit', edit_order_path(order) %></td>
                <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
  </div>
</div>
</div>





</div>