<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @telephone_accessory.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @telephone_accessory.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @telephone_accessory.quantity %>
</p>

<p>
  <strong>Size:</strong>
  <%= @telephone_accessory.size %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @telephone_accessory.weight %>
</p>

<p>
  <strong>Made by country:</strong>
  <%= @telephone_accessory.made_by_country %>
</p>

<p>
  <strong>Description:</strong>
  <%= @telephone_accessory.description %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @telephone_accessory.brand %>
</p>

<p>
  <strong>Category:</strong>
  <%= @telephone_accessory.category %>
</p>

<p>
  <strong>Modal number:</strong>
  <%= @telephone_accessory.modal_number %>
</p>

<p>
  <strong>Color:</strong>
  <%= @telephone_accessory.color %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @telephone_accessory.feature %>
</p>

<p>
  <strong>Operation system:</strong>
  <%= @telephone_accessory.operation_system %>
</p>

<%= link_to 'Edit', edit_telephone_accessory_path(@telephone_accessory) %> |
<%= link_to 'Back', telephone_accessories_path %>
