<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @motorcycle_accessory.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @motorcycle_accessory.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @motorcycle_accessory.quantity %>
</p>

<p>
  <strong>Size:</strong>
  <%= @motorcycle_accessory.size %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @motorcycle_accessory.weight %>
</p>

<p>
  <strong>Made by country:</strong>
  <%= @motorcycle_accessory.made_by_country %>
</p>

<p>
  <strong>Made with:</strong>
  <%= @motorcycle_accessory.made_with %>
</p>

<p>
  <strong>Description:</strong>
  <%= @motorcycle_accessory.description %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @motorcycle_accessory.brand %>
</p>

<p>
  <strong>Specification:</strong>
  <%= @motorcycle_accessory.specification %>
</p>

<p>
  <strong>Modal number:</strong>
  <%= @motorcycle_accessory.modal_number %>
</p>

<p>
  <strong>Color:</strong>
  <%= @motorcycle_accessory.color %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @motorcycle_accessory.feature %>
</p>

<%= link_to 'Edit', edit_motorcycle_accessory_path(@motorcycle_accessory) %> |
<%= link_to 'Back', motorcycle_accessories_path %>
