
 
  
  <div class="col-md-6"> 

    <div class="panel panel-default">
        <div class="panel-body">
            <h4>New Product Fashion clothings</h4>
            <hr/>


            <%= form_for(@fashion_clothing, html: { multipart: true }) do |f| %>
              <% if @fashion_clothing.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@fashion_clothing.errors.count, "error") %> prohibited this product from being saved:</h2>

                  <ul>
                  <% @fashion_clothing.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

                  <%= f.text_field :store_name, :value => @store_name, :style => "display:none;" %>
            <div class="form-group" style="display:none;">
              <%= f.label :user_id %>
              <%= f.number_field :user_id, :value => current_user.id %>
            </div>


            <div class="form-group" >
              <%= f.label :delivery_category %>
              <%= f.select(:delivery_category, FashionClothing::DELIVERY) %>
            </div>


              

            <div class="form-group">
              <%= f.label :title %><br/>
              <%= f.text_field :title, :class=>"form-control", :required => true  %>
            </div>


            <div class="form-group">
              <%= f.label :price %><br/>
               <%= f.text_field :price, :class=>"form-control", :required => true  %> 
            </div>

             <div class="form-group">
              <%= f.label :color %><br/>
              <%= f.text_field :color, :class=>"form-control", :required => true  %>
            </div>

            <div class="form-group">
              <%= f.label :brand %><br/>
              <%= f.text_field :brand, :class=>"form-control", :required => true  %>
            </div>

            <div class="form-group">
              <%= f.label :quantity %><br/>
              <%= f.text_field :quantity, :class=>"form-control", :required => true  %>
            </div>

            <div class="form-group">
              <%= f.label :size %><br/>
              <%= f.text_field :size, :class=>"form-control", :required => true  %>
            </div>

            <div class="form-group">
              <%= f.label :made_by_country %><br/>
              <%= f.text_field :made_by_country, :class=>"form-control", :required => true  %>
            </div>

            <div class="form-group">
              <%= f.label :gender %><br/>
              <%= f.text_field :gender, :class=>"form-control", :required => true  %>
            </div>

            <div class="form-group">
              <%= f.label :made_with %><br/>
              <%= f.text_field :made_with, :class=>"form-control" , :required => true %>
            </div>   

             

        </div>
    </div> 
  
  </div>
  <div class="col-md-6">

    <div class="panel panel-default">
        <div class="panel-body">
         <h4>Product Images (Width:250px High:200px for best view)</h4>
            <hr/>


              <!-- crop mage -->
               <div class="col-md-6">
                      <div class="image-editor1">

                          <input type="file"  class="cropit-image-input">

                          <div class="cropit-preview"></div>
                          <div class="image-size-label">
                            Resize image
                          </div>

                           <%= f.text_field :avatar1_edit, :class=>"form-control", :style => "display:none;" %>


                            <input type="range" class="cropit-image-zoom-input" id="exportav1">


                  
                          

                        </div>
              </div>
               <div class="col-md-6">
                      <div class="image-editor2">

                                  <input type="file"  class="cropit-image-input">

                          <div class="cropit-preview"></div>
                          <div class="image-size-label">
                            Resize image
                          </div>

                           <%= f.text_field :avatar2_edit, :class=>"form-control", :style => "display:none;"  %>


                            <input type="range" class="cropit-image-zoom-input" id="exportav2">


                  
                       

                        </div>
              </div>


                  <div class="col-md-6">
                      <div class="image-editor3">

                            <input type="file"  class="cropit-image-input">

                          <div class="cropit-preview"></div>
                          <div class="image-size-label">
                            Resize image
                          </div>

                           <%= f.text_field :avatar3_edit, :class=>"form-control", :style => "display:none;"  %>


                            <input type="range" class="cropit-image-zoom-input" id="exportav3">


                  
                       

                        </div>
              </div>



    <div class="col-md-6">
                      <div class="image-editor4">

                            <input type="file"  class="cropit-image-input">

                          <div class="cropit-preview"></div>
                          <div class="image-size-label">
                            Resize image
                          </div>

                           <%= f.text_field :avatar4_edit, :class=>"form-control", :style => "display:none;"  %>


                            <input type="range" class="cropit-image-zoom-input" id="exportav4">


                  
                       

                        </div>
              </div>







             <div class="form-group">
              <%= f.label :description %><br/>
              <%= f.text_area :description, :class=>"form-control", :rows => 12  %>
            </div>
           

            
        </div>
    </div>


  </div>

  <div class="col-md-12">

    <div class="panel panel-default">
        <div class="panel-body">


   <div class="col-md-3">
                      <div class="image-editor5">

                            <input type="file"  class="cropit-image-input">

                          <div class="cropit-preview"></div>
                          <div class="image-size-label">
                            Resize image
                          </div>

                           <%= f.text_field :avatar5_edit, :class=>"form-control", :style => "display:none;"  %>


                            <input type="range" class="cropit-image-zoom-input" id="exportav5">


                  
                       

                        </div>
    </div>

       <div class="col-md-3">
                      <div class="image-editor6">

                            <input type="file"  class="cropit-image-input">

                          <div class="cropit-preview"></div>
                          <div class="image-size-label">
                            Resize image
                          </div>

                           <%= f.text_field :avatar6_edit, :class=>"form-control", :style => "display:none;"  %>


                            <input type="range" class="cropit-image-zoom-input" id="exportav6">


                  
                       

                        </div>
    </div>


       <div class="col-md-3">
                      <div class="image-editor7">

                            <input type="file"  class="cropit-image-input">

                          <div class="cropit-preview"></div>
                          <div class="image-size-label">
                            Resize image
                          </div>

                           <%= f.text_field :avatar7_edit, :class=>"form-control", :style => "display:none;"  %>


                            <input type="range" class="cropit-image-zoom-input" id="exportav7">


                  
                       

                        </div>
    </div>


       <div class="col-md-3">
                      <div class="image-editor8">

                            <input type="file"  class="cropit-image-input">

                          <div class="cropit-preview"></div>
                          <div class="image-size-label">
                            Resize image
                          </div>

                           <%= f.text_field :avatar8_edit, :class=>"form-control", :style => "display:none;"  %>


                            <input type="range" class="cropit-image-zoom-input" id="exportav8">


                  
                       

                        </div>
    </div>

    
                        </div>
    </div>


</div>



  <div class="col-md-12">

    <div class="panel panel-default">
        <div class="panel-body">

           <div class="actions">
            Please enter "Create" button to upload your
            fashion clothings product in your store.
            <span style="float:right;"><%= f.submit %></span>
          </div>

        </div>
    </div>
  </div>


<% end %>



    <script>
      $(function() {
        $('.image-editor1').cropit({
          minZoom: 'fit',

     minZoom: 'fit',
    imageState: {
            src: 'http://localhost:3000/',
          
          },
        });

        $('.image-editor2').cropit({

     minZoom: 'fit',
    imageState: {
            src: 'http://localhost:3000/',
          },
        });


        $('.image-editor3').cropit({

     minZoom: 'fit',
    imageState: {
            src: 'http://localhost:3000/',
          },
        });

        $('.image-editor4').cropit({

     minZoom: 'fit',
    imageState: {
            src: 'http://localhost:3000/',
          },
        });




        $('.rotate-cw').click(function() {
          $('.image-editor1').cropit('rotateCW');
        });
        $('.rotate-ccw').click(function() {
          $('.image-editor1').cropit('rotateCCW');
        });



        $('.rotate-cw').click(function() {
          $('.image-editor2').cropit('rotateCW');
        });
        $('.rotate-ccw').click(function() {
          $('.image-editor2').cropit('rotateCCW');
        });



        $('.rotate-cw').click(function() {
          $('.image-editor3').cropit('rotateCW');
        });
        $('.rotate-ccw').click(function() {
          $('.image-editor3').cropit('rotateCCW');
        });



        $('.rotate-cw').click(function() {
          $('.image-editor4').cropit('rotateCW');
        });
        $('.rotate-ccw').click(function() {
          $('.image-editor4').cropit('rotateCCW');
        });









        var rangeInput = document.getElementById("exportav1");
        rangeInput.addEventListener('mouseup', function() {

              var imageData1 = $('.image-editor1').cropit('export');
              document.getElementById("fashion_clothing_avatar1_edit").value = imageData1;
  

          // window.open(imageData);

        });




        var rangeInput = document.getElementById("exportav2");
        rangeInput.addEventListener('mouseup', function() {
          var imageData2 = $('.image-editor2').cropit('export');
          document.getElementById("fashion_clothing_avatar2_edit").value = imageData2;
          // window.open(imageData);

        });


        var rangeInput = document.getElementById("exportav3");
        rangeInput.addEventListener('mouseup', function() {
          var imageData3 = $('.image-editor3').cropit('export');
       
          document.getElementById("fashion_clothing_avatar3_edit").value = imageData3;
          // window.open(imageData);

        });


        var rangeInput = document.getElementById("exportav4");
        rangeInput.addEventListener('mouseup', function() {
          var imageData4 = $('.image-editor4').cropit('export');
       
          document.getElementById("fashion_clothing_avatar4_edit").value = imageData4;
          // window.open(imageData);

        });




      });
    </script>


