<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @fashion_clothing.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @fashion_clothing.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @fashion_clothing.quantity %>
</p>

<p>
  <strong>Size:</strong>
  <%= @fashion_clothing.size %>
</p>

<p>
  <strong>Made by country:</strong>
  <%= @fashion_clothing.made_by_country %>
</p>

<p>
  <strong>Made with:</strong>
  <%= @fashion_clothing.made_with %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fashion_clothing.description %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @fashion_clothing.gender %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @fashion_clothing.brand %>
</p>

<%= link_to 'Edit', edit_fashion_clothing_path(@fashion_clothing) %> |
<%= link_to 'Back', fashion_clothings_path %>
