<div class="container">
<p id="notice"><%= notice %></p>

<h1>Listing Fashion Accessories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Made by country</th>
      <th>Made with</th>
      <th>Description</th>
      <th>Brand</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fashion_accessories.each do |fashion_accessory| %>
      <tr>
        <td><%= fashion_accessory.title %></td>
        <td><%= fashion_accessory.price %></td>
        <td><%= fashion_accessory.quantity %></td>
        <td><%= fashion_accessory.made_by_country %></td>
        <td><%= fashion_accessory.made_with %></td>
        <td><%= fashion_accessory.description %></td>
        <td><%= fashion_accessory.brand %></td>
        <td><%= link_to 'Show', fashion_accessory %></td>
        <td><%= link_to 'Edit', edit_fashion_accessory_path(fashion_accessory) %></td>
        <td><%= link_to 'Destroy', fashion_accessory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fashion accessory', new_fashion_accessory_path %>
</div>
