  <%= render 'layouts/defaultnav' %>  
  
<div id="main-container" class="container">
  <!-- Breadcrumb Starts -->
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active">Register</li>
    </ol>
  <!-- Breadcrumb Ends -->
  <!-- Main Heading Starts -->
    <h2 class="main-heading text-center">
      Login or create new account
    </h2>
  <!-- Main Heading Ends -->
  <!-- Login Form Section Starts -->
    <section class="login-area">
      <div class="row">
        <div class="col-sm-6">
        <!-- Login Panel Starts -->
          <div class="panel panel-smart">
            <div class="panel-heading">
              <h3 class="panel-title">MyanmarDealer User Login</h3>
            </div>
            <div class="panel-body">
              <p>
                Please login using your existing account
              </p>
            <!-- Login Form Starts -->
             <%= form_for(:user, :url => session_path(:user)) do |f| %>

              <% if !flash.empty? %>
                   
                 
                   <% flash.each do |name, msg| -%>
                     <%= content_tag :div, msg, class: name %>
                   <% end -%>
              
               <% end %>


                <div class="form-group">
                  <label class="sr-only" for="exampleInputEmail2">Email</label>
                  <%= f.email_field :email, autofocus: true, :class=>"form-control" %>
                    <label id="namelb" style="display:none;color:red;font-weight:bold;"> ***please enter user name </label>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="exampleInputPassword2">Password</label>
                  <%= f.password_field :password, autocomplete: "off", :class=>"form-control" %>
                   <label id="pwdlb" style="display:none;color:red;font-weight:bold;"> ***please enter password </label>
                </div>
                <button type="submit" class="btn btn-black" id="mysubmit">
                  Login
                </button>
            <% end %>
            <!-- Login Form Ends -->
            </div>
          </div>
        <!-- Login Panel Ends -->
        </div>
        <div class="col-sm-6">
        <!-- Account Panel Starts -->
          <div class="panel panel-smart">
            <div class="panel-heading">
              <h3 class="panel-title">
                Create new account
              </h3>
            </div>
            <div class="panel-body">
              <p>
                Registration allows you to avoid filling in billing and shipping forms every time you checkout on this website
              </p>
              <a href="/buyer_sign_up" class="btn btn-black">
                Register
              </a>
            </div>
          </div>
        <!-- Account Panel Ends -->
        <!-- Guest Checkout Panel Starts -->
          <div class="panel panel-smart">
            <div class="panel-heading">
              <h3 class="panel-title">
                Checkout as Guest
              </h3>
            </div>
            <div class="panel-body">
              <p>
                Checkout as a guest instead!
              </p>
              <a class="btn btn-black"  href="/check_out_as_guest">As Guest</a>
            </div>
          </div>
        <!-- Guest Checkout Panel Ends -->
        </div>
      </div>
    </section>
  <!-- Login Form Section Ends -->
  </div>


  <style type="text/css">


.alert{

  font-weight: bold;
  font-size: 17px;
   color: red;
}

  </style>




 <script type="text/javascript">


 $("#mysubmit").click(function() {
  


  var x = document.getElementById("user_email").value;
    if (x == null || x == "" ) {
        $("#namelb").show();
        return false;
    }


    var x = document.getElementById("user_password").value;
    if (x == null || x == "" ) {
        $("#pwdlb").show();
        return false;
    }






});





</script>