<p id="notice"><%= notice %></p>

<h1>Fashions &nbsp;</h1> <%= link_to 'New Fashion', new_fashion_path, :class=>"btn btn-primary" %>
<div class="table-responsive">
  <table class="table">
  <thead>
    <tr>
      <th>Product name</th>
      <th>Available size</th>
      <th>Available color</th>
      <th>Shop</th>
      <th>Shop name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fashions.each do |fashion| %>
      <tr>
        <td><%= fashion.product_name %></td>
        <td><%= fashion.available_size %></td>
        <td><%= fashion.available_color %></td>
        <td><%= fashion.shop_id %></td>
        <td><%= fashion.shop_name %></td>
        <td><%= link_to 'Show', fashion %></td>
        <td><%= link_to 'Edit', edit_fashion_path(fashion) %></td>
        <td><%= link_to 'Destroy', fashion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Fashion', new_fashion_path, :class=>"btn btn-primary" %>
