	<%= render 'layouts/defaultnav' %>	

	<br/><div class="row" style="margin:10px;">
		<section class="products-list">		
	
						<!-- Heading Starts -->
							<h2 class="product-head">Machines</h2>
						<!-- Heading Ends -->
						<!-- Products Row Starts -->
							<div class="row">
							<!-- Product #1 Starts -->
							<% @product_machines.each do |product_machine| %>
								<div class="col-md-2 col-sm-6">
									<div class="product-col">
										<div class="image">
											<% if !product_machine.avatar1_file_name.nil?  %>
								                <%= image_tag product_machine.avatar1.url, :id => "product_crop_image"  %>
								            <% else  %>      
												<img src="/assets/no_image.jpg" alt="product" class="img-responsive" />
								            <% end %>
										</div>
										<div class="caption">
											<h6>
												<%= link_to product_machine.title, full_productinfo_machines_path(:id => product_machine) %>
											</h6>
											
											<div class="price">
												<span class="price-new"><%= product_machine.price.to_i %> <%=t :MMK %></span> 
											</div>
											<div class="cart-button">
											
											<%= button_to line_items_path(:mmdealer_code => "machines"+product_machine.id.to_s, :user_id => product_machine.user_id), :class =>"btn btn-cart" do %>
											     Add to cart &nbsp;&nbsp;
											  
											<% end %>


																			
											</div>
										</div>
									</div>
								</div>
							<% end %>
							<!-- Product #1 Ends -->
							<!-- Product #2 Starts -->
								
							<!-- Product #3 Ends -->
							</div>
						<!-- Products Row Ends -->
		</section>
	</div>
		</div>
	</div>
</div>
