

<div class="col-md-12">
<div class="panel panel-default">
  <div class="panel-body">
     <p>MyProducts Management</p>
     <hr/>

          <table class="table">
      <thead>
        <tr>
          <th>Code</th>
          <th>Title</th>
          <th>Price</th>
          <th></th>
          <th> </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.mmdealer_code %></td>
            <td><%= product.title %></td>
            <td><%= product.price %></td>
            <td>  
                 <img src="<%= product.avatar1_edit %>"  style="height: 50px;width: 50px;"/>
                 <img src="<%= product.avatar2_edit %>" style="height: 50px;width: 50px;"/>
                 <img src="<%= product.avatar3_edit %>" style="height: 50px;width: 50px;"/>
                 <img src="<%= product.avatar4_edit %>" style="height: 50px;width: 50px;"/>

            </td>
            <td><%= link_to 'Set as BigDeal', set_as_bigdeal_path(product), :class=>"btn btn-default" %></td>
            <td><%= link_to 'Show', product_path(product), :class=>"btn btn-default" %></td>
            <td><%= link_to 'Edit', edit_product_path(product), :class=>"btn btn-default" %></td>
            <td><%= link_to 'Destroy', product, :class=>"btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
</div>





