<div class="col-md-12">
  <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
            <%= image_tag @product.avatar1.url(:medium), :id => "product_avatar" %>
        </div>
      </div>
  </div>
  <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
                
              <p>
                <span style="color:grey;">Title:</span>
                <%= @product.title %> 
                 <span style="float:right;"> 
                 <%= link_to 'Edit', edit_product_path(@product) %>
                 </span> 
              </p><hr/>

              <p>
                <span style="color:grey;">Color:</span>
                <%= @product.color %>
              </p><hr/>

              <p>
                <span style="color:grey;">Size:</span>
                <%= @product.size %>
              </p><hr/>

              <p>
                <span style="color:grey;">Weight:</span>
                <%= @product.weight %>
              </p><hr/>

              
             
        </div>
      </div>
  </div>

  <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
           <%= image_tag @product.avatar2.url(:medium), :id => "product_avatar" %>
        </div>
      </div>
  </div>
  <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
           <%= image_tag @product.avatar3.url(:medium), :id => "product_avatar" %>
        </div>
      </div>
  </div>
  <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
           <%= image_tag @product.avatar4.url(:medium), :id => "product_avatar" %>
        </div>
      </div>
  </div>
  <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= image_tag @product.avatar5.url(:medium), :id => "product_avatar" %>
        </div>
      </div>
  </div>
  
</div>






