	<%= render 'layouts/defaultnav' %>	


	<br/><div class="row" style="margin:10px;">
		<section class="products-list">		
	
						<!-- Heading Starts -->
							<h2 class="product-head">Bath Supplies</h2>
						<!-- Heading Ends -->
						<!-- Products Row Starts -->
							<div class="row">
							<!-- Product #1 Starts -->
							<% @bath_supplies.each do |bath_supply| %>
								<div class="col-md-2 col-sm-6">
									<div class="product-col">
										<div class="image">
											<% if !bath_supply.avatar1_file_name.nil?  %>
								                <%= image_tag bath_supply.avatar1.url, :id => "product_crop_image" %>
								            <% else  %>      
												<img src="/assets/no_image.jpg" alt="product" class="img-responsive" />
								            <% end %>
										</div>
										<div class="caption">
											<h6>
												<%= link_to bath_supply.title, product_full_path(:id => bath_supply) %>
											</h6>
											
											<div class="price">
												<span class="price-new"><%= bath_supply.price.to_i %> <%=t :MMK %></span> 
											</div>
											<div class="cart-button">
											
											<%= button_to line_items_path(:mmdealer_code => "bath_supplies"+bath_supply.id.to_s, :user_id => bath_supply.user_id), :class =>"btn btn-cart" do %>
											   Add to cart &nbsp;&nbsp;
											<% end %>


																			
											</div>
										</div>
									</div>
								</div>
							<% end %>
							<!-- Product #1 Ends -->
							<!-- Product #2 Starts -->
								
							<!-- Product #3 Ends -->
							</div>
						<!-- Products Row Ends -->
		</section>
	</div>
		</div>
	</div>
</div>
