<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @furniture.title %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @furniture.weight %>
</p>

<p>
  <strong>Dimension:</strong>
  <%= @furniture.dimension %>
</p>

<p>
  <strong>Price:</strong>
  <%= @furniture.price %>
</p>

<p>
  <strong>Made by:</strong>
  <%= @furniture.made_by %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @furniture.brand %>
</p>

<p>
  <strong>Avatar 1:</strong>
  <%= @furniture.avatar_1 %>
</p>

<p>
  <strong>Avatar 2:</strong>
  <%= @furniture.avatar_2 %>
</p>

<p>
  <strong>Avatar 3:</strong>
  <%= @furniture.avatar_3 %>
</p>

<p>
  <strong>Avatar 4:</strong>
  <%= @furniture.avatar_4 %>
</p>

<%= link_to 'Edit', edit_furniture_path(@furniture) %> |
<%= link_to 'Back', furnitures_path %>
