
<nav class="navbar navbar-inverse navbar-fixed-top" style="background:white;border:red;" id="hide_mobile">



  <header id="header-area" >
  <!-- Header Top Starts -->
    <div class="header-top" >
      <div class="container">
        <div class="row" >
        <!-- Header Links Starts -->
          <div class="col-sm-12 col-xs-12" >
              <ul class="nav navbar-nav pull-left" id="showatscroll">
                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" style="color:white;">
                              MD Home
                            </span>
                          </a>
                        </li>

                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" style="color:white;">
                              Big Deal
                            </span>
                          </a>
                        </li>


                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" style="color:white;">
                              MD Mobile
                            </span>
                          </a>
                        </li>
              </ul>

            

              <ul  class="nav navbar-nav pull-left" style="display:none;" id="myanothernav">
                
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MD <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                         <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" >
                              MD Home
                            </span>
                          </a>
                        </li>

                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" >
                              Big Deal
                            </span>
                          </a>
                        </li>


                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" >
                              MD Mobile
                            </span>
                          </a>
                        </li>
                    </ul>
                  </li>
            </ul>


                <%= form_tag(search_result_path, :style => "display:none;", :method => "get", :class =>"navbar-form navbar-left", id:"myanothernavone") do %> 
                                      <div class="form-group">
                                          <%= text_field_tag :title, params[:title], :class=>"form-control" %>
                                      </div>
                                      <button type="submit" class="btn btn-danger" style="position:relative;top:-5px;">search</button>
                <% end %>
      
            <div class="pull-right" >
              <!-- Currency Starts -->
              <ul class="nav navbar-nav pull-left" >

                <% if user_signed_in? %>
                   <% if current_user.user_type_id == 1 %>
                      <li>
                        <a href="/stores/<%= @store_id %>">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            My MD
                          </span>
                        </a>
                      </li>
                    <% else %>
                        <li>
                        <a href="/seller_sign_up">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            My MD
                          </span>
                        </a>
                      </li>
                   <% end %>
                <% else %>
                   <li>
                        <a href="/seller_sign_up">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            My MD
                          </span>
                        </a>
                      </li>

                <% end %>


                      <li>
                        <a href="/check_out">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Cart
                          </span>
                          <span class="badge" id="myqty"><%= (@cart.total_quantity) %></span>
                        </a>
                      </li>


                  <% if user_signed_in? %>

                     <li>
                        <a href="#">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Favourite
                          </span>
                          <span class="badge"><%= @fav_number %></span>
                        </a>
                      </li>

                      <li>
                        <a href="/my_order">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Ordered
                          </span>
                          <span class="badge"> <%=  @order_number  %></span>
                        </a>
                      </li>

                         <li>
                              <%= link_to "#{t :log_out}", destroy_user_session_path, :method => :delete %>
                          </li>
      
                  <% else %>


                   <li>
                        <a href="#">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Favourite
                          </span>
                          <span class="badge">0</span>
                        </a>
                      </li>

                      <li>
                        <a href="/my_order">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Ordered
                          </span>
                          <span class="badge">0</span>
                        </a>
                      </li>


                      <li>
                        <a href="/user_sign_in">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs">
                            <b>Login</b>
                          </span>
                        </a>
                      </li>

                      <li>
                        <a href="/buyer_sign_up">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs">
                            <b>Register</b>
                          </span>
                        </a>
                      </li>


                  <% end %>




                      <li>
                         <%= link_to image_tag("english_flag.png"), "?locale=en" %>
                      </li>

                      <li>
                          <%= link_to image_tag("mm_flag.png"), "?locale=mm" %>
                      </li>
              </ul>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="main-header" id="hideatscroll">
      
                <div class="col-md-2">
                  <div id="logo">
                    <a href="#"><img src="/assets/logo.jpg" title="Spice Shoppe" alt="Spice Shoppe" style="height:95px;" /></a>
                  </div>
                </div>


                <div class="col-md-5">
                		<div>
                		  <%= form_tag(search_result_path, :method => "get", class: "form-inline") do %> 
                                      <br/><br/>      
                                      <div class="form-group">
                                          <%= text_field_tag :title, params[:title], :style => "width:280px;height:50px;", :class => "form-control" %>
                                      </div>
                                      <button type="submit" class="btn btn-danger" style="height:50px;position:relative;top:-5px;">Search Shop</button>
                                      <button type="submit" class="btn btn-danger" style="height:50px;position:relative;top:-5px;">Search Site</button>
                           <% end %>
                        </div>


                </div>

                 <div class="col-md-5" >
                 	
                 </div>
   
         
     


    </div>
    
  </header>

  </nav>


  <div style="height:210px;" id="hide_mobile">

  </div>


  <div style="height:20px;background:#d9534f;">

  </div>