<!DOCTYPE html>
<html>
<head>
  <title>MyanmarDealer</title>
  <link rel="shortcut icon" href="<%= asset_path 'm.png'%>">

  <%= stylesheet_link_tag    'bootstrap.min.css' %>
  <%= stylesheet_link_tag    'font-awesome.min.css' %>
  <%= stylesheet_link_tag    'owl.carousel.css' %>
  <%= stylesheet_link_tag    'style.css' %>
  <%= stylesheet_link_tag    'responsive.css' %>
  <%= stylesheet_link_tag    'chat.css' %>
  <%= stylesheet_link_tag    'buyers.css' %>


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>



  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.min.js' %>
  <%= javascript_include_tag 'jquery.cropit.js' %>
  <%= javascript_include_tag 'jquery.elevatezoom.min.js' %>

  <%= javascript_include_tag 'amazonmenu.js' %>
  <%= javascript_include_tag 'pusher.min.js' %>
 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>



jQuery(function(){
  amazonmenu.init({
    menuid: 'mysidebarmenu'
  })
})

</script>

  
  <%= csrf_meta_tags %>

</head>



<body data-spy="scroll" data-target=".navbar" data-offset="50" data-no-turbolink="true" >

<!-- for mobile -->


                <div class="rows" id="desktop_hide">

                <nav class="navbar navbar-default" style="background:#d9534f;height:60px;">
                    <div class="container-fluid">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="float:left;margin-left:5px;">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>


                          <%= form_tag(search_result_path, :method => "get", class: "form-inline") do %> 
                                   
                                   
                                          <%= text_field_tag :title, params[:title], :id => "mobile_navsearch", :placeholder => "SEARCH" %>
                                          <button type="submit" class="btn btn-danger" id="mobile_nav_btn">Search</button>
                                      
                                    
                            <% end %>

                      
                      </div>



                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background:#d9534f;">
                    
                        <ul class="nav navbar-nav">
                        
                         <li><a href="/home" style="color:white;">Home</a></li>
                            <% if user_signed_in? %>  
                                <li>
                                <%= link_to "#{t :log_out}", destroy_user_session_path, :method => :delete, :style => "color:white;" %>
                                </li>
                            <% else %>
                                 <li><a href="/user_sign_in" style="color:white;">Sign in</a></li>
                            <% end %>


                         <li><a href="/about" style="color:white;">About</a></li>
                         <li><a href="/contact" style="color:white;">Contact</a></li>

                         
                        </ul>
                    

                      </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
              </nav>

              
                  

                </div>





 <!-- end -->





<%= yield %>

</body>


  <footer id="footer-area" style="background:#bf1c23;">
  <!-- Footer Links Starts -->
    <div class="footer-links">
    <!-- Container Starts -->
      <div class="container">
        <!-- Information Links Starts -->
          <div class="col-md-2 col-sm-6">
            <h5 style="font-weight:bold;">Information</h5>
            <ul>
              <li><a href="/about" id="footer_link">About Us</a></li>
              <li><a href="/about_payment" id="footer_link">Payment</a></li>
              <li><a href="/service_charges" id="footer_link">Service Charges</a></li>
              <li><a href="/delivery_agency" id="footer_link">Delivery</a></li>
              <li><a href="/privacy_policy" id="footer_link">Privacy Policy</a></li>
              <li><a href="/term_condition" id="footer_link">Term and Condition</a></li>
              <li><a href="/contact" id="footer_link">Contact Us</a></li>
            </ul>
          </div>
        <!-- Information Links Ends -->
        <!-- My Account Links Starts -->
          <div class="col-md-2 col-sm-6">
            <h5 style="font-weight:bold;">How to Buy</h5>
            <ul>
              <li><a href="/buyer_sign_up" id="footer_link">Register</a></li>
              <li><a href="/" id="footer_link">Find item</a></li>
              <li><a href="/about_add_to_fav" id="footer_link">Add to Favourite</a></li>
              <li><a href="/about_add_to_cart" id="footer_link">Add to Cart</a></li>
              <li><a href="/about_make_an_order" id="footer_link">Make Order</a></li>
              <li><a href="/about_order_trekking" id="footer_link">Track Order</a></li>
              <li><a href="#" id="footer_link">Chat with Seller</a></li>
            </ul>
          </div>
        <!-- My Account Links Ends -->          
        <!-- Customer Service Links Starts -->
          <div class="col-md-2 col-sm-6">
            <h5 style="font-weight:bold;">How to Sale</h5>
            <ul>
              <li><a href="/buyer_sign_up" id="footer_link">Register</a></li>
              <li><a href="/about_seller_open_shop" id="footer_link">Open Shop</a></li>
              <li><a href="/about_seller_sell_product" id="footer_link">Sell Product</a></li>
              <li><a href="/about_seller_manage_shop" id="footer_link">Manage Shop</a></li>
              <li><a href="/about_seller_manage_product" id="footer_link">Manage Order</a></li>
               <li><a href="/delivery_agency" id="footer_link">Delivery System</a></li>
               <li><a href="#" id="footer_link">Chat with Buyer</a></li>
            </ul>
          </div>
        <!-- Customer Service Links Ends -->
        <!-- Follow Us Links Starts -->
          <div class="col-md-2 col-sm-6">
            <h5 style="font-weight:bold;">Our Partner</h5>
            <ul>
              <li><a href="http://www.hnttechs.com/" id="footer_link">H&T technology</a></li>
              <li><a href="http://mmtransporter.com/" id="footer_link">Transporter</a></li>
              <li><a href="http://www.myanmarpaymentunion.com/" id="footer_link">MPU</a></li>
            </ul>
          </div>
        
          <div class="col-md-2 col-sm-6">
            <h5 style="font-weight:bold;">Hotline</h5>
            <ul>

              <li><a href="#" style="font-size:18px;font-weight:bold;"> 09966438861</a></li>
              <br/>
              <li><a href="#" style="font-size:18px;font-weight:bold;color:white;">Seller Service</a></li>
              <li><a href="#"  style="font-size:16px;font-weight:bold;">09966438862</a></li>
              <li><a href="#" style="font-size:18px;font-weight:bold;color:white;">Buyer Service</a></li>
              <li><a href="#"  style="font-size:16px;font-weight:bold;"> 09966438863</a></li>
            </ul>
          </div>


            <div class="col-md-2 col-sm-6">
            <h5 style="font-weight:bold;">Follow Us</h5>
            <ul>
              <li><%= image_tag 'facebook.png' %><%= image_tag 'youtube.png' %></li>
              <li><%= image_tag 'google.png' %><%= image_tag 'twtter.png' %></li>
            </ul>


          
          </div>


       
      </div>
    <!-- Container Ends -->
    </div>
  <!-- Footer Links Ends -->
  <!-- Copyright Area Starts -->
    <div class="copyright">
    <!-- Container Starts -->
      <div class="container">
      <!-- Starts -->
        <p style="text-align:center;font-weight:bold;">
          Copyright &copy; 2016 Sun Nady Co.,Ltd. All Rights Reserved.</a>
        </p>
      <!-- Ends -->
      <!-- Payment Gateway Links Starts -->
      
      <!-- Payment Gateway Links Ends -->
      </div>
    <!-- Container Ends -->
    </div>
  <!-- Copyright Area Ends -->
  </footer>





</html>









<script>




$(document).ready(function() {


 
      <% @products.each do |product| %>

        function cartFunction<%= product.id %>() {

   
          var myqty = $("#myqty").text();
          var addqty = parseInt(myqty)+1; 
          $("#myqty").text(addqty);   




          var myprice = $("#myprice").text();
          
          var addmyprice = parseInt(myprice)+<%= product.price %>; 
          $("#myprice").text(addmyprice);   


              

        };

    <% end %>



});



  </script>


<style type="text/css">
  
#navbar{


  height: 20px;


}

</style>

<script>
function storeFunction() {
    alert("Please login or register first to open store.")
}



$(window).scroll(function() {

    if ($(this).scrollTop()>0)
     {
        $('#showatscroll').fadeOut();
        $('#hideatscroll').fadeOut();



        $('#myanothernav').fadeIn();
        $('#myanothernavone').fadeIn();



     }
    else
     {
      $('#showatscroll').fadeIn();
      $('#hideatscroll').fadeIn();

      $('#myanothernav').fadeOut();
      $('#myanothernavone').fadeOut();
     }
 });
</script>



<style type="text/css">
  

@font-face {
  font-family: 'ZawgyiOne'; 
  src: url('/assets/ZawgyiOne.ttf') format('truetype');
}

body {
  font-family: 'ZawgyiOne';
}


  
</style>