<!DOCTYPE html>
<html>
<head>
  <title>MyanmarDealer</title>
  <link rel="shortcut icon" href="<%= asset_path 'm.png'%>">

  <%= stylesheet_link_tag    'bootstrap.min.css' %>
  <%= stylesheet_link_tag    'font-awesome.min.css' %>
  <%= stylesheet_link_tag    'owl.carousel.css' %>
  <%= stylesheet_link_tag    'style.css' %>
  <%= stylesheet_link_tag    'responsive.css' %>
  <%= stylesheet_link_tag    'chat.css' %>
  <%= stylesheet_link_tag    'buyers.css' %>
  <%= stylesheet_link_tag    'etalage.css' %>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  

  <%= javascript_include_tag 'amazonmenu.js' %>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<script>
      jQuery(document).ready(function($){

        $('#etalage').etalage({
          thumb_image_width: 300,
          thumb_image_height: 400,
          source_image_width: 900,
          source_image_height: 1200,
          show_hint: true,
          click_callback: function(image_anchor, instance_id){
            alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
          }
        });

      });
    </script>

<script>



jQuery(function(){
  amazonmenu.init({
    menuid: 'mysidebarmenu'
  })
})

</script>

  
  <%= csrf_meta_tags %>

</head>



<body data-spy="scroll" data-target=".navbar" data-offset="50" data-no-turbolink="true" >

<!-- for mobile -->


                <div class="rows" id="desktop_hide">

                <nav class="navbar navbar-default" style="background:#d9534f;">
                    <div class="container-fluid">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <p class="navbar-text" style="color:white;font-weight:bold;"> &nbsp;&nbsp;&nbsp;MyanmarDealer
                                <a href="/check_out">
                                 
                                  <span class="hidden-sm hidden-xs" style="color:white;">
                                    Cart
                                  </span>
                                  <span class="badge" id="myqty">Cart (<%= (@cart.total_quantity) %>)</span>
                                </a>
                        </p>
                      </div>

                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    
                        <ul class="nav navbar-nav">
                        
                         <li><a href="/product_fashion_clothings" style="color:white;">Clothing</a></li>
                         <li><a href="/product_fashion_hats" style="color:white;">Hats</a></li>
                         <li><a href="/product_fashion_accessories" style="color:white;">Accessories</a></li>

                         <li><a href="/product_bath_supplies" style="color:white;">Bath Supplies</a></li>
                         <li><a href="/product_beauty_equipments" style="color:white;">Beauty Equipment</a></li>
                         <li><a href="/product_makeup_and_skincares" style="color:white;">Makeup and Skincares</a></li>


                         <li><a href="/product_machines" style="color:white;">Machines</a></li>
                         <li><a href="/product_equipments" style="color:white;">Equipments</a></li>
                         <li><a href="/product_instruments" style="color:white;">Instruments</a></li>
                         <li><a href="/product_car_accessories" style="color:white;">Motor Car</a></li>
                         <li><a href="/product_motorcycle_accessories" style="color:white;">Motor Cycle</a></li>
                         <li><a href="/product_sports" style="color:white;"> Sports </a></li>
                         <li><a href="/product_medicines" style="color:white;"> Medicines </a></li>
                         <li><a href="/product_gifts" style="color:white;"> Gifts </a></li>
                         
                        </ul>
                      
                      </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
              </nav>

              
                    <%= form_tag(search_result_path, :method => "get", class: "form-inline") do %> 
                                   
                                        <div class="form-group">
                                          <span style="padding-left:20px;font-size:12px;color:#bf1c23;"> I am shopping For </span>
                                  
                                          <%= text_field_tag :title, params[:title], :style => "width:40%;" %>
                                          <button type="submit" class="btn btn-danger">Search</button>
                                        </div>
                                    
                                    
                    <% end %>

                    <div id="logo">
                        <img src="/assets/mobile_logo.jpg" title="Spice Shoppe" alt="Spice Shoppe" class="img-responsive" />
                    </div>

                </div>





 <!-- end -->





<%= yield %>

</body>


  <footer id="footer-area" style="background:#bf1c23;">
  <!-- Footer Links Starts -->
    <div class="footer-links">
    <!-- Container Starts -->
      <div class="container">
        <!-- Information Links Starts -->
          <div class="col-md-2 col-sm-6">
            <h5 style="font-weight:bold;">Information</h5>
            <ul>
              <li><a href="#" id="footer_link">About Us</a></li>
              <li><a href="#" id="footer_link">Payment</a></li>
              <li><a href="#" id="footer_link">Service Charges</a></li>
              <li><a href="#" id="footer_link">Delivery</a></li>
              <li><a href="#" id="footer_link">Privacy Policy</a></li>
              <li><a href="#" id="footer_link">Term and Condition</a></li>
              <li><a href="#" id="footer_link">Contact Us</a></li>
            </ul>
          </div>
        <!-- Information Links Ends -->
        <!-- My Account Links Starts -->
          <div class="col-md-2 col-sm-6">
            <h5 style="font-weight:bold;">How to Buy</h5>
            <ul>
              <li><a href="#" id="footer_link">Register</a></li>
              <li><a href="#" id="footer_link">Find item</a></li>
              <li><a href="#" id="footer_link">Add to Favourite</a></li>
              <li><a href="#" id="footer_link">Add to Cart</a></li>
              <li><a href="#" id="footer_link">Make Order</a></li>
              <li><a href="#" id="footer_link">Track Order</a></li>
              <li><a href="#" id="footer_link">Chat with Seller</a></li>
            </ul>
          </div>
        <!-- My Account Links Ends -->          
        <!-- Customer Service Links Starts -->
          <div class="col-md-2 col-sm-6">
            <h5 style="font-weight:bold;">How to Sale</h5>
            <ul>
              <li><a href="#" id="footer_link">Register</a></li>
              <li><a href="#" id="footer_link">Open Shop</a></li>
              <li><a href="#" id="footer_link">Sell Product</a></li>
              <li><a href="#" id="footer_link">Manage Shop</a></li>
              <li><a href="#" id="footer_link">Manage Order</a></li>
               <li><a href="#" id="footer_link">Delivery System</a></li>
               <li><a href="#" id="footer_link">Chat with Buyer</a></li>
            </ul>
          </div>
        <!-- Customer Service Links Ends -->
        <!-- Follow Us Links Starts -->
          <div class="col-md-2 col-sm-6">
            <h5 style="font-weight:bold;">Our Partner</h5>
            <ul>
              <li><a href="#" id="footer_link">Transporter</a></li>
              <li><a href="#" id="footer_link">Ayawaddy bank</a></li>
              <li><a href="#" id="footer_link">MPU</a></li>
              <li><a href="#" id="footer_link">H&T technology</a></li>
              <li><a href="#" id="footer_link">MPT</a></li>
            </ul>
          </div>
        
          <div class="col-md-2 col-sm-6">
            <h5 style="font-weight:bold;">For Help</h5>
            <ul><br/>
              <li><a href="#" style="font-size:18px;font-weight:bold;color:white;">Buyer Hotline</a></li>
              <li><a href="#"  style="font-size:16px;font-weight:bold;">09972646904</a></li>
              <li><a href="#" style="font-size:18px;font-weight:bold;color:white;">Seller Hotline</a></li>
              <li><a href="#"  style="font-size:16px;font-weight:bold;">09972646905</a></li>
            </ul>
          </div>


            <div class="col-md-2 col-sm-6">
            <h5 style="font-weight:bold;">Follow Us</h5>
            <ul>
              <li><%= image_tag 'facebook.png' %><%= image_tag 'youtube.png' %></li>
              <li><%= image_tag 'google.png' %><%= image_tag 'twtter.png' %></li>
            </ul>
          </div>
       
      </div>
    <!-- Container Ends -->
    </div>
  <!-- Footer Links Ends -->
  <!-- Copyright Area Starts -->
    <div class="copyright">
    <!-- Container Starts -->
      <div class="container">
      <!-- Starts -->
        <p style="text-align:center;font-weight:bold;">
          Copyright &copy; 2016 Sun Nady Co.,Ltd. All Rights Reserved.</a>
        </p>
      <!-- Ends -->
      <!-- Payment Gateway Links Starts -->
      
      <!-- Payment Gateway Links Ends -->
      </div>
    <!-- Container Ends -->
    </div>
  <!-- Copyright Area Ends -->
  </footer>





</html>









<script type="text/javascript">

  <% @products.each do |product| %>

        function cartFunction<%= product.id %>() {


          var myqty = $("#myqty").text();
          var addqty = parseInt(myqty)+1; 
          $("#myqty").text(addqty);   




          var myprice = $("#myprice").text();
          
          var addmyprice = parseInt(myprice)+<%= product.price %>; 
          $("#myprice").text(addmyprice);   


              

        }

    <% end %>

  </script>


<style type="text/css">
  
#navbar{


  height: 20px;


}

</style>

<script>
function storeFunction() {
    alert("Please login or register first to open store.")
}



$(window).scroll(function() {

    if ($(this).scrollTop()>0)
     {
        $('#showatscroll').fadeOut();
        $('#hideatscroll').fadeOut();



        $('#myanothernav').fadeIn();
        $('#myanothernavone').fadeIn();



     }
    else
     {
      $('#showatscroll').fadeIn();
      $('#hideatscroll').fadeIn();

      $('#myanothernav').fadeOut();
      $('#myanothernavone').fadeOut();
     }
 });
</script>

