<!DOCTYPE html>
<html>
<head>
  <title>MyanmarDealer</title>
  <link rel="shortcut icon" href="<%= asset_path 'm.png'%>">

  <%= stylesheet_link_tag    'bootstrap.min.css' %>
  <%= stylesheet_link_tag    'font-awesome.min.css' %>
  <%= stylesheet_link_tag    'owl.carousel.css' %>
  <%= stylesheet_link_tag    'style.css' %>
  <%= stylesheet_link_tag    'responsive.css' %>
  <%= stylesheet_link_tag    'chat.css' %>
  <%= stylesheet_link_tag    'buyers.css' %>

  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


  <%= javascript_include_tag 'amazonmenu.js' %>
  <script src="http://js.pusher.com/3.0/pusher.min.js"></script>


<script>

jQuery(function(){
  amazonmenu.init({
    menuid: 'mysidebarmenu'
  })
})

</script>

  
  <%= csrf_meta_tags %>

</head>



<body data-spy="scroll" data-target=".navbar" data-offset="50" data-no-turbolink="true">


<nav class="navbar navbar-inverse navbar-fixed-top" style="background:white;border:red;">


  <header id="header-area" >
  <!-- Header Top Starts -->
    <div class="header-top">
      <div class="container">
        <div class="row">
        <!-- Header Links Starts -->
          <div class="col-sm-12 col-xs-12">
              <ul class="nav navbar-nav pull-left">
                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" style="color:white;">
                              MD Home
                            </span>
                          </a>
                        </li>

                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" style="color:white;">
                              Big Deal
                            </span>
                          </a>
                        </li>


                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" style="color:white;">
                              MD Mobile
                            </span>
                          </a>
                        </li>
              </ul>
      
            <div class="pull-right">
              <!-- Currency Starts -->
              <ul class="nav navbar-nav pull-left">

                <% if user_signed_in? %>
                   <% if current_user.user_type_id == 1 %>
                      <li>
                        <a href="/stores/<%= @store_id %>">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            My MD
                          </span>
                        </a>
                      </li>
                    <% else %>
                        <li>
                        <a href="/seller_sign_up">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            My MD
                          </span>
                        </a>
                      </li>
                   <% end %>
                <% else %>
                   <li>
                        <a href="/seller_sign_up">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            My MD
                          </span>
                        </a>
                      </li>

                <% end %>


                      <li>
                        <a href="/check_out">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Cart
                          </span>
                          <span class="badge" id="myqty"><%= (@cart.total_quantity) %></span>
                        </a>
                      </li>






                     



                  <% if user_signed_in? %>

                     <li>
                        <a href="#">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Favourite
                          </span>
                          <span class="badge"><%= @fav_number %></span>
                        </a>
                      </li>

                      <li>
                        <a href="/my_order">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Ordered
                          </span>
                          <span class="badge"> <%=  @order_number  %></span>
                        </a>
                      </li>

                         <li>
                              <%= link_to "#{t :log_out}", destroy_user_session_path, :method => :delete %>
                          </li>
      
                  <% else %>


                   <li>
                        <a href="#">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Favourite
                          </span>
                          <span class="badge">0</span>
                        </a>
                      </li>

                      <li>
                        <a href="/my_order">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Ordered
                          </span>
                          <span class="badge">0</span>
                        </a>
                      </li>


                      <li>
                        <a href="/user_sign_in">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs">
                            <b>Login</b>
                          </span>
                        </a>
                      </li>

                      <li>
                        <a href="/buyer_sign_up">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs">
                            <b>Register</b>
                          </span>
                        </a>
                      </li>


                  <% end %>




                      <li>
                         <%= link_to image_tag("english_flag.png"), "?locale=en" %>
                      </li>

                      <li>
                          <%= link_to image_tag("mm_flag.png"), "?locale=mm" %>
                      </li>
              </ul>
            </div>


          </div>
        </div>
      </div>
    </div>


    <div class="main-header">
      <div class="container">
              <div class="row">
                  

                <div class="col-md-3">
                  <div id="logo">
                    <a href="#"><img src="/assets/logo.jpg" title="Spice Shoppe" alt="Spice Shoppe" class="img-responsive" /></a>
                  </div>
                </div>

                <div class="col-md-6" >

                      <div><br/>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                              <li role="presentation" class="active">
                              <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Item</a></li>
                              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Shop</a></li>
                              <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Big Deal</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                              <div role="tabpanel" class="tab-pane active" id="home">
                                  
                                    <form class="form-inline"><br/>

                                      <div class="form-group">
                                          <input type="text" class="form-control" style="width:450px;;">
                                      </div>


                                      <button type="submit" class="btn btn-danger">Search</button>
                                    </form>

                              </div>
                              <div role="tabpanel" class="tab-pane" id="profile">

                                     <form class="form-inline"><br/>

                                      <div class="form-group">
                                          <input type="text" class="form-control" style="width:450px;;">
                                      </div>


                                      <button type="submit" class="btn btn-danger">Search</button>
                                    </form>

                              </div>
                              <div role="tabpanel" class="tab-pane" id="messages">
                                    
                                     <form class="form-inline"><br/>

                                      <div class="form-group">
                                          <input type="text" class="form-control" style="width:450px;;">
                                      </div>


                                      <button type="submit" class="btn btn-danger">Search</button>
                                    </form>
                              </div>
                            </div>

                      </div>


                </div>

                <div class="col-md-3" style="background:black;">
   

                  <% if user_signed_in? %>


                           <div style="float:left;">
                            <img src="/assets/avatar.png" class="img-responsive" />
                            <p class="avata_name">  <%= current_user.name %> </p>
                          </div>

                          <div style="float:right;">
                            <%= link_to "Log out", destroy_user_session_path, :method => :delete, :class=>"btn btn-default", :style => "margin-top:8px;", :id => "menu_mybtn"%>

                            <br/>
                            <%= link_to "Register", new_user_registration_path, :class=>"btn btn-default", :id => "menu_mybtn"%>


                            <br/>
                           

                            <% if current_user.has_store == "yes" %>
                                <a href="/stores/<%= @store_id %>"  class="btn btn-default", id="menu_mybtn">MyStore</a>
                            <% else %>
                               <%= link_to "Open Shop", new_store_path, :class=>"btn btn-default", :id => "menu_mybtn"%>
                            <% end %>


                          </div>
      
                  <% else %>


                          <div style="float:left;">
                            <img src="/assets/avatar.png" class="img-responsive" />
                            <p class="avata_name"> Guest </p>
                          </div>

                          <div style="float:right;">
                            <a href="user_sign_in" class="btn btn-default" type="submit" id="menu_mybtn" style="margin-top:8px;">Login</a><br/>


                            <%= link_to "Register(Seller)", seller_sign_up_path, :class=>"btn btn-default", :id => "menu_mybtn"%>

                            <br/>
                            <button class="btn btn-default" id="menu_mybtn" onclick="storeFunction()"> Open Shop</button>

                          </div>

                  <% end %>

                </div>

              </div>
     
      </div>

    </div>
  
    
  </header>

  </nav>
  <div style="height:210px;">

  </div>


<%= yield %>

</body>


  <footer id="footer-area">
  <!-- Footer Links Starts -->
    <div class="footer-links">
    <!-- Container Starts -->
      <div class="container">
        <!-- Information Links Starts -->
          <div class="col-md-2 col-sm-6">
            <h5>Information</h5>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Delivery Information</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
            </ul>
          </div>
        <!-- Information Links Ends -->
        <!-- My Account Links Starts -->
          <div class="col-md-2 col-sm-6">
            <h5>My Account</h5>
            <ul>
              <li><a href="#">My orders</a></li>
              <li><a href="#">My merchandise returns</a></li>
              <li><a href="#">My credit slips</a></li>
              <li><a href="#">My addresses</a></li>
              <li><a href="#">My personal info</a></li>
            </ul>
          </div>
        <!-- My Account Links Ends -->          
        <!-- Customer Service Links Starts -->
          <div class="col-md-2 col-sm-6">
            <h5>Service</h5>
            <ul>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Site Map</a></li>
              <li><a href="#">Affiliates</a></li>
              <li><a href="#">Specials</a></li>
            </ul>
          </div>
        <!-- Customer Service Links Ends -->
        <!-- Follow Us Links Starts -->
          <div class="col-md-2 col-sm-6">
            <h5>Follow Us</h5>
            <ul>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">RSS</a></li>
              <li><a href="#">YouTube</a></li>
            </ul>
          </div>
        <!-- Follow Us Links Ends -->
        <!-- Contact Us Starts -->
          <div class="col-md-4 col-sm-12 last">
            <h5>Contact Us</h5>
            <ul>
              <li>Myanmar Dealer.com</li>
              <li>
                No.A (21), U Wisara Road, Industrial Zone, North Dagon, Yangon, Myanmar.
              </li>
              <li>
                Email: <a href="#">info@myanmardealer.com</a>
              </li>               
            </ul>
            <h4 class="lead">
              Tel: <span> (+959) 972646904</span>
            </h4>
          </div>
        <!-- Contact Us Ends -->
      </div>
    <!-- Container Ends -->
    </div>
  <!-- Footer Links Ends -->
  <!-- Copyright Area Starts -->
    <div class="copyright">
    <!-- Container Starts -->
      <div class="container">
      <!-- Starts -->
        <p class="pull-left">
          &copy; 2016 Myanmar Dealers. Powered By <a href="http://www.hnttechs.com">H&Ttechs</a>
        </p>
      <!-- Ends -->
      <!-- Payment Gateway Links Starts -->
        <ul class="pull-right list-inline">
          <li>
            <img src="/assets/payment-icon/mpu.jpg" alt="PaymentGateway" />
          </li>
        
        </ul>
      <!-- Payment Gateway Links Ends -->
      </div>
    <!-- Container Ends -->
    </div>
  <!-- Copyright Area Ends -->
  </footer>

</body>
</html>









<script type="text/javascript">

  <% @products.each do |product| %>

        function cartFunction<%= product.id %>() {


          var myqty = $("#myqty").text();
          var addqty = parseInt(myqty)+1; 
          $("#myqty").text(addqty);   




          var myprice = $("#myprice").text();
          
          var addmyprice = parseInt(myprice)+<%= product.price %>; 
          $("#myprice").text(addmyprice);   


              

        }

    <% end %>

  </script>


<style type="text/css">
  
#navbar{


  height: 30px;


}

</style>

<script>
function storeFunction() {
    alert("Please login or register first to open store.")
}
</script>

