<!DOCTYPE html>
<html>
<head>
  <title>MyanmarDealer</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">
	
  	<%= stylesheet_link_tag    'bootstrap.min.css' %>
	<%= stylesheet_link_tag    'font-awesome.min.css' %>
	<%= stylesheet_link_tag    'owl.carousel.css' %>
	<%= stylesheet_link_tag    'style.css' %>
	<%= stylesheet_link_tag    'responsive.css' %>
	

   <%= javascript_include_tag "jquery.min.js" %>
   <%= javascript_include_tag "jquery_ujs.js" %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

	<header id="header-area">
	<!-- Header Top Starts -->
		<div class="header-top">
			<div class="container">
				<div class="row">
				<!-- Header Links Starts -->
					<div class="col-sm-8 col-xs-12">
						<div class="header-links">
							<ul class="nav navbar-nav pull-left">
								<li>
									<a href="#">
										<i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
										<span class="hidden-sm hidden-xs">
											Home
										</span>
									</a>
								</li>
								<li>
									<a href="#">	
										<i class="fa fa-heart hidden-lg hidden-md" title="Wish List"></i>
										<span class="hidden-sm hidden-xs">
											Wish List(0)
										</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-user hidden-lg hidden-md" title="My Account"></i>
										<span class="hidden-sm hidden-xs">
											My Account
										</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-shopping-cart hidden-lg hidden-md" title="Shopping Cart"></i>
										<span class="hidden-sm hidden-xs">
											Shopping Cart
										</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-crosshairs hidden-lg hidden-md" title="Checkout"></i>
										<span class="hidden-sm hidden-xs">
											Checkout
										</span>
									</a>
								</li>
							
								 <% if seller_signed_in? %>

								 	<li>
                    				<%= link_to 'Logout', destroy_seller_session_path, :method => :delete %>
                    				</li>
                    			
                    			<% else %>

                    				<li>
									<a href="/sellers/sign_up">
										<i class="fa fa-unlock hidden-lg hidden-md" title="Register"></i>
										<span class="hidden-sm hidden-xs">
											want to be a SELLER?
										</span>
									</a>
									</li>

                    			

                    			<% end %>

                    			<% if buyer_signed_in? %>

								 	<li>
                    				<%= link_to 'Logout', destroy_buyer_session_path, :method => :delete %>
                    				</li>
                    			
                    			<% end %>



							
							</ul>
						</div>
					</div>
				<!-- Header Links Ends -->
				<!-- Currency & Languages Starts -->
					<div class="col-sm-4 col-xs-12">
						<div class="pull-right">
						<!-- Currency Starts -->
							<ul class="nav navbar-nav pull-left">
							<% if seller_signed_in? %>


							<% elsif buyer_signed_in? %>

 	
                    			
                    		<% else %>

                    			<li>
									<a href="/sellers/sign_in">
										<i class="fa fa-unlock hidden-lg hidden-md" title="Register"></i>
										<span class="hidden-sm hidden-xs" style="color:white">
											Seller Login
										</span>
									</a>
								</li>

								<li>
									<a href="/buyers/sign_in">
										<i class="fa fa-unlock hidden-lg hidden-md" title="Register"></i>
										<span class="hidden-sm hidden-xs" style="color:white">
											Buyer Login
										</span>
									</a>
								</li>

                    		<% end %>

                    				
							</ul>

                    			

                    		
						<!-- Languages Ends -->
						</div>
					</div>
				<!-- Currency & Languages Ends -->
				</div>
			</div>
		</div>
	<!-- Header Top Ends -->
	<!-- Main Header Starts -->
		<div class="main-header">
			<div class="container">
				<div class="row">
				<!-- Search Starts -->
					<div class="col-md-3">
						<div id="search">
							<div class="input-group">
							  <input type="text" class="form-control input-lg" placeholder="Search">
							  <span class="input-group-btn">
								<button class="btn btn-lg" type="button">
									<i class="fa fa-search"></i>
								</button>
							  </span>
							</div>
						</div>	
					</div>
				<!-- Search Ends -->
				<!-- Logo Starts -->
					<div class="col-md-6">
						<div id="logo">
							<a href="#"><img src="/assets/logo.png" title="Spice Shoppe" alt="Spice Shoppe" class="img-responsive" /></a>
						</div>
					</div>
				<!-- Logo Starts -->				
				<!-- Shopping Cart Starts -->
					<div class="col-md-3">
						<div id="cart" class="btn-group btn-block">
							<button type="button" data-toggle="dropdown" class="btn btn-block btn-lg dropdown-toggle">
								<i class="fa fa-shopping-cart"></i>
								<span class="hidden-md">Cart:</span> 
								<span id="cart-total"> <%= (@cart.total_quantity) %> item(s) -   <%= (@cart.total_price) %> MMK</span>
								<i class="fa fa-caret-down"></i>
							</button>
							<ul class="dropdown-menu pull-right">
							   <li>
							<%= render(@cart.line_items) %>
							</li>
							
								<li>
									
									<p class="text-right btn-block1">
										<a href="#">
											View Cart
										</a>
										<a href="#">
											Checkout
										</a>
									</p>
								</li>									
							</ul>
						</div>
					</div>
				<!-- Shopping Cart Ends -->
				</div>
			</div>
		</div>
	<!-- Main Header Ends -->
	<!-- Main Menu Starts -->
		<nav id="main-menu" class="navbar" role="navigation">
			<div class="container">
			<!-- Nav Header Starts -->
				<div class="navbar-header">
					<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
						<span class="sr-only">Toggle Navigation</span>
						<i class="fa fa-bars"></i>
					</button>
				</div>
			<!-- Nav Header Ends -->
			<!-- Navbar Cat collapse Starts -->
				<div class="collapse navbar-collapse navbar-cat-collapse">
					<ul class="nav navbar-nav">
						<li><a href="#">Digital Cameras</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
								Sound Devices
							</a>
							<ul class="dropdown-menu" role="menu">
								<li><a tabindex="-1" href="#">Music System</a></li>
								<li><a tabindex="-1" href="#">DTS</a></li>
								<li><a tabindex="-1" href="#">Home Theater</a></li> 
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">Televisions </a>
							<div class="dropdown-menu">
								<div class="dropdown-inner">
									<ul class="list-unstyled">
										<li class="dropdown-header">Sub Category</li>
										<li><a tabindex="-1" href="#">item 1</a></li>
										<li><a tabindex="-1" href="#">item 2</a></li>
										<li><a tabindex="-1" href="#">item 3</a></li>
									</ul>										
									<ul class="list-unstyled">
										<li class="dropdown-header">Sub Category</li>
										<li><a tabindex="-1" href="#">item 1</a></li>
										<li><a tabindex="-1" href="#">item 2</a></li>
										<li><a tabindex="-1" href="#">item 3</a></li>
									</ul>
									<ul class="list-unstyled">
										<li class="dropdown-header">Sub Category</li>
										<li><a tabindex="-1" href="#">item 1</a></li>
										<li><a tabindex="-1" href="#">item 2</a></li>
										<li><a tabindex="-1" href="#">item 3</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li><a href="#">Computers </a></li>
						<li><a href="#">Washing Machines</a></li>
						<li><a href="#">Accessories </a></li>
                        <li><a href="#">Mobile Phones  </a></li>
						<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
						Pages
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a tabindex="-1" href="#">Home</a></li>
						<li><a tabindex="-1" href="#">About</a></li>
						<li><a tabindex="-1" href="#">Category List</a></li>
						<li><a tabindex="-1" href="#">Category Grid</a></li>
						<li><a tabindex="-1" href="#">Product</a></li>
						<li><a tabindex="-1" href="#">Product Full Width</a></li>
						<li><a tabindex="-1" href="#">Cart</a></li>
						<li><a tabindex="-1" href="#">Login</a></li>
						<li><a tabindex="-1" href="#">Compare Products</a></li>
						<li><a tabindex="-1" href="#">Typography</a></li>
						<li><a tabindex="-1" href="#">Register</a></li>
						<li><a tabindex="-1" href="#">Contact</a></li>
						<li><a tabindex="-1" href="#">404</a></li>
					</ul>
				</li>
					</ul>
				</div>
			<!-- Navbar Cat collapse Ends -->
			</div>
		</nav>
	<!-- Main Menu Ends -->
	</header>

<%= yield %>


	<footer id="footer-area">
	<!-- Footer Links Starts -->
		<div class="footer-links">
		<!-- Container Starts -->
			<div class="container">
				<!-- Information Links Starts -->
					<div class="col-md-2 col-sm-6">
						<h5>Information</h5>
						<ul>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Delivery Information</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms &amp; Conditions</a></li>
						</ul>
					</div>
				<!-- Information Links Ends -->
				<!-- My Account Links Starts -->
					<div class="col-md-2 col-sm-6">
						<h5>My Account</h5>
						<ul>
							<li><a href="#">My orders</a></li>
							<li><a href="#">My merchandise returns</a></li>
							<li><a href="#">My credit slips</a></li>
							<li><a href="#">My addresses</a></li>
							<li><a href="#">My personal info</a></li>
						</ul>
					</div>
				<!-- My Account Links Ends -->					
				<!-- Customer Service Links Starts -->
					<div class="col-md-2 col-sm-6">
						<h5>Service</h5>
						<ul>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Returns</a></li>
							<li><a href="#">Site Map</a></li>
							<li><a href="#">Affiliates</a></li>
							<li><a href="#">Specials</a></li>
						</ul>
					</div>
				<!-- Customer Service Links Ends -->
				<!-- Follow Us Links Starts -->
					<div class="col-md-2 col-sm-6">
						<h5>Follow Us</h5>
						<ul>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">RSS</a></li>
							<li><a href="#">YouTube</a></li>
						</ul>
					</div>
				<!-- Follow Us Links Ends -->
				<!-- Contact Us Starts -->
					<div class="col-md-4 col-sm-12 last">
						<h5>Contact Us</h5>
						<ul>
							<li>Myanmar Dealer.com</li>
							<li>
								No.A (21), U Wisara Road, Industrial Zone, North Dagon, Yangon, Myanmar.
							</li>
							<li>
								Email: <a href="#">info@myanmardealer.com</a>
							</li>								
						</ul>
						<h4 class="lead">
							Tel: <span> (+959) 972646904</span>
						</h4>
					</div>
				<!-- Contact Us Ends -->
			</div>
		<!-- Container Ends -->
		</div>
	<!-- Footer Links Ends -->
	<!-- Copyright Area Starts -->
		<div class="copyright">
		<!-- Container Starts -->
			<div class="container">
			<!-- Starts -->
				<p class="pull-left">
					&copy; 2015 Myanmar Dealers. Powered By <a href="http://www.hnttechs.com">H&Ttechs</a>
				</p>
			<!-- Ends -->
			<!-- Payment Gateway Links Starts -->
				<ul class="pull-right list-inline">
					<li>
						<img src="/assets/payment-icon/cirrus.png" alt="PaymentGateway" />
					</li>
					<li>
						<img src="/assets/payment-icon/paypal.png" alt="PaymentGateway" />
					</li>
					<li>
						<img src="/assets/payment-icon/visa.png" alt="PaymentGateway" />
					</li>
					<li>
						<img src="/assets/payment-icon/mastercard.png" alt="PaymentGateway" />
					</li>
					<li>
						<img src="/assets/payment-icon/americanexpress.png" alt="PaymentGateway" />
					</li>
				</ul>
			<!-- Payment Gateway Links Ends -->
			</div>
		<!-- Container Ends -->
		</div>
	<!-- Copyright Area Ends -->
	</footer>

</body>
</html>
