<!DOCTYPE html>
<html>
<head>
  <title>MyanmarDealer</title>
  <link rel="shortcut icon" href="<%= asset_path 'm.png'%>">

  <%= stylesheet_link_tag    'bootstrap.min.css' %>
  <%= stylesheet_link_tag    'font-awesome.min.css' %>
  <%= stylesheet_link_tag    'owl.carousel.css' %>
  <%= stylesheet_link_tag    'style.css' %>
  <%= stylesheet_link_tag    'responsive.css' %>
  <%= stylesheet_link_tag    'chat.css' %>
  <%= stylesheet_link_tag    'buyers.css' %>

  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="http://js.pusher.com/3.0/pusher.min.js"></script>
  
  <%= csrf_meta_tags %>

</head>
<body>



  <header id="header-area">
  <!-- Header Top Starts -->
    <div class="header-top">
      <div class="container">
        <div class="row">
        <!-- Header Links Starts -->
          <div class="col-sm-12 col-xs-12">
              <ul class="nav navbar-nav pull-left">
                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" style="color:white;">
                              MD Home
                            </span>
                          </a>
                        </li>

                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" style="color:white;">
                              Big Deal
                            </span>
                          </a>
                        </li>


                        <li>
                          <a href="/">
                            <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                            <span class="hidden-sm hidden-xs" style="color:white;">
                              MD Mobile
                            </span>
                          </a>
                        </li>
              </ul>
      
            <div class="pull-right">
              <!-- Currency Starts -->
              <ul class="nav navbar-nav pull-left">

                      <li>
                        <a href="/">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            My MD
                          </span>
                        </a>
                      </li>

                      <li>
                        <a href="/">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Cart
                          </span>
                        </a>
                      </li>

                      <li>
                        <a href="/">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Favourite
                          </span>
                        </a>
                      </li>

                      <li>
                        <a href="/">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs" style="color:white;">
                            Orderd
                          </span>
                        </a>
                      </li>

                      <li>
                        <a href="/">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs">
                            <b>Login</b>
                          </span>
                        </a>
                      </li>

                      <li>
                        <a href="/">
                          <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
                          <span class="hidden-sm hidden-xs">
                            <b>Register</b>
                          </span>
                        </a>
                      </li>

                      <li>
                         <%= link_to image_tag("english_flag.png"), "?locale=en" %>
                      </li>

                      <li>
                          <%= link_to image_tag("mm_flag.png"), "?locale=mm" %>
                      </li>
              </ul>
            </div>


          </div>
        </div>
      </div>
    </div>


    <div class="main-header">
      <div class="container">
              <div class="row">
                  

                <div class="col-md-3">
                  <div id="logo">
                    <a href="#"><img src="/assets/logo.jpg" title="Spice Shoppe" alt="Spice Shoppe" class="img-responsive" /></a>
                  </div>
                </div>

                <div class="col-md-6" style="background:red;">
                </div>

                <div class="col-md-3" style="background:black;">
   
                    <div style="float:left;">
                      <img src="/assets/avatar.png" class="img-responsive" />
                      <p class="avata_name"> Sai Kham Mg </p>
                    </div>

                    <div style="float:right;">
                      <br/>
                      <button class="btn btn-default" type="submit" id="menu_mybtn">Login</button><br/>
                      <button class="btn btn-default" type="submit" id="menu_mybtn">Register</button><br/>
                      <button class="btn btn-default" type="submit" id="menu_mybtn">Open Shop</button>
                    </div>
                  
                </div>

              </div>
    
      </div>
    </div>
  
      <!-- Main Menu Starts -->
        <nav id="main-menu" class="navbar" role="navigation">
          <div class="container">
          <!-- Nav Header Starts -->
            <div class="navbar-header">
              <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <i class="fa fa-bars"></i>
              </button>
            </div>
          <!-- Nav Header Ends -->
          <!-- Navbar Cat collapse Starts -->
            <div class="collapse navbar-collapse navbar-cat-collapse">
              <ul class="nav navbar-nav">
                <li>
                 <%= link_to "#{t :fashions_related}", fashion_related_path, class: "btn btn-1" %>
                </li>
                <li>
                 <%= link_to "#{t :electronics}", electronics_related_path, class: "btn btn-1" %>
                </li>
                <li>
                  <%= link_to "#{t :health_beauty}", health_beauty_related_path, class: "btn btn-1" %>
                </li>
                

                <!--  -->
                <li>
                  <%= link_to  "#{t :industrial_parts}", industrial_part_path, class: "btn btn-1" %>
                </li>

                <li>
                  <%= link_to "#{t :sports}", sports_related_path, class: "btn btn-1" %>
                </li>

                <li>
                  <%= link_to "#{t :services}", service_related_path, class: "btn btn-1" %>
                </li>
                <li>
                  <%= link_to "#{t :transportation_related}", auto_transportation_path, class: "btn btn-1" %>
                </li>
                
                
              </ul>
            </div>
          <!-- Navbar Cat collapse Ends -->
          </div>
        </nav>
  <!-- Main Menu Ends -->
  </header>
    

<%= yield %>


  <footer id="footer-area">
  <!-- Footer Links Starts -->
    <div class="footer-links">
    <!-- Container Starts -->
      <div class="container">
        <!-- Information Links Starts -->
          <div class="col-md-2 col-sm-6">
            <h5>Information</h5>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Delivery Information</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
            </ul>
          </div>
        <!-- Information Links Ends -->
        <!-- My Account Links Starts -->
          <div class="col-md-2 col-sm-6">
            <h5>My Account</h5>
            <ul>
              <li><a href="#">My orders</a></li>
              <li><a href="#">My merchandise returns</a></li>
              <li><a href="#">My credit slips</a></li>
              <li><a href="#">My addresses</a></li>
              <li><a href="#">My personal info</a></li>
            </ul>
          </div>
        <!-- My Account Links Ends -->          
        <!-- Customer Service Links Starts -->
          <div class="col-md-2 col-sm-6">
            <h5>Service</h5>
            <ul>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Site Map</a></li>
              <li><a href="#">Affiliates</a></li>
              <li><a href="#">Specials</a></li>
            </ul>
          </div>
        <!-- Customer Service Links Ends -->
        <!-- Follow Us Links Starts -->
          <div class="col-md-2 col-sm-6">
            <h5>Follow Us</h5>
            <ul>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">RSS</a></li>
              <li><a href="#">YouTube</a></li>
            </ul>
          </div>
        <!-- Follow Us Links Ends -->
        <!-- Contact Us Starts -->
          <div class="col-md-4 col-sm-12 last">
            <h5>Contact Us</h5>
            <ul>
              <li>Myanmar Dealer.com</li>
              <li>
                No.A (21), U Wisara Road, Industrial Zone, North Dagon, Yangon, Myanmar.
              </li>
              <li>
                Email: <a href="#">info@myanmardealer.com</a>
              </li>               
            </ul>
            <h4 class="lead">
              Tel: <span> (+959) 972646904</span>
            </h4>
          </div>
        <!-- Contact Us Ends -->
      </div>
    <!-- Container Ends -->
    </div>
  <!-- Footer Links Ends -->
  <!-- Copyright Area Starts -->
    <div class="copyright">
    <!-- Container Starts -->
      <div class="container">
      <!-- Starts -->
        <p class="pull-left">
          &copy; 2016 Myanmar Dealers. Powered By <a href="http://www.hnttechs.com">H&Ttechs</a>
        </p>
      <!-- Ends -->
      <!-- Payment Gateway Links Starts -->
        <ul class="pull-right list-inline">
          <li>
            <img src="/assets/payment-icon/mpu.jpg" alt="PaymentGateway" />
          </li>
        
        </ul>
      <!-- Payment Gateway Links Ends -->
      </div>
    <!-- Container Ends -->
    </div>
  <!-- Copyright Area Ends -->
  </footer>

</body>
</html>






