<!DOCTYPE html>
<html>
<head>
  <title>MyanmarDealer</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">
	
  	<%= stylesheet_link_tag    'bootstrap.min.css' %>
	<%= stylesheet_link_tag    'font-awesome.min.css' %>
	<%= stylesheet_link_tag    'owl.carousel.css' %>
	<%= stylesheet_link_tag    'style.css' %>
	<%= stylesheet_link_tag    'responsive.css' %>
	

   <%= javascript_include_tag "jquery.min.js" %>
   <%= javascript_include_tag "jquery_ujs.js" %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

	<header id="header-area">
	<!-- Header Top Starts -->
		<div class="header-top">
			<div class="container">
				<div class="row">
				<!-- Header Links Starts -->
					<div class="col-sm-8 col-xs-12">
						<div class="header-links">
							<ul class="nav navbar-nav pull-left">
								<li>
									<a href="#">
										<i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
										<span class="hidden-sm hidden-xs">
											Home
										</span>
									</a>
								</li>
								<li>
									<a href="#">	
										<i class="fa fa-heart hidden-lg hidden-md" title="Wish List"></i>
										<span class="hidden-sm hidden-xs">
											Wish List(0)
										</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-user hidden-lg hidden-md" title="My Account"></i>
										<span class="hidden-sm hidden-xs">
											My Account
										</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-shopping-cart hidden-lg hidden-md" title="Shopping Cart"></i>
										<span class="hidden-sm hidden-xs">
											Shopping Cart
										</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-crosshairs hidden-lg hidden-md" title="Checkout"></i>
										<span class="hidden-sm hidden-xs">
											Checkout
										</span>
									</a>
								</li>
							
								 <% if seller_signed_in? %>

								 	<li>
                    				<%= link_to 'Logout', destroy_seller_session_path, :method => :delete %>
                    				</li>
                    			
                    			<% else %>

                    				<li>
									<a href="sellers/sign_up">
										<i class="fa fa-unlock hidden-lg hidden-md" title="Register"></i>
										<span class="hidden-sm hidden-xs">
											want to be a SELLER?
										</span>
									</a>
									</li>

                    			

                    			<% end %>

                    			<% if buyer_signed_in? %>

								 	<li>
                    				<%= link_to 'Logout', destroy_buyer_session_path, :method => :delete %>
                    				</li>
                    			
                    			<% end %>



							
							</ul>
						</div>
					</div>
				<!-- Header Links Ends -->
				<!-- Currency & Languages Starts -->
					<div class="col-sm-4 col-xs-12">
						<div class="pull-right">
						<!-- Currency Starts -->
							<ul class="nav navbar-nav pull-left">
							<% if seller_signed_in? %>


							<% elsif buyer_signed_in? %>

 	
                    			
                    		<% else %>

                    			<li>
									<%= link_to 'Seller Login', new_seller_session_path %>
								</li>

								<li>
									<%= link_to 'Buyer Login', new_buyer_session_path %>

								</li>

                    		<% end %>

                    				
							</ul>

                    			

                    		
						<!-- Languages Ends -->
						</div>
					</div>
				<!-- Currency & Languages Ends -->
				</div>
			</div>
		</div>
	<!-- Header Top Ends -->
	<!-- Main Header Starts -->
		

<%= yield %>


	<footer id="footer-area">
	<!-- Footer Links Starts -->
		<div class="footer-links">
		<!-- Container Starts -->
			<div class="container">
				<!-- Information Links Starts -->
					<div class="col-md-2 col-sm-6">
						<h5>Information</h5>
						<ul>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Delivery Information</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms &amp; Conditions</a></li>
						</ul>
					</div>
				<!-- Information Links Ends -->
				<!-- My Account Links Starts -->
					<div class="col-md-2 col-sm-6">
						<h5>My Account</h5>
						<ul>
							<li><a href="#">My orders</a></li>
							<li><a href="#">My merchandise returns</a></li>
							<li><a href="#">My credit slips</a></li>
							<li><a href="#">My addresses</a></li>
							<li><a href="#">My personal info</a></li>
						</ul>
					</div>
				<!-- My Account Links Ends -->					
				<!-- Customer Service Links Starts -->
					<div class="col-md-2 col-sm-6">
						<h5>Service</h5>
						<ul>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Returns</a></li>
							<li><a href="#">Site Map</a></li>
							<li><a href="#">Affiliates</a></li>
							<li><a href="#">Specials</a></li>
						</ul>
					</div>
				<!-- Customer Service Links Ends -->
				<!-- Follow Us Links Starts -->
					<div class="col-md-2 col-sm-6">
						<h5>Follow Us</h5>
						<ul>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">RSS</a></li>
							<li><a href="#">YouTube</a></li>
						</ul>
					</div>
				<!-- Follow Us Links Ends -->
				<!-- Contact Us Starts -->
					<div class="col-md-4 col-sm-12 last">
						<h5>Contact Us</h5>
						<ul>
							<li>Myanmar Dealer.com</li>
							<li>
								No.A (21), U Wisara Road, Industrial Zone, North Dagon, Yangon, Myanmar.
							</li>
							<li>
								Email: <a href="#">info@myanmardealer.com</a>
							</li>								
						</ul>
						<h4 class="lead">
							Tel: <span> (+959) 972646904</span>
						</h4>
					</div>
				<!-- Contact Us Ends -->
			</div>
		<!-- Container Ends -->
		</div>
	<!-- Footer Links Ends -->
	<!-- Copyright Area Starts -->
		<div class="copyright">
		<!-- Container Starts -->
			<div class="container">
			<!-- Starts -->
				<p class="pull-left">
					&copy; 2015 Myanmar Dealers. Powered By <a href="http://www.hnttechs.com">H&Ttechs</a>
				</p>
			<!-- Ends -->
			<!-- Payment Gateway Links Starts -->
				<ul class="pull-right list-inline">
					<li>
						<img src="/assets/payment-icon/cirrus.png" alt="PaymentGateway" />
					</li>
					<li>
						<img src="/assets/payment-icon/paypal.png" alt="PaymentGateway" />
					</li>
					<li>
						<img src="/assets/payment-icon/visa.png" alt="PaymentGateway" />
					</li>
					<li>
						<img src="/assets/payment-icon/mastercard.png" alt="PaymentGateway" />
					</li>
					<li>
						<img src="/assets/payment-icon/americanexpress.png" alt="PaymentGateway" />
					</li>
				</ul>
			<!-- Payment Gateway Links Ends -->
			</div>
		<!-- Container Ends -->
		</div>
	<!-- Copyright Area Ends -->
	</footer>

</body>
</html>
